<div class="product-services col-md-12" *ngIf="servicesIds.length > 0">
    
    <div class="panel panel-default" *ngFor="let serviceProduct of services">
        <div class="panel-heading">
            <h3 class="panel-title">{{serviceProduct.serviceType}}</h3>
        </div>
        <div class="panel-body">
            <p>{{serviceProduct.rules}}</p>
            <div class="form-group">
                <input class="input" type="number" [(ngModel)]="serviceProduct.quantity" min="1" step="1">
                <strong class="service-price text-right">{{changeTotalService(serviceProduct.id) | currencyFormat}}</strong>
            </div>
            <div  class="form-group text-center">
                <a class="btn btn-default" (click)="addService(serviceProduct.id)">
                    {{ !isServiceSelected(serviceProduct) ? 'Adicionar serviço' : 'Atualizar quantidade' }}
                </a>
            </div>
            <div *ngIf="isServiceSelected(serviceProduct)" class="form-group text-center">
                <a class="btn btn-danger" (click)="deleteService(serviceProduct.id, $event)">Remover Serviço</a>
            </div>
            <p *ngIf="isServiceSelected(serviceProduct)" class="text-success">
                <i class="fa fa-check" aria-hidden="true"></i> Serviço adicionado</p>
        </div>
    </div>
</div>

<div class="col-md-12 form-verify-services">
    <p>Veja se há serviços disponíveis para sua localidade</p>
    <form (submit)="getService($event)" class="form-inline">
        <div class="form-group">
            <input class="input" zipcodeMask type="text" name="zipCode" [(ngModel)]="zipCode" maxlength="9">
        </div>
        <button type="submit" class="btn btn-default">OK</button>
    </form>
    <span class="text-danger" *ngIf="messageZipCode">{{messageZipCode}}</span>
</div>
