<main role="main" class="container user-panel-page">
    <div class="container">
        <div class="login-form">
            <div class="row">
                <div class="col-12 col-sm-4 login-new-customer form-group">
                    <h3 class="admake-title">Esta é minha primeira compra</h3>
                    <p>O cadastro em nossa loja é simples e rápido.</p>
                    <a [routerLink]="['/cadastrar']" class="btn btn-lg btn-default btn-block">Criar cadastro</a>
                </div>
                <div class="col-2 d-none d-sm-block"></div>
                <div class="col-12 col-sm-6 login-fields">
                    <h3 class="admake-title">Já sou cadastrado</h3>
                    <p>Informe seu e-mail e senha para se autenticar.</p>
                    <form [formGroup]="formLogin" (submit)="submit($event)">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="E-mail ou CPF" formControlName="cpfEmail" name="cpfEmail" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Senha" formControlName="password" name="password" required>
                            <a [routerLink]="['/recuperar-senha']">Esqueci minha senha</a>
                        </div>

                        <div class="form-group">
                            <button  class="btn btn-lg btn-success btn-block" type="submit">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<div #scriptContainer>

</div>