.breadcrumb{
    padding: 0 0 22px;
    margin: 0;
    background: transparent;
    > li{
        margin-right: 10px;
        padding: 0!important;
        &:before{
            display: none!important;
        }
        a{
            font-size: 14px;
            color: #999999;
            line-height: 20px;
            text-decoration: none;
            &:hover{
                color: darken(#999999, 15%);
            }
        }
        &:after{
            @include fontAwesome('\f105', 'fas', 12px);
            color: #D9D9D9;
            line-height: 20px;
            margin-left: 10px;
        }
        &:last-child{
            a{
                color: #EBC311;
                font-weight: 500;
                &:hover{
                    color: darken(#EBC311, 10%);
                }
            }
            &:after{
               display: none;
            }
        }
    }
}