.category-filter-item{
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 25px;
    .sub-categories{
        margin: 15px 0 20px;
        li{
            padding: 7px 0;
        }
        a{
            font-size: 14px;
            color: #999999;
            font-weight: 400;
            text-decoration: none;
            line-height: 16px;
            display: table;
            transition: 300ms all;
            &:hover{
                font-weight: 500;
                color: #7F7F7F;
            }
        }
    }
}

.category-filter-mobile{
    .btn-filter{
        font-size: 16px;
        color: #838383;
        font-weight: 700;
        text-align: center;
        padding: 15px;
        border: 0 none;
        line-height: 19px;
        @include titleEffect($color: #F5F5F5);
    }
    form{
        padding: 0;
        margin: 0;
        select{
            background: #F5F5F5;
            max-width: 160px;
            height: 50px;
            border-radius: 6px;
            border: 0 none;
            font-weight: 400;
            font-size: 13px;
            color: #757575;
        }
    }
}

.filter-left{
    @media( max-width: 767px ){
        margin-top: 29px;
    }
    .filter-by{
        h3{
            font-size: 18px;
            color: #7F7F7F;
            font-weight: 700;
            line-height: 20px;
            margin: 0 0 10px;
            border: 0 none;
            display: block;
        }
    }
    .filter-items{
        border-bottom: 1px solid #D9D9D9;
        margin: 25px 0;
        b{
            display: block;
            font-size: 18px;
            color: #7F7F7F;
            font-weight: 700;
            line-height: 20px;
        }
        label{
            font-size: 13px;
            color: #7F7F7F;
            font-weight: 400;
            line-height: 16px;
        }
        ul{
            margin: 10px 0 30px;
            li{
                padding: 7px 0;
                a{
                    font-size: 14px;
                    color: #7F7F7F;
                    font-weight: 400;
                    line-height: 16px;
                    transition: 300ms all;
                    display: table;
                    text-decoration: none;
                    &:before{
                        @include fontAwesome('\f00c', 'fas', 8px);
                        color: transparent;
                        text-align: center;
                        line-height: 11px;
                        display: inline-block;
                        vertical-align: middle;
                        margin: -2px 5px 0 0;
                        width: 12px;
                        height: 12px;
                        border-radius: 2px;
                        transition: 300ms all;
                        border: 1px solid #999999;
                    }
                    small{
                        font-size: 10px;
                        color: darken(#7F7F7F, 20%);
                    }
                    &:hover{
                        font-weight: 500;
                        color: #7F7F7F;
                        &:before{
                            color: #fff;
                            background: #3695FF;
                            border-color: #3695FF;
                        }
                    }
                }
            }
        }
    }
}

.pagination-box{
    margin: 40px 0 20px;
    .page-item{
        margin: 0 0 0 5px;
        .page-link{
            background: #F5F5F5;
            width: 30px;
            height: 30px;
            border-radius: 6px;
            border: 0 none;
            font-size: 13px;
            color: #7F7F7F;
            font-weight: 400;
            line-height: 29px;
            text-align: center;
            text-decoration: none;
            transition: 300ms all;
            padding: 0;
            &:hover{
                background: darken(#F5F5F5, 5%);
            }
        }
        &.first,
        &.previous,
        &.next,
        &.last{
            .page-link{
                background: transparent;
                width: 20px;
                &:hover{
                    transform: scale(1.02);
                }
            }    
        }
        &.active{
            .page-link{
                background: #FFD61D;
                color: #050407;
                font-weight: 700;
            }
        }
        &.disabled{
            display: none;
        }
    }
}