.step-payments{
    .panel-heading{
        h4{
            margin: 0;
            border-bottom: 1px solid #F2F2F2;
            a{
                padding: 15px;
                font-size: 16px;
                display: block;
                &:hover{
                    color: #000;
                }
            }
            
        }
    }
    .panel-body{
        padding: 15px;
    }
}