ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.owl-nav.disabled{
    display: none!important;
}

.middleware{
    padding-top: 25px;
    &.is-home{
        padding-top: 0;
    }
}

.btn{
    border: 0 none;
    box-shadow: 0 0 0 transparent;
    &.btn-default{
        background: #E6E6E6;
        border-color: #E6E6E6;
        color: #111;
        &:hover,
        &:focus,
        &:active{
            background: darken(#E6E6E6, 5%);
            border-color: #E6E6E6;
        }
    }
    &.btn-success{
        background: #58C658;
        border-color: #58C658;
        color: #fff;
        &:hover,
        &:focus,
        &:active{
            background: darken(#58C658, 5%);
            border-color: #58C658;
        }
    }
    &.btn-primary{
        background: #F8DA29;
        border-color: #F8DA29;
        color: #292929;
        &:hover,
        &:focus,
        &:active{
            background: darken(#F8DA29, 5%);
            border-color: #F8DA29;
        }
    }
}

.admake-title{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    display: table;
    padding: 18px 20px;
    line-height: 19px;
    @include titleEffect();
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background: #050407;
}
a{
    color: #050407;
    &:hover{
        color: darken(#050407, 25%);
    }
}