.social-list-banners{
    padding: 15px 0;
    h3{
        margin-bottom: 15px;
    }
    .row{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    a{
        overflow: hidden;
        display: block;
        text-decoration: none;
        border-radius: 6px;
        img{
            transition: 300ms all;
        }
        &:hover{
            img{
                transform: scale(1.02);
            }
        }
    }
}

#newsletter{
    background: #1A1A1A;
    padding: 30px 0;
    margin: 10px 0;
    @media( min-width: 768px ){
        padding: 22px 0;
    }
    b{
        display: block;
        font-size: 16px;
        color: #FFFFFF;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        padding: 0 30px;
        @media( min-width: 768px ){
            padding: 0;
            text-align: left;
            margin-left: 15px;
            margin-right: auto;
        }
        @media( min-width: 992px ){
            margin-left: auto;
        }
    }
    .icon{
        @media( max-width: 767px ){
            margin: auto auto 20px;
            display: table;
        }
        @media( min-width: 992px ){
            margin-right: 15px;
        }
    }
    form{
        padding: 20px 20px 0;
        margin-top: 5px;
        @media( min-width: 768px ){
            padding: 0;
        }
        @media( min-width: 992px ){
            margin-top: 0;
        }
        > div{
            > div{
                @media( min-width: 768px ){
                    margin-right: 10px;
                }
            }
        }
        input{
            background: #FFFFFF;
            font-size: 12px;
            color: #999999;
            font-weight: 400;
            padding: 0 15px;
            height: 50px;
            line-height: 50px;
            border-radius: 8px;
            border: 0 none;
            width: 100%;
            margin-bottom: 20px;
            @media( min-width: 768px ){
                width: 290px;
                margin-bottom: 0;
                &[name="name"]{
                    width: 230px;
                }
            }
        }
        button{
            background: #FAC629;
            border-radius: 8px;
            width: 105px;
            height: 50px;
            font-size: 14px;
            color: #0A0A0A;
            font-weight: 700;
            cursor: pointer;
            &:hover{
                background: darken(#FAC629, 10%);
            }
            @media( max-width: 767px ){
                display: table;
                margin: 0 auto;
            }
        }
    }
}

#brands-nav{
        padding-top: 30px;
        padding-bottom: 30px;
    h3{
        margin-bottom: 20px;
    }
    .list-brands-item{
        text-align: center;
        a{
            display: table;
            margin: auto;
            img{
                opacity: .2;
                transition: 300ms all;
            }
            &:hover{
                img{
                    opacity: 1;
                }
            }
        }
    }
}

.footer-row-1,
.footer-row-2{
    padding: 34px 0;
    div[class*="col-"]{
        @media( max-width: 767px ){
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    h3{
        font-size: 16px;
        color: #FAC629;
        font-weight: 700;
        line-height: 20px;
        margin: 0 0 20px;
        padding: 0;
    }
    .col-links{
        li{
            padding: 3px 0;
        }
        a{
            font-size: 14px;
            color: #C8C8C8;
            font-weight: 400;
            text-decoration: none;
            line-height: 18px;
            display: table;
            &:hover{
                color: #FAC629;
            }
        }
    }
    .col-contacts{
        li{
            padding: 3px 0;
            &, a{
                font-size: 14px;
                color: #C8C8C8;
                font-weight: 400;
                text-decoration: none;
                line-height: 18px;
            }
            a{
                &:hover{
                    color: #FAC629;
                }
            }
        }
    }
}

.footer-row-1{
    border-top: 1px solid #F1F1F1;
    .col-frete{
        ul{
            margin: -2px;
            li{
                padding: 2px;
                display: inline-block;
                vertical-align: middle;
                margin: 0;
                span{
                    display: block;
                    font-size: 16px;
                    color: #FAC629;
                    font-weight: 700;
                    line-height: 22px;
                    font-style: italic;
                    padding: 8px 14px;
                    color: #fff;
                    background: #222222;
                    &.pac{
                        background: #006BB9;
                        color: #FAC629;
                    }
                    &.sedex{
                        color: #006BB9;
                        background: #FAC629;
                    }
                    &.retire-na-loja{
                        background: #7F7F7F;
                    }
                }
            }
        }
    }
}


.footer-row-2{
    background: #171818;
}

.copyright{
    padding: 0 0 30px;
    background: #171717;
    @media( min-width: 768px ){
        padding: 40px 0;
    }
    p{
        font-size: 11px;
        color: #7F7F7F;
        font-weight: 400;
        margin: 0;
        padding: 0;
        line-height: 16px;
    }
}