#header-checkout{
    background: rgb(11,11,11);
    .text{
        color: #F8DA29;
    }
}
#header{
    background: rgba(11,11,11,8/10);
    &.other-page{
        background: rgb(11,11,11);
    }
    .brand-fixed-bar{
        display: none;
    }
    &.sticky-top{
        background: rgb(11,11,11);
        .brand-fixed-bar{
            display: block;
        }
        .admake-search{
            .form-search{
                input{
                    min-width: auto;
                }
            }
        }
        .link{
            display: none;
        }
        .social-list{
            order: 4;
        }
        .header-bar-1{
            background: rgb(11,11,11);
        }
        .header-bar-2{
            display: none;
        }
        @media( max-width: 991px ){
            #welcome{
                display: none;
            }
        }
    }

    p, a{
        margin: 0;
        font-size: 14px;
        line-height: 16px;

    }
    .header-bar-1{
        background: #202020;
        color: #fff;
        padding: 10px 0;
        a{
            color: #fff;
            text-decoration: none;
            &:hover{
                color: #F8DA29;
            }
        }
    }
    #welcome{
        i{
            margin: -3px 6px 0 0;
            font-size: 21px;
            display: inline-block;
            vertical-align: middle;
        }
        a{
            color: #F8DA29;
            font-weight: 700;
            &:hover{
                color: darken(#F8DA29, 10%);
            }
        }
    }
    .link{
        i{
            margin-right: 5px;
            &.fa-clipboard-list{
                margin-top: -2px;
                font-size: 21px;
            }
        }
        img{
            display: inline-block;
            vertical-align: middle;
            margin: -2px 5px 0 0;
        }
    }
    .social-list{
        li{
            display: inline-block;
            vertical-align: middle;
            margin: 0 3px;
            a{
                font-size: 20px;
                color: #FFFFFF;
                display: block;
                line-height: 20px;
                min-width: 20px;
                text-align: center;
                i{
                    display: block;
                    margin: auto;
                }
            }
        }
    }
    .admake-search{
        .form-search{
            position: relative;
            padding-right: 40px;
            .icon-search{
                position: absolute;
                top: 0;
                left: 0;
                font-size: 16px;
                color: #CDCDCD;
                width: 25px;
                height: 40px;
                text-align: right;
                line-height: 40px;
            }
            input{
                background: #FFFFFF;
                border: 0 none;
                border-radius: 6px;
                font-size: 12px;
                color: #B9B9B9;
                height: 40px;
                padding: 0 30px 0 15px;
                font-weight: 400;
                @media( min-width: 768px ){
                }
                @media( min-width: 992px ){
                    min-width: 210px;
                    padding-left: 30px;
                }
                @media( min-width: 1200px ){
                    min-width: 250px;
                }
            }
            button{
                background: #FFD61D;
                border: 0 none;
                top: 0;
                right: 0;
                height: 40px;
                font-size: 12px;
                color: #0B0B0B;
                font-weight: 700;
                width: 66px;
                text-align: right;
                padding-right: 10px;
                cursor: pointer;
                @include titleEffect($color: #FFD61D, $position: absolute, $w: 20px);
                &, &:after{
                    transition: 200ms background;
                }
                &:hover{
                    &, &:after{
                        background: darken(#FFD61D, 10%);
                    }
                }
            }
        }
    }
    .mini-cart{
        position: relative;
        > a{
            display: block;
            &:hover{
                transform: scale(1.05);
            }
            span{
                position: absolute;
                right: -18px;
                top: -10px;
                background: #F8DA29;
                border: 3px solid #202020;
                border-radius: 100%;
                width: 26px;
                height: 26px;
                text-align: center;
                line-height: 20px;
                font-size: 14px;
                color: #161618;
                font-weight: 700;
            }
        }
        #header-cart{
            opacity: 0;
            visibility: hidden;
            height: 0;
            position: absolute;
            top: 100%;
            left: 0;
            width: 300px;
        }
    }
    .header-bar-2{
        padding: 15px 0;
        #brand{
            a{
                display: block;
            }
        }
    }
}

#header-mobile{
    background: #111113;
    padding: 12px 0;
    #brand{
        a, img{
            display: block;
        }
    }
    #btn-nav-mobile,
    #btn-search-mobile{
        color: #fff;
        width: 40px;
        height: 40px;
        padding: 0;
        margin: 0;
        border: 0 none;
        background: transparent;
        box-shadow: 0 0 0 transparent;
        font-size: 20px;
    }
    .mini-cart{
        position: relative;
        > a{
            display: block;
            width: 40px;
            height: 40px;
            padding: 7px;
            span{
                position: absolute;
                right: -1px;
                top: -3px;
                background: #F8DA29;
                border: 2px solid #202020;
                border-radius: 100%;
                width: 23px;
                height: 22px;
                text-align: center;
                line-height: 18px;
                font-size: 12px;
                color: #161618;
                font-weight: 700;
            }
        }
    }
    .admake-search-mobile{
        position: fixed;
        top: -100%;
        opacity: 0;
        visibility: hidden;
        left: 0;
        right: 0;
        padding: 12px 15px 12px 45px;
        background: #111;
        transition: 300ms all;
        &.active{
            top: 0;
            opacity: 1;
            visibility: visible;
        }
        #btn-close-search-mobile{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            border: 0 none;
            background: transparent;
            color: #fff;
            font-size: 20px;
            width: 40px;
            padding: 0;
        }
        .form-search{
            display: block;
            position: relative;
            input{
                width: 100%;
                display: block;
                border-radius: 6px;
                border: 0 none;
                background: #fff;
                height: 40px;
                padding: 0 45px 0 15px;
            }
            .button-search{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                border: 0 none;
                background: transparent;
                color: #111;
                font-size: 20px;
                width: 40px;
                padding: 0;
            }
        }
    }
}