#main-banner{
    margin: 0;
    padding: 0;
    .slick-slider{
        margin: 0;
        padding: 0;
    }
    .slick-dots{
        @media( max-width: 767px ){
            display: none!important;
        }
        li{
            width: auto;
            padding: 0;
            margin: 0 5px;
            button{
                width: 100px;
                height: 9px;
                border-radius: 5px;
                background: #fff;
                padding: 0;
                margin: 0;
                &:hover{
                    background: darken(#fff, 15%);
                }
                &:before{
                    display: none;
                }
            }
            &.slick-active{
                button{
                    background: #F8DA29;
                }
            }
        }
    }
}

.welcome-home{
    margin: 20px 0;
    p{
        margin: 0;
        font-size: 15px;
        color: #000000;
        line-height: 20px;
        i{
            margin-right: 6px;
            font-size: 21px;
            color: #E5BE0C;
            line-height: 20px;
        }
        a{
            color: #E5BE0C;
            font-weight: 700;
            text-decoration: none;
            &:hover{
                color: darken(#E5BE0C, 15%);
            }
        }
    }
}

.half-banners{
    margin: 20px 0;
    a{
        text-decoration: none;
        display: block;
        overflow: hidden;
        border-radius: 6px;
        img{
            transition: 300ms all;
        }
        &:hover{
            img{
                transform: scale(1.02);
            }
        }
    }
}
