.institutional-page{
    padding-bottom: 56px;
    .row-first{
        padding-bottom: 56px;
        border-bottom: 1px solid #D9D9D9
    }
}
.admake-institucional{
    h2{
        font-weight: 700;
        font-size: 22px;
        color: #7F7F7F;
        line-height: 28px;
        margin: 30px 0 25px;
        b{
            color: #FAC629;
        }
    }
    h3{
        font-weight: 700;
        font-size: 22px;
        color: #7F7F7F;
        line-height: 28px;
    }
    h4{
        font-weight: 700;
        font-size: 16px;
        color: #7F7F7F;
        line-height: 18px;
        border: 0 none;
    }
    p{
        font-size: 14px;
        color: #7F7F7F;
        font-weight: 400;
        line-height: 26px;
    }
    a{
        color: #7F7F7F;
        text-decoration: none;
        &:hover{
            color: #111;
        }
    }
    ul{
        li{
            font-size: 14px;
            color: #7F7F7F;
            font-weight: 700;
            line-height: 26px;
            b{
                color: #FAC629;
            }
        }
    }
    .bg-1{
        background: #FAC629;
        p,b,a{
            color: #4A4A4A;
        }
        i{
            color: #fff;
        }
    }
    .box-contact{
        border-radius: 6px;
        b{
            line-height: 32px;
        }
        i{
            font-size: 20px;
            margin-right: 3px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .cupom-border{
        background: #F3F3F3;
        border-radius: 6px;
        padding: 55px 15px;
        text-align: center;
        @media( min-width: 992px ){
            padding: 95px 26px;
        }
        @media( min-width: 1200px ){
            padding-left: 56px;
            padding-right: 56px;
        }
        h3{
            max-width: 140px;
            line-height: 22px;
            margin: 0 auto 20px;
        }
        b{
            background: #fff;
            border-radius: 6px;
            display: block;
            padding: 19px 10px;
            text-align: center;
            font-weight: 700;
            font-size: 18px;
            color: #7F7F7F;
            line-height: 22px;
            margin-bottom: 27px;
            @media( min-width: 992px ){
                font-size: 22px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        p{
            font-weight: 400;
            font-size: 16px;
            color: #7F7F7F;
            line-height: 18px;
            text-align: center;
            max-width: 210px;
            margin: 0 auto;
        }
    }
}