@mixin fontAwesome($unicode, $type, $size: 16px){
    content: $unicode;
    @if $type == 'fas' {
        font: 900 $size Font Awesome\ 5 Free;
    }
    @if $type == 'fab' {
        font: 300 $size Font Awesome\ 5 Brands;
    }
}
@mixin titleEffect($color: #050407, $br: 6px, $position: relative, $w: 25px){
    background: $color;
    position: $position;
    border-radius: $br;
    &:after{
        content: "";
        width: $w;
        position: absolute;
        top: 0;
        right: ( $w / 2 ) * -1;
        bottom: 0;
        border-radius: 0 $br+2 $br 0;
        background: $color;
        transform: skewX(-17deg);
        z-index: 1;
    }
}