#admake-nav-list .admake-nav{
    border-top: 1px solid rgba(244, 204, 26, 2/10);
    position: relative;
    .nav-item{
        width: auto;
        max-width: 105px;
        min-width: auto;
        position: static;
        &#_2ab50a38-b4d2-11e7-bc9b-d5da5019924c{
            max-width: 125px;
        }
        .nav-link{
            font-size: 15px;
            color: #FFFFFF;
            font-weight: 500;
            text-align: center;
            line-height: 16px;
            text-decoration: none;
            padding: 10px 5px;
            position: relative;
            @media( min-width: 992px ){
                padding: 18px 5px;
            }
            &:after{
                content: "";
                position: absolute;
                bottom: 8px;
                left: 50%;
                width: 0;
                height: 5px;
                background: transparent;
                transition: 300ms all;
                border-radius: 3px;
            }
        }
        .nav-2-box{
            opacity: 0;
            visibility: hidden;
            height: 0;
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            z-index: 99;
            background: #fff;
            border-radius: 6px;
            padding: 0;
            transition: 300ms all;
            box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 3/10);
            overflow: hidden;
            > ul{
                padding: 30px 55px;
            }
        }
        &:hover{
            .nav-link{
                color: #F8DA29;
                &:after{
                    background: #F8DA29;
                    left: 0;
                    width: 100%;
                }
            }
            .nav-2-box{
                opacity: 1;
                visibility: visible;
                height: auto;
            }
        }
    }
    .nav-2-box{
        > ul > li{
            display: inline-block;
            vertical-align: top;
            padding: 10px 15px;
            width: 45%;
        }
        .nav-2-link{
            font-size: 14px;
            color: #A2A2A2;
            line-height: 20px;
            font-weight: 400;
            text-decoration: none;
            display: table;
            &:hover{
                color: #F8DA29;
                font-weight: 700;
            }
        }
    }
}

.admake-nav-mobile{
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    right: 100%;
    background: #000000;
    z-index: 99999;
    transition: 300ms all;
    &.active{
        left: 0;
        right: 0;
    }
    .nav-mobile-header{
        padding: 20px 15px;
        display: block;
        position: relative;
        z-index: 11;
        #welcome{
            font-size: 14px;
            color: #FFFFFF;
            line-height: 20px;
            i{
                font-size: 21px;
                color: #FFFFFF;
                line-height: 24px;
                margin-right: 10px;
            }
            p{
                margin: 0;
            }
            a{
                font-weight: 700;
                color: #F8DA29;
            }
        }
        .link{
            margin-top: 10px;
            a{
                i{
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 21px;
                    color: #FFFFFF;
                    line-height: 24px;
                    margin-right: 10px;
                }
                color: #fff;
                font-size: 15px;
                color: #FFFFFF;
                line-height: 20px;
            }
        }
        .admake-close-mobile-nav{
            position: absolute;
            right: 15px;
            top: 15px;
            width: 40px;
            height: 40px;
            padding: 0;
            border: 0 none;
            background: transparent;
            color: #F8DA29;
        }
    }
    .nav-mobile-container{
        position: absolute;
        top: 115px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        overflow: scroll;
    }
    .admake-nav{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .nav-item{
            .nav-link{
                background: #262628;
                display: block;
                font-weight: 500;
                font-size: 15px;
                color: #F4CC1A;
                line-height: 16px;
                padding: 20px;
                &.active{
                    background: #000;
                }
            }
        }
        .nav-2-box{
            height: 0;
            opacity: 0;
            visibility: hidden;
            padding: 0;
            background: #000;
            z-index: 999;
            transition: 300ms all;
            &.active{
                height: auto;
                opacity: 1;
                visibility: visible;
                padding: 0 0 20px;
            }
        }
        .nav-2-link{
            font-weight: 400;
            font-size: 13px;
            color: #FFFFFF;
            line-height: 20px;
            display: block;
            padding: 5px 20px;
        }
    }
}