.product-page{

    .image-group{
        position: relative;
        @media( min-width: 768px ){
            padding-right: 100px;
        }
        .image{
            border: 1px solid #D8D8D8;
            border-radius: 6px;
            padding: 15px;
            margin-bottom: 15px;
            @media( min-width: 768px ){
                margin-bottom: 0;
            }
        }
        /* width */
        ::-webkit-scrollbar {
            width: 5px;
            margin-left: 5px;
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
            background: transparent; 
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: transparent; 
        }
        #image-thumb{
            position: absolute;
            top: 0;
            right: 0;
            max-height: 100%;
            overflow: scroll;
            li{
                margin-bottom: 19px;
                a{
                    display: block;
                    width: 70px;
                    height: 70px;
                    border: 1px solid #E1E1E1;
                    border-radius: 6px;
                    padding: 1px;
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
    }

    .product-name{
        h2{
            font-size: 20px;
            color: #7F7F7F;
            font-weight: 500;
            line-height: 23px;
            @media( min-width: 768px ){
                font-size: 24px;
                line-height: 30px;
            }
        }
    }
    .col-details{
        .product-sku{
            font-size: 14px;
            color: #C1C1C1;
            margin: 0;
        }
        .product-variation{
            border-top: 1px solid #E1E1E1;
            padding: 22px 0;
            margin-top: 22px;
            .product-variation-title{
                display: block;
                margin: 0 0 10px;
                font-weight: 500;
                font-size: 15px;
                color: #7F7F7F;
                letter-spacing: 0;
            }
            .product-variation-options{
                margin: -5px;
                display: block;
            }
            .product-variation-option{
                .product-variation-choice{
                    margin: 0;
                    padding: 10px 15px;
                    background: #F5F5F5;
                    font-size: 13px;
                    line-height: 20px;
                    color: #757575;
                    font-weight: 400;
                    border-radius: 6px;
                    border: 0 none;
                    text-align: center;
                    &.product-variation-selected{
                        background: #FFD61D;
                        font-weight: 700;
                        color: #050407;
                        &:before{
                            @include fontAwesome('\f00c', 'fas', 10px);
                            line-height: 20px;
                            background: #050407;
                            border: 0 none;
                            color: #fff;
                            box-shadow: 0 0 0 transparent;
                        }
                    }
                }
            }
        }

        .price-buy-box{
            border-top: 1px solid #E1E1E1;
            border-bottom: 1px solid #E1E1E1;
            padding: 30px 0;
        }
        .product-price-box{
            .old-price{
                font-size: 18px;
                line-height: 18px;
                color: #7F7F7F;
                font-weight: 500;
                .price{
                    text-decoration: line-through;
                }
            }
            .regular-price{
                font-weight: 700;
                font-size: 32px;
                color: #EBC311;
                line-height: 32px;
            }
            a[data-target="#modal-installments"]{
                text-decoration: none;
            }
            .parcelamento{
                font-weight: 400;
                font-size: 16px;
                color: #7F7F7F;
                line-height: 16px;
                text-decoration: none;
                &:hover{
                    color: #7f7f7f;
                }
            }
        }

        .product-buy-box{
            .product-buy-qty{
                .product-buy-qty-label{
                    font-weight: 500;
                    font-size: 15px;
                    color: #999999;
                    line-height: 15px;
                }
                .product-buy-qty-input{
                    margin-left: 2px;
                    position: relative;
                    > button{
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        width: 15px;
                        z-index: 2;
                        border: 0 none;
                        border-radius: 0;
                        background: transparent;
                        font-weight: 500;
                        font-size: 15px;
                        color: #999999;
                        line-height: 33px;
                        text-align: center;
                        padding: 0;
                        transition: 300ms all;
                        cursor: pointer;
                        &:hover{
                            color: #111;
                        }
                        &.delete{
                            left: 0;
                        }
                        &.add{
                            right: 0;
                        }
                    }
                    input{
                        z-index: 1;
                        background: #F5F5F5;
                        border: 0 none;
                        border-radius: 6px;
                        height: 33px;
                        width: 55px;
                        padding: 0 15px;
                        font-size: 12px;
                        line-height: 33px;
                        display: block;
                        text-align: center;
                        &::-webkit-inner-spin-button, 
                        &::-webkit-outer-spin-button { 
                            -webkit-appearance: none; 
                            margin: 0; 
                        }
                    }
                }
            }
            .product-buy-button{
                margin-top: 15px;
                .btn{
                    // background: #;
                    font-weight: 700;
                    font-size: 18px;
                    color: #FFFFFF;
                    height: 60px;
                    text-align: center;
                    width: 170px;
                    transition: 300ms all;
                    @include titleEffect($color: #58C658);
                    &:hover{
                        transform: scale(1.04);
                    }
                }
            }
        }

        .product-shipping-box{
            .cep-form-box{
                background: #FFD61D;
                border-radius: 6px;
                border: 0 none;
                padding: 16px 40px;
                margin-top: 30px;
                @media( max-width: 767px ){
                    text-align: center;
                }
                i{
                    color: #050407;
                    font-size: 20px;
                    @media( max-width: 767px ){
                        margin: 0 auto 5px;
                    }
                }
                p{
                    margin-bottom: 0;
                    font-weight: 700;
                    font-size: 15px;
                    color: #050407;
                    line-height: 15px;
                    @media( max-width: 767px ){
                        margin: 0 auto 5px;
                    }
                    a{
                        font-weight: 400;
                        font-size: 13px;
                        color: #050407;
                        line-height: 13px;
                        display: table;
                        &:hover{
                            color: #111;
                        }
                        @media( max-width: 767px ){
                            margin: 5px auto;
                        }
                    }
                }
                form{
                    @media( max-width: 767px ){
                        margin: 15px 0 0;
                    }
                    input{
                        background: #FFFFFF;
                        font-size: 14px;
                        color: #999999;
                        border: 0 none;
                        border-radius: 6px;
                        letter-spacing: 0;
                        height: 48px;
                        padding: 0 15px;
                    }
                }
            }
            .cep-result{
                th{
                    font-size: 12px;
                }
                td{
                    font-size: 11px;
                }
            }
        }
    }
}

.product-description-box{
    padding: 50px 0;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 50px;
    .product-description-tabs{
        margin: 0 0 15px;
        border: 0 none;
        li{
            a{
                font-size: 14px;
                color: #7F7F7F;
                font-weight: 400;
                text-align: center;
                display: table;
                padding: 18px 20px 18px 40px;
                line-height: 19px;
                text-decoration: none;
                @include titleEffect($color: #F5F5F5);
                &:hover{
                    color: darken(#7f7f7f, 20%);
                }
                &.active{
                    font-size: 16px;
                    color: #fff;
                    font-weight: 700;
                    background: #050407;
                    &:after{
                        background: #050407;
                    }
                }
            }
            
            &:first-child{
                a{
                    padding-left: 20px;
                }
            }
        }
    }
    .product-description-tab-content{
        font-size: 16px;
        color: #7F7F7F;
        letter-spacing: 0;
        line-height: 18px;
    }
}