.showcase{
    &.search-catalog{
        .showcase-items{
            .showcase-item{
                width: 100%;
                padding: 15px;
                @media( min-width: 768px ){
                    width: 50%;
                }
                @media( min-width: 992px ){
                    width: 33.3333333%;
                }
                .showcase-item-border{
                    @media( max-width: 767px ){
                        border-bottom: 1px solid #D9D9D9;
                        padding-bottom: 50px;
                    }
                }
            }
        }    
    }
    .showcase-items{
        .showcase-item{
            .showcase-item-border{
                transition: 300ms all;
                display: block;
                background: #FFFFFF;
                border: 1px solid transparent;
                border-radius: 6px;
                padding: 14px;
                box-shadow: 2px 3px 4px 0 rgba(0,0,0,0);
            }

            .thumb{
                display: block;
                margin-bottom: 40px;
                min-height: 185px;
                @media( min-width: 992px ){
                    min-height: 235px;
                }
                img{
                    display: block;
                    margin: auto;
                    max-height: 185px;
                    @media( min-width: 992px ){
                        max-height: 235px;
                    }
                }
            }
            .product-name{
                min-height: 54px;
                margin: 5px 0 10px;
                a{
                    display: block;
                    font-weight: 500;
                    font-size: 15px;
                    color: #7F7F7F;
                    letter-spacing: 0;
                    line-height: 18px;
                    text-decoration: none;
                    &:hover{
                        color: darken(#7F7F7F, 10%);
                    }
                }
            }

            .price-box{
                min-height: 67px;
                display: block;
                .old-price,
                .regular-price{
                    display: block;
                }
                .old-price{
                    .price{
                        font-size: 14px;
                        color: #C1C1C1;
                        line-height: 20px;
                        text-decoration: line-through;
                    }
                    + .regular-price{
                        margin-top: 0;
                    }
                }
                .regular-price{
                    margin-top: 20px;
                    .price{
                        font-size: 20px;
                        color: #EBC311;
                        font-weight: 700;
                        line-height: 22px;
                    }
                }
                .parcelamento{
                    font-size: 14px;
                    color: #7F7F7F;
                    line-height: 18px;
                    display: block;
                    margin-top: 5px;
                }
            }
            .btn-buy,
            .btn-not-stock{
                font-size: 16px;
                color: #FFFFFF;
                font-weight: 700;
                text-align: center;
                display: table;
                height: 55px;
                padding: 18px 20px;
                line-height: 19px;
                text-decoration: none;
                width: 140px;
                text-align: center;
                border: 0 none;
                box-shadow: 0 0 0 transparent;
                margin-top: 15px;
                &:hover{
                    transform: scale(1.01);
                }
            }
            .btn-buy{
                @include titleEffect($color: #58C658);
            }
            .btn-not-stock{
                @include titleEffect($color: #C1C1C1);
            }
            .comparar{
                display: none;
            }
            &:hover{
                .showcase-item-border{
                    border-color: #F4F4F4;
                    box-shadow: 2px 3px 4px 0 rgba(0,0,0,1/10);
                }
            }
        }
    }
    .owl-carousel{
        .owl-nav{
            .owl-prev,
            .owl-next{
                font-size: 24px;
                color: #E5E5E5;
                letter-spacing: 0;
                text-align: center;
                border: 0 none;
                width: 30px;
                height: 30px;
                padding: 0;
                border-radius: 0;
                background: transparent;
                text-align: center;
                transition: 300ms all;5
                i{
                    display: block;
                }
                &:hover{
                    color: #EBC311;
                }
            }
            .owl-prev{
                float: left;
                margin-left: -15px;
                @media( min-width: 1200px ){
                    margin-left: -60px;
                }
            }
            .owl-next{
                float: right;
                margin-right: -15px;
                @media( min-width: 1200px ){
                    margin-right: -60px;
                }
            }
        }
    }
}