<main role="main" class="container user-panel-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3 col-nav">
                <ul class="nav" *ngIf="store.modality == 1">
                    <li class="user-info w-100">
                        <span>Olá, <b>{{customer.firstname_Companyname}}</b></span>
                        <span class="mail">{{customer.email}}</span>
                        <a (click)="logout()" class="btn-exit" style="cursor: pointer;">Sair</a>
                    </li>
                    <li *ngFor="let module of modules" class="w-100" [ngClass]="{ 'active': (module.module == actual.module) }">
                        <a [routerLink]="['/conta/' + module.module]">{{module.title}}</a>
                    </li>
                </ul>

                <ul class="nav" *ngIf="store.modality == 0">
                    <li class="user-info">
                        <span>Olá, <b>{{customer.firstname_Companyname}}</b></span>
                        <span class="mail">{{customer.email}}</span>
                        <a (click)="logout()" class="btn-exit" style="cursor: pointer;">Sair</a>
                    </li>
                    <li [ngClass]="{ 'active': (actual.module == 'home') }">
                        <a [routerLink]="['/conta/home']">Minhas Conta</a>
                    </li>
                    <li [ngClass]="{ 'active': (actual.module == 'dados-cadastrais') }">
                        <a [routerLink]="['/conta/dados-cadastrais']">Meus Dados Cadastrais</a>
                    </li>
                    <li [ngClass]="{ 'active': (actual.module == 'enderecos') }">
                        <a [routerLink]="['/conta/enderecos']">Meus Endereços</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-9 col-details">
                <section class="details-account">
                    <router-outlet></router-outlet>
                </section>
            </div>
        </div>
    </div>
</main>