<div>
    <div class="admake-title mb-4">Meus Endereços</div>

    <div class="orders-box">
        <div class="row-address">
            <address-panel-list *ngFor="let address of addresses" class="row" [address]="address" (addressDeleted)="handleAdressDeleted($event)"></address-panel-list>
            <div class="w-100 mt-2">
                <div class="border p-1">
                    <a [routerLink]="['/conta/enderecos/novo']" class="btn-add-address">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <span>Adicionar novo endereço</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>