<div id="mini-cart" *ngIf="isMobile()">
    <div class="mini-cart">
        <a [routerLink]="['/carrinho']" title="Meu Carrinho">
            <img src="assets/images/icon-cart.png" alt="Meu Carrinho" width="23" height="24" />
            <span>{{getNumItemsInCart()}}</span>
        </a>
    </div>
</div>
<div id="mini-cart" *ngIf="!isMobile()">
    <div class="mini-cart">
        <a [routerLink]="['/carrinho']" title="Meu Carrinho">
            <img src="assets/images/icon-cart.png" alt="Meu Carrinho" width="23" height="24" />
            <span>{{getNumItemsInCart()}}</span>
        </a>
        <div id="header-cart" class="" *ngIf="cart">
            <ul class="header-cart-items scroll-bar" *ngIf="getNumItemsInCart() > 0">
                <li *ngFor="let item of cart.products" class="header-cart-item clearfix">
                    <span class="actions pull-right">
                        <button class="btn-remove" (click)="deleteItem($event, item)">
                            <i class="fa fa-remove" aria-hidden="true"></i>
                            <span class="sr-only">Remover do Carrinho</span>
                        </button>
                        <span class="update-qty">
                            <input type="number" min="1" step="1" [ngModel]="item.quantity" (ngModelChange)="updateItem($event, item)">
                        </span>
                    </span>
                    <span class="thumb pull-left">
                        <a [routerLink]="[getRoute(item)]" class="link-product">
                            <img *ngIf="item.sku.picture" [attr.src]="getPicture(item.sku)" class="img-responsive image"
                                [attr.alt]="item.name" width="50" height="50">
                            <img *ngIf="!item.sku.picture" [attr.src]="'/assets/images/no-image.jpg'" width="100"
                                height="100" class="img-responsive image" [attr.alt]="item.name" width="50" height="50">
                        </a>
                    </span>
                    <span class="details overflow-hidden">
                        <a [routerLink]="[getRoute(item)]" class="link-product">
                            <b>{{item.name}} {{item.sku.code}} {{item.sku.feature}}</b>

                            <strong>
                                <span class="regular-price">{{item.totalUnitPrice | currencyFormat }}</span>
                            </strong>
                        </a>
                    </span>
                </li>
            </ul>
            <div class="header-cart-footer" *ngIf="getNumItemsInCart() > 0">
                <div class="header-cart-subtotal">
                    <strong>Subtotal:
                        <span class="price">{{getSubTotal() | currencyFormat }}</span>
                    </strong>
                </div>
                <div class="btn-actions" *ngIf="store">
                    <a *ngIf="modality > -1" [routerLink]="['/carrinho']" class="btn btn-default btn-sm" type="button">
                        <i class="fa fa-shopping-cart"></i> {{(store.modality == 1) ? 'Comprar' : 'Comprar'}}</a>
                    <!-- <a  class="btn btn-default btn-sm" type="button"><i class="fa fa-shopping-cart"></i> Comprar</a> -->
                    <checkout-button [store]="store" [cart]="cart"></checkout-button>
                </div>
            </div>
            <div *ngIf="getNumItemsInCart() == 0">
                <strong>Seu carrinho está vazio ou expirado
                </strong>

            </div>
        </div>
    </div>
</div>