<main role="main" class="container checkout-page" *ngIf="store">
    
    <h2 class="page-title admake-title">Meu Carrinho</h2>

    <div class="row-desktop-cart d-none d-sm-block">
        <!--Produtos-->
        <table class="table table-bordered table-checkout" *ngIf="getNumProductsInCart() > 0">
            <thead>
                <tr>
                    <td colspan="2">{{ (getNumProductsInCart() > 1) ? 'Produtos' : 'Produto' }}</td>
                    <td class="text-center" width="120px">Quantidade</td>
                    <td class="text-center" width="150px" *ngIf="showProductValue">Valor Unitário</td>
                    <td class="text-center" width="150px" *ngIf="showProductValue">Total</td>
                    <td width="45px"></td>
                </tr>
            </thead>
            <tbody *ngIf="getNumProductsInCart() > 0">
                <tr *ngFor="let item of getProducts(); trackBy: trackById">
                    <td class="thumb-cart">
                        <img [attr.src]="getPicture(item.sku)" class="img-responsive image" [attr.alt]="item.name">
                    </td>
                    <td>
                        <b class="name">{{item.name}}</b>
                        <span class="sku">Cód. {{item.sku.code}}</span>
                        <span *ngIf="!isHiddenVariation()">
                            <span class="variations" *ngFor="let variation of item.sku.variations">{{variation.name + ': ' + variation.option.name}}</span>
                        </span>
                        <span class="variations" *ngIf="item.sku.feature">{{item.sku.feature}}</span>
                    </td>
                    <td class="text-center">
                        <span class="qty-box">
                            <input type="number" name="qty" [ngModel]="item.quantity" [attr.title]="item.quantity" (ngModelChange)="updateItem($event, item)"
                            min="1" step="1">
                        </span>
                        <div *ngIf="isStorePackageActive() && item.isPackage" class="form-group" style="margin-top: 10%">
                            <input attr.id="package-{{item.id}}" type="checkbox" [checked]="item.isPackageProduct" (click)="updateIsPackageItem($event.target.checked, item)">
                            <label attr.for="package-{{item.id}}">Para Presente?</label>
                        </div>
                    </td>
                    <td class="text-center" *ngIf="showProductValue">
                        <span class="regular-price">{{item.totalUnitPrice | currencyFormat }}</span>
                    </td>
                    <td class="text-center" *ngIf="showProductValue">
                        <span class="total-price">{{item.totalPrice | currencyFormat }}</span>
                    </td>
                    <td class="text-center">
                        <a (click)="deleteItem(item)" class="btn-remove" href="javascript:void(0)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="getNumProductsInCart() == 0">
                <tr>
                    <td colspan="6">
                        <p class="text-muted">Seu carrinho está vazio ou expirado</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--Serviços-->
        <table class="table table-bordered table-checkout" *ngIf="hasServices()">
            <thead>
                <tr>
                    <td>Serviço(s)</td>
                    <td class="text-center">Regras</td>
                    <td class="text-center" width="120px">Quantidade</td>
                    <td class="text-center" width="150px" *ngIf="showProductValue">Valor Unitário</td>
                    <td class="text-center" width="150px" *ngIf="showProductValue">Total</td>
                    <td width="45px"></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cart.services">
                    <td>{{item.serviceType}}</td>
                    <td>{{item.rules}}</td>
                    <td class="text-center">
                        <span class="qty-box">
                            <input type="number" name="qty" [ngModel]="item.quantity" [attr.title]="item.quantity" (ngModelChange)="updateItemService($event, item)"
                             min="1" step="1">
                        </span>
                    </td>
                    <td class="text-center" *ngIf="showProductValue">
                        <span class="regular-price">{{item.totalUnitPrice | currencyFormat }}</span>
                    </td>
                    <td class="text-center" *ngIf="showProductValue">
                        <span class="total-price">{{(item.totalPrice) | currencyFormat }}</span>
                    </td>
                    <td class="text-center">
                        <a (click)="deleteItemService(item)" class="btn-remove" href="javascript:void(0)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row-mobile-cart d-block d-md-none">
        <ul class="mobile-cart-items">
            <!-- Products -->
            <li *ngFor="let item of getProducts()" class="mobile-cart-item d-flex align-items-center justify-content-between">
                <span class="thumb">
                    <a [routerLink]="['/produto/' + item.sku.id]" class="link-product">
                        <img [attr.src]="getPicture(item.sku)" class="img-responsive image" [attr.alt]="item.name" width="50" height="50">
                    </a>
                </span>
                <span class="details">
                    <a [routerLink]="['/produto/' + item.sku.id]" class="link-product">
                        <b>{{item.name}} {{item.sku.code}} {{item.sku.feature}}</b>
                        <span *ngIf="!isHiddenVariation()"><span class="variations" *ngFor="let variation of item.sku.variations">{{variation.name + ': ' + variation.option.name}}</span></span>
                        <strong>
                            <span class="regular-price">{{item.totalUnitPrice | currencyFormat }}</span>
                        </strong>
                    </a>
                </span>
                <span class="actions">
                    <button class="btn-remove" (click)="deleteItem(item)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        <span class="sr-only">Remover do Carrinho</span>
                    </button>
                    <span class="update-qty">
                        <input type="number" min="1" step="1" [ngModel]="item.quantity" (ngModelChange)="updateItem($event, item)">
                    </span>
                    <div *ngIf="isStorePackageActive() && item.isPackage" class="form-group" style="margin-top: 10%">
                        <input attr.id="package-{{item.id}}" type="checkbox" [checked]="item.isPackageProduct" (click)="updateIsPackageItem($event.target.checked, item)">
                        <span attr.for="package-{{item.id}}">Para Presente?</span>
                    </div>
                </span>
            </li>
        </ul>
    </div>

    <div class="row row-no-products-in-cart" *ngIf="getNumItemsInCart() == 0">
        <div class="container">
            <p>Seu carrinho está vazio ou expirado</p>
            <a [routerLink]="['/']" class="btn btn-info pull-right">{{(modality == 1) ? 'CONTINUAR COMPRANDO' : 'CONTINUAR ORÇANDO'}}</a>
        </div> 
    </div>

    <div class="row checkout-total justify-content-between align-items-center" *ngIf="getNumItemsInCart()">
        
        <div class="col-12 col-sm-5 d-none" *ngIf="!isCatalog()">
           <!-- Selos List -->
           <div class="col-6">
                <a id="seloEbit" href="http://www.ebit.com.br/dd-maquinas/selo" target="_blank" onclick="redir(this.href);" title="Avaliado pelos consumidores"
                    oncontextmenu="alert(&quot;Cópia proibida ! A certificação e-bit é de uso exclusivo de lojas conveniadas à e-bit.&quot;);return false;"
                    value="1" style="display: block; overflow: hidden; position: relative;">
                    <img class="img-responsive" src="https://imgebit-a.akamaihd.net/ebitBR/selo/img_76208.png" style="border: 0px;">
                    <script id="facebook-jssdk" src="//connect.facebook.net/pt_BR/sdk.js#xfbml=1&amp;version=v2.10"></script>
                    <script src="//validator.ebit.com.br?ebitId=76208&amp;typeTag=selo&amp;urlOrigin=http%3A%2F%2Fwww.ddmaquinas.com.br%2F" async="true"></script>
                </a>
            </div>
            <div class="col-6">
                <p>
                    <!-- Certificado Botão modal -->
                    <button type="button" class="btn btn-success-home font14" data-toggle="modal" data-target="#certificadoModal">
                        <i class="fa fa-certificate" aria-hidden="true"></i> Site seguro
                    </button>
                </p>
                <p>
                    <i class="fa fa-truck"></i> Entrega rápida
                </p>
                <p>
                    <i class="fa fa-money"></i> Até 10x sem juros
                </p>
                <p>
                    <i class="fa fa-lock"></i> Segurança total
                </p>
                <!-- Modal box -->
                <div class="modal fade" id="certificadoModal" tabindex="-1" role="dialog" aria-labelledby="certificadoModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h5 class="modal-title" id="exampleModalLabel">Certificado</h5>
                            </div>
                            <div class="modal-body">
                                ....
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal box -->
            </div>
            <!-- Selos List -->
            <shipping-calc [cart]="cart" (cartUpdated)="handleCartUpdated($event)"></shipping-calc>
        </div>

        <div class="col-12 col-sm-4">
            <coupon [cart]="cart" (cartUpdated)="handleCartUpdated($event)"></coupon>
        </div>

        <div class="col-2 d-none d-sm-block"></div>

        <div [ngClass]="{'col-sm-12': isCatalog(), 'col-12 col-sm-6 col-lg-offset-1': !isCatalog()}">
            <div class="total-box">
                <table *ngIf="showProductValue">
                    <tbody>
                        <tr class="subtotal">
                            <td class="text-left">
                                <span>Subtotal ({{getNumItemsInCart() + ' ' + (getNumItemsInCart() > 1 ? 'itens' : 'item')}})</span>
                            </td>
                            <td class="text-right">
                                <strong>{{getSubTotal() | currencyFormat }}</strong>
                            </td>
                        </tr>
                        <tr class="descont" *ngIf="!isCatalog()">
                            <td class="text-left">
                                <span>Desconto</span>
                            </td>
                            <td class="text-right">
                                <strong *ngIf="getDiscount()">- {{getDiscount() | currencyFormat }}</strong>
                            </td>
                        </tr>
                        <tr class="services" *ngIf="getTotalService() > 0">
                            <td class="text-left">
                                <span>Serviços</span>
                            </td>
                            <td class="text-right">
                                <strong>{{getTotalService() | currencyFormat }}</strong>
                            </td>
                        </tr>
                        <tr class="package" *ngIf="cart.totalPackagePrice > 0">
                            <td class="text-left">
                                <span>Embrulho</span>
                            </td>
                            <td class="text-right">
                                <strong>{{cart.totalPackagePrice | currencyFormat}}</strong>
                            </td>
                        </tr>
                        <tr class="shipping" *ngIf="!isCatalog()">
                            <td class="text-left">
                                <span>Frete</span>
                            </td>
                            <td class="text-right" *ngIf="cart.shipping != null">
                                <strong *ngIf="!getShipping() && getExistShipping()">Frete Grátis</strong>
                                <strong *ngIf="getShipping() != 0">{{getShipping() | currencyFormat }}</strong>
                            </td>
                            <td class="text-right" *ngIf="cart.shipping == null">
                                <strong>--</strong>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="total">
                            <th class="text-left">
                                <span>Total</span>
                            </th>
                            <th class="text-right">
                                <strong>{{getTotal() | currencyFormat }}</strong>
                            </th>
                        </tr>
                    </tfoot>
                </table>
                

                <div class="union-btn-checkout d-flex justify-content-between align-items-center flex-wrap flex-md-nowrap">
                    <a [routerLink]="['/']" class="btn p-3 btn-default btn-back-to-buy btn-block mr-sm-3">{{(modality == 1) ? 'Continuar Comprando' : 'Continuar Orçando'}}</a>
                    <checkout-button *ngIf="modality > -1" icon="true" [store]="store" [text]="buttonLabel" [cart]="cart" class="especial w-100"></checkout-button>
                </div>
                    
            </div>
        </div>

    </div>
    <div class="cart-showcase" *ngIf="store">
        <cart-showcase [store]="store"></cart-showcase>
    </div>
</main>