<main role="main" class="product-page" *ngIf="isProductLoaded()">

    <div class="product-page-details">
        <div class="bread-crumb d-none d-sm-block">
            <div class="container">
                <bread-crump [categorys]="getBreadCrump()"></bread-crump>
            </div>
        </div>

        <div class="container">

            <div class="row product-details">
                <div class="col-image col-12 col-sm-7">
                    <product-gallery [sku]="sku" [store]="getStore()"></product-gallery>
                </div>
                <div class="col-details col-12 col-sm-5">
                    <div class="product-name">
                        <h2>{{product.name}}</h2>
                    </div>
                    <div class="star-sku-box d-flex">
                        <div class="rating-stars" *ngIf="getRating() > 0">
                            <span class="star">
                                <i class="fa" [ngClass]="{'fa-star':totalNote > 0, 'fa-star-o':totalNote < 1}" aria-hidden="true"></i>
                                <i class="fa" [ngClass]="{'fa-star':totalNote > 1, 'fa-star-o':totalNote < 2}" aria-hidden="true"></i>
                                <i class="fa" [ngClass]="{'fa-star':totalNote > 2, 'fa-star-o':totalNote < 3}" aria-hidden="true"></i>
                                <i class="fa" [ngClass]="{'fa-star':totalNote > 3, 'fa-star-o':totalNote < 4}" aria-hidden="true"></i>
                                <i class="fa" [ngClass]="{'fa-star':totalNote > 4, 'fa-star-o':totalNote < 5}" aria-hidden="true"></i>
                            </span>
                            <span class="qty">({{getRating()}})</span>
                        </div>
                        <div class="product-sku">Cód: <span>{{sku.code}}</span></div>
                    </div>
                    <!-- <div class="product-sku col-md-12">Marca: <span>{{product.brand.name}}</span></div> -->
                    
                    <div *ngIf="isProductRelated()" class="product-variation">
                        <related-products [relatedProducts]="related" [product]="product" (productUpdated)="handleProductUpdated($event)"></related-products>
                    </div>

                    <div *ngIf="!isProductRelated() && !isHiddenVariation() && product.skus.length > 0" class="product-variation">
                        <product-variation [selected]="sku" (skuUpdated)="handleSkuUpdated($event)" (allOptionsSelected)="handleOptionChanged($event)" [skus]="product.skus"></product-variation>
                    </div>

                    <div class="product-variation-item" *ngIf="product.selfColor">
                        <legend class="product-variation-title">Cor selecionada:</legend>
                        <span class="product-variation-option" *ngIf="!feature">
                            <a href="#" (click)="colorPicker($event)">Nenhuma cor selecionada</a>
                        </span>
                        <span class="product-variation-option" *ngIf="feature">
                            <span class="self-color-selected" [style.background-color]="selfColor.Hex"></span>
                            <span class="self-color-text">
                                <a href="#" (click)="colorPicker($event)">{{feature}}</a>
                            </span>
                        </span>
                    </div>

                    <div class="product-available-price-box" *ngIf="isProductAvailable()">

                        <div class="price-buy-box d-flex justify-content-between align-items-center flex-wrap flex-sm-nowrap">
                            <div id="preco_produto" *ngIf="(sku.promotionalPrice > 0 && sku.price > 0) || (sku.promotionalPrice == 0 && sku.price > 0)">
                                <div class="product-price-box" *ngIf="sku.price > 0">
                                    <span class="old-price d-block" *ngIf="sku.promotionalPrice > 0 && sku.price > 0">
                                        <span class="price-label">De</span>
                                        <span class="price">{{sku.price | currencyFormat}}</span>
                                    </span>
                                    <span class="regular-price d-block">
                                        <span class="price" *ngIf="sku.promotionalPrice > 0 && sku.price > 0">{{sku.promotionalPrice | currencyFormat}}</span>
                                        <span class="price" *ngIf="sku.promotionalPrice == 0 && sku.price > 0">{{sku.price | currencyFormat}}</span>
                                    </span>
                                    <!-- <div class="label_desconto">
                                        <span class="label label-default arrowed">{{ porcentagemPromotionalPrice }} %</span>
                                    </div> -->
                                    <!-- <installment-simulation *ngIf="!isCatalog()" [isSimpleSimulation]="true" [sku]="sku" [sku]="sku"></installment-simulation> -->
                                    <installment-simulation *ngIf="!isCatalog()" [sku]="sku" [sku]="sku"></installment-simulation>
                                </div>
                            </div>
                            
                            <!--BUY-->
                            <div class="product-buy-content">
                                <div class="product-buy-box">
                                    <div class="product-buy-qty d-flex align-items-center">
                                        <span class="product-buy-qty-label">Qtd.</span>
                                        <span class="product-buy-qty-input">
                                            <button class="remove" (click)="addRemoveQty('del')">-</button>
                                            <input type="number" id="product-qty" value="1" min="1" max="{{ sku.stock }}" (blur)="qtyProduct($event)" step="1" [(ngModel)]="quantity">
                                            <button class="add" (click)="addRemoveQty('add')">+</button>
                                        </span>
                                    </div>
    
                                    <div class="product-buy-button">
                                        <button class="btn btn-success btn-block btn-lg" (click)="addToCart()">
                                            <span *ngIf="modality == 1">Comprar</span>
                                            <span *ngIf="modality == 0">Orçar</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="stock-info stock-alert" *ngIf="showStock()">
                                    <p>Temos apenas {{sku.stock}} no estoque</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="product-shipping-box">
                            <product-shipping [store]="store" [product]="product" [quantity] = "quantity"></product-shipping>
                        </div>

                    </div>

                    <div class="product-unavaliable" *ngIf="!isProductAvailable()">
                        <b>Produto temporariamente indisponível</b>

                        <form [formGroup]="productAwaitedForm" (submit)="receiveProductsAwaited($event)" class="form-inline">
                            <p>Avise-me quando estiver disponível</p>
                            <div class="form-group box-name" [ngClass]="{'has-error': hasError('name')}">
                                <label for="name" class="sr-only">Nome</label>
                                <input type="text" name="name" [(ngModel)]="productsAwaited.name" class="form-control form-input" placeholder="Nome" required
                                    formControlName="name">
                            </div>
                            <div class="form-group box-email" [ngClass]="{'has-error': hasError('email')}">
                                <label for="email" class="sr-only">E-mail</label>
                                <input type="email" name="email" [(ngModel)]="productsAwaited.email" class="form-control form-input" placeholder="E-mail"
                                    formControlName="email" required>
                                <button type="submit" id="btn-productsawaited" class="btn btn-clear">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="form-group">
                                <div *ngIf="hasError('name')" class="text-danger">O campo Nome é obrigatório</div>
                                <div *ngIf="hasError('email')" class="text-danger">E-mail inválido</div>
                            </div>
                        </form>
                    </div>
                
                </div>
                
            </div>
        </div>

    </div>

    <div class="product-description-box">
        <div class="container">

            <ul class="product-description-tabs nav nav-tabs" role="tablist">
                <li role="presentation" *ngIf="product.description">
                    <a href="#tab-product-info" class="active show" aria-controls="tab-product-info" role="tab" data-toggle="tab">Informações do produto</a>
                </li>
                <li role="presentation" *ngIf="hasTechnicalInformation()">
                    <a href="#tab-product-specs" aria-controls="#tab-product-specs" role="tab" data-toggle="tab">Especificações Técnicas</a>
                </li>
                <li role="presentation" *ngIf="product.fileGuide">
                    <a href="#tab-product-manual" aria-controls="#tab-product-manual" role="tab" data-toggle="tab">Manual do Produto</a>
                </li>
                <li role="presentation" *ngIf="product.videoEmbed">
                    <a href="#tab-product-video" aria-controls="#tab-product-video" role="tab" data-toggle="tab">Vídeo do Produto</a>
                </li>
                <!-- <li role="presentation" *ngIf="productsRating.customers">
                    <a href="#tab-product-rating" aria-controls="#tab-product-rating" role="tab" data-toggle="tab">Avaliações do Produto ({{productsRating.customers.length}})</a>
                </li> -->
            </ul>

            <!-- Tab panes -->
            <div class="product-description-tab-content tab-content">
                <div role="tabpanel" class="tab-pane fade in active show" id="tab-product-info">
                    <div class="well" [innerHTML]="product.description"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab-product-specs">
                    <div class="well">
                        <table class="table">
                            <tbody>
                                <tr *ngFor="let techInfo of product.technicalInformation">
                                    <td class="field">{{techInfo.name}}</td>
                                    <td class="value">{{techInfo.description}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab-product-manual">
                    <div class="well">
                        <div class="form-group">
                            <a (click)="downloadGuide($event)" href="#" rel="nofollow" class="btn btn-default">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Baixe aqui o manual do produto
                            </a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab-product-video">
                    <div class="well">
                        <div class="form-group">
                            <iframe [attr.src]="videoSafeUrl" width="600" height="300">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="product-suggestions">
        <div class="container">
            <cross-selling *ngIf="product.crossSellingComplete.length > 0" [store]="getStore()" [products]="product.crossSellingComplete"></cross-selling>
        </div>
    </div>

    <div class="product-rating-box" *ngIf="productsRating.customers">
        <div class="container">
            <product-rating [product]="product" (ratingUpdated)="handleRating($event)"></product-rating>
        </div>
    </div>

</main>