<ul class="admake-nav d-sm-flex align-items-sm-stretch justify-content-sm-between flex-wrap flex-lg-nowrap">
    <li *ngFor="let category of categories" [ngClass]="{'has-children': category.children.length > 0, 'nav-item': true}" id="_{{ category.id }}">
        <a [routerLink]="[getRoute(category)]" class="nav-link">
            {{category.name}}
        </a>
        <div *ngIf="category.children.length > 0" class="nav-2-box d-sm-flex align-items-sm-stretch justify-content-sm-between">
            <ul>
                <li *ngFor="let sub1 of category.children" [ngClass]="{'has-children': sub1.children.length > 0}">
                    <a href="javascript:void(0)" (click)="goRoute(sub1)" class="nav-2-link" [attr.title]="sub1.name">{{sub1.name}}</a>
                    <!-- <ul *ngIf="sub1.children.length > 0" class="dropdown-menu">
                        <li *ngFor="let sub2 of sub1.children" [ngClass]="{'dropdown': sub1.children.length > 0}">
                            <a [routerLink]="[getRoute(sub2)]" [attr.title]="sub2.name">{{sub2.name}}</a>
                            <ul *ngIf="sub2.children.length > 0" class="dropdown-menu">
                                <li *ngFor="let sub3 of sub2.children">
                                    <a [routerLink]="[getRoute(sub3)]" [attr.title]="sub3.name">{{sub3.name}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul> -->
                </li>
            </ul>
            <div *ngIf="category.picture" class="banner-nav-2 d-none d-md-block">
                <img [attr.src]="getPictureCategory(category)" [attr.alt]="category.name">
            </div>
        </div>
    </li>
</ul>


    <!-- <li class="" *ngIf="!isLoggedIn">
        <a [routerLink]="['/login']" title="Entre">Entre / Cadastrar</a>
    </li>
    <li class="" *ngIf="isLoggedIn">
        <a [routerLink]="['/conta/pedidos']" title="Meus Pedidos">Meus Pedidos</a>
    </li> -->

    