<div class="col-12 col-sm-4">
    <div class="border p-2">
        <div class="address-header d-flex align-items-center justify-content-between">
            <b>{{(address.mainAddress ? 'Endereço Principal' : '&nbsp;')}}</b>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-clear btn-edit" [routerLink]="['/conta/enderecos/' + address.id]"><i class="far fa-edit"></i></a>
                <button [ngClass]="{'disabled': address.mainAddress}" class="btn btn-clear btn-remove" (click)="askForDelete()"><i class="far fa-trash-alt"></i></button>
            </div>
        </div>
        <div class="address-details">
            <b class="name">{{address.addressName}}</b>
            <p>
                {{address.addressLine1}}, {{address.number}}<br />
                {{address.addressLine2}}<br *ngIf="address.addressLine2" />
                {{address.district}}<br />
                CEP {{address.zipCode}} - {{address.city}}/{{address.state}}
            </p>
        </div>
    </div>
</div>