// @import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
body {
  font-family: 'Ubuntu', sans-serif;
}
#layout{padding-bottom: 10px;}
a, button, input[type="button"], input[type="submit"] {transition: 300ms all;}
a {color: #337ab7;text-decoration: none;}
a:hover {color: #4f4f4f;text-decoration: none;}
input:focus, button:focus {outline: none;}
.navbar-brand {padding: 0px;}
.navbar-brand>img {height: 100% !important;padding: 15px !important;width: auto !important;}
.btn {border-radius: 4px;border: 0 none;text-shadow: 0 0 0 transparent;box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.2);}
.btn.btn-default {background: #F2F2F2;font-size: 16px;color: #757575;}
.btn.btn-default:hover {background: #e5e5e5;}
.btn.btn-success {/*background: #69C900;*/background: #fac629;font-size: 20px;color: #fff;}
.btn.btn-success:hover {/*background: #5cb000;*/background: #ffb600;}
.btn.btn-success.btn-no-selected {background-color: #F2F2F2;color: #757575;}
.btn.btn-success-home {background: #69C900;font-size: 20px;color: #fff;}
.btn.btn-success-home:hover {background: #69C900;}
.btn.btn-success-new {background: #fac629;font-size: 20px;color: #fff;}
.btn.btn-success-new:hover {background: #ffb600;}
.btn.btn-clear {background: transparent;border: 0 none;border-radius: 0;box-shadow: 0 0 0 transparent;font-size: 16px;color: #757575;}
.btn.btn-clear:hover {
  color: #4f4f4f;
}

// .middleware{
//   padding-top: 20px;
// }

.owl-carousel .owl-item img {
  width: auto;
  height: auto;
  max-width: 100%;
}

.owl-carousel .owl-nav {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 0;
}

.owl-carousel .owl-nav > div {
  /*width: 15px !important;*/
  /*height: 30px !important;*/
  /*background: transparent !important;
  border: 0 none;
  border-radius: 0;
  text-align: center;
  line-height: 30px !important;
  padding: 0;
  margin: -15px 0 0 !important;
  font-size: 30px !important;
  color: #757575 !important;
  transition: 300ms all !important;*/
  
}

.owl-carousel div.owl-prev {
  /*float: left;*/
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.owl-carousel div.owl-next {
  /*float: right;*/
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.owl-carousel .owl-nav > div:hover {
  /*background: transparent !important;
  color: #4f4f4f !important;*/
}




.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.4);
  z-index: 40;
  transition: 300ms all;
  cursor: pointer;
}

.mask:hover {
  background: rgba(0, 0, 0, 0.2);
}


.list-style-none {
  list-style: none;
  padding: 0;
  margin: 0;
}


.overflow-hidden {
  overflow: hidden;
  display: block;
}


.col-padding {
  padding-left: 15px;
  padding-right: 15px;
}


.page-title {
  font-size: 24px;
  color: #757575;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin: 15px 0;
  padding: 0;
}




#header {
  // position: relative;
  z-index: 30;
}

#header .nav-top {
  border: 0 none;
  background-color: #fac629;
  padding: 0px 0px 7px 0px;
  min-height: auto;
  border-radius: 0;
  margin: 0;
}

#header .nav-top ul {
  margin: 0;
}

#header .nav-top .phone, #header .nav-top .help {
  font-size: 14px;
  color: #fff;
  border-color: #fac629;
  padding: 5px 7px;
  cursor: pointer;
  display: block;
  float: left;
}
#header .nav-top .phone:hover, #header .nav-top .help:hover {
  background: #ffb600;
  border-color: #ffb600;
}

#header .nav-top .information-nav ul.list-inline > li {padding: 0em;}
#header .nav-top .information-nav a {font-size: 14px;color: #fff;border-color: #fac629;padding: 5px 7px;cursor: pointer;display: block;}
#header .nav-top .information-nav a:hover {background: #ffb600;border-color: #ffb600;}
#header .header-bar {padding: 20px 0;background-color: #fac629;}
#header .header-bar #brand, #header .header-bar #brand h1 {
  margin: 0;
  padding: 0;
}

#header .header-bar #welcome p, #header .header-bar #welcome p a {
  font-size: 14px;
  color: #666;
}

#header .header-bar .form-search {
  position: relative;
  margin-left: 2em;
  width: 32em;
}

#header .header-bar .form-search input {
  display: block;
    border-radius: 6px;
    width: 100%;
    height: 46px;
    line-height: 1.3333333;
    padding: 10px 45px 10px 15px;
    border: 0px;
    border: 1px solid #fff !important;
    color: #555;
    background-color: #fff;
    background-image: none;
}

#header .header-bar .form-search .button {
  background: transparent;
  border: 0 none;
  position: absolute;
  right: 0;
  color: #757575;
  top: 0;
  font-size: 20px;
  padding: 10px;
  height: 48px;
  width: 48px;
  border-color: transparent;
  outline: 0;
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  border: 1px solid #fff !important;
}

#header .header-bar .form-search .button:active {
  color: #fff;
  border-color: transparent;
  outline: 0;
  background-color: #ffb600;
}

#header .header-bar .form-search .button i {
  color: #fac629;
  border-color: transparent;
  background-color: #fff;
}
#header .header-bar .form-search .button:active i {
  color: #fff;
  border-color: transparent;
  background-color: #fac629;
}

#header .header-bar #brand, #header .header-bar #brand h1{margin:-.2em 0em 0em;}

#header .header-bar #mini-cart {
  padding: 0px;
}

#header .header-bar #mini-cart .mini-cart {
  position: relative;
  padding: 0px 0px 1px 0px;
  border: 1px solid #fff !important;
  border-radius: 6px;
  height: 44px;
  color: #fff;
  background-color: #fac629;
  border-color: #ffb600;
}

#header .header-bar #mini-cart .mini-cart .left {
  float: left;
}
#header .header-bar #mini-cart .mini-cart .left i {
  padding: 12px 1em;
  background: #fff;
  height: 42px;
  border-radius: 5px 0px 0px 5px;
  color: #fac629;
  font-size: 19px;
}
#header .header-bar #mini-cart .mini-cart .right {float: left;}
#header .header-bar #mini-cart .mini-cart .right > a {
  box-shadow: none;
  color: #fff;
  padding: .5em 1em;
  margin: 0em;
}
#header .header-bar #mini-cart .mini-cart .right a:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

#header .header-bar #mini-cart .mini-cart > a {
  text-decoration: none;
}

#header .header-bar #mini-cart .mini-cart > a .name-cart {
  font-size: 14px;
  color: #757575;
  padding-left: 15px;
}

#header .header-bar #mini-cart .mini-cart > a i {
  color: #757575;
  font-size: 29px;
}

#header .header-bar #mini-cart .mini-cart > a .badge-success {
  background-color: #69C900;
  font-size: 12px;
  font-weight: 500;
  color: #FFF;
  position: absolute;
  left: 21px;
  top: -6px;
  border: 2px solid #FFF;
}

#header .header-bar #mini-cart .mini-cart #header-cart {
  padding: 10px;
}

#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-items {
  padding: 10px 15px;
  margin: 0;
  list-style: none;
  overflow-y: auto;
}

#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-items .header-cart-item {
  border-top: 1px solid #D9D9D9;
  padding: 10px 0;
  width: 15em;
}

#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-items .header-cart-item:first-child {
  border-top: 0 none;
}

#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-items .header-cart-item .actions {
  margin-left: 10px;
}

#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-items .header-cart-item .actions .btn-remove {
  border: 0 none;
  background: transparent;
  display: block;
  width: 45px;
  height: 25px;
  margin-bottom: 5px;
  color: #757575;
}

#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-items .header-cart-item .actions .btn-remove:hover {
  color: #D0011B;
}

#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-items .header-cart-item .actions .update-qty {
  display: block;
  position: relative;
  max-width: 45px;
}

#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-items .header-cart-item .actions .update-qty input {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  font-size: 12px;
  color: #757575;
  height: 25px;
  width: 45px;
  text-align: center;
  padding: 0 0px;
}

#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-items .header-cart-item .actions .update-qty .btn-update {
  border: 0 none;
  background-color: transparent;
  width: 15px;
  height: 25px;
  position: absolute;
  top: 0;
  font-size: 12px;
  color: #999999;
  font-weight: 400;
  padding: 0;
}

#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-items .header-cart-item .actions .update-qty .btn-update.btn-update-del {
  left: 0;
}

#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-items .header-cart-item .actions .update-qty .btn-update.btn-update-add {
  right: 0;
}

#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-items .header-cart-item .actions .update-qty .btn-update:hover {
  color: #69C900;
}

#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-items .header-cart-item .thumb {
  padding-right: 10px;
}

#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-items .header-cart-item .details a {
  text-decoration: none;
  text-transform: lowercase;
}
#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-items .header-cart-item .details a:hover b {
  color: #fac629;
}

#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-items .header-cart-item .details a b {
  font-size: 12px;
  color: #757575;
  line-height: 14px;
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
}

#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-items .header-cart-item .details a strong {
  display: block;
}

#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-items .header-cart-item .details a strong .old-price {
  font-size: 11px;
  color: #999999;
  line-height: 15px;
  text-decoration: line-through;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-items .header-cart-item .details a strong .regular-price {
  font-size: 13px;
  color: #ef5350;
  line-height: 15px;
  display: inline-block;
  vertical-align: top;
  text-transform: capitalize;
  font-weight: 100;
}

#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-footer {
  background-color: #fff;
  border-top: 1px solid #D9D9D9;
}

#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-footer .header-cart-subtotal {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 1em;
}

#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-footer .header-cart-subtotal strong {
  font-size: 14px;
  color: #231F20;
  line-height: 16px;
  display: block;
  font-weight: 100;
}
#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-footer .header-cart-subtotal strong .price {
  font-size: 13px;
  color: #ef5350;
  font-weight: 100;
}

#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-footer .btn-actions {text-align: center;}
#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-footer .btn-actions .btn {
  background: #fff;
  border: 0em;
  box-shadow: none;
  font-size: 12px;
}
#header .header-bar #mini-cart .mini-cart #header-cart .header-cart-footer .btn-actions .btn:hover {
  background: #e6e6e6;
}

#header .header-bar #mini-cart .mini-cart:active #header-cart {
  visibility: visible;
  margin-top: 10px;
  opacity: 1;
  height: auto;
}




#main-nav {
  background: #FFFFFF;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

#main-nav .border-top {
  border-top: 1px solid #D9D9D9;
}

#main-nav .items .level1 {
  margin: 0;
}

#main-nav .items .level1 .level1-item {
  padding: 0;
  margin: 0;
  position: relative;
}

#main-nav .items .level1 .level1-item .level1-link {
  border-bottom: 3px solid transparent;
  font-weight: 400;
  font-size: 14px;
  color: #999999;
  text-transform: uppercase;
  padding: 15px 6px 12px;
  display: block;
}

#main-nav .items .level1 .level1-item .level1-link .icon {
  display: inline-block;
  margin-right: 8px;
}

#main-nav .icon img{
  height: 18px;
  width: auto;
}


#main-nav .items .level1 .level1-item .level2 {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  height: 0;
  top: 100%;
  margin-top: 50px;
  left: 0;
  list-style: none;
  padding: 0 25px;
  z-index: 20;
  width: 255px;
  background: #FAFAFA;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2), 0 14px 14px 0 rgba(0, 0, 0, 0.2);
  transition: 200ms all;
}

#main-nav .items .level1 .level1-item .level2 .level2-item {
  padding: 10px 0;
}

#main-nav .items .level1 .level1-item .level2 .level2-item .level2-link {
  font-size: 14px;
  color: #999999;
  line-height: 20px;
  font-weight: 400;
}

#main-nav .items .level1 .level1-item .level2 .level2-item .level2-link:hover {
  color: #757575;
}

#main-nav .items .level1 .level1-item:hover .level1-link {
  border-bottom-color: #757575;
  color: #757575;
}

#main-nav .items .level1 .level1-item:hover .level2 {
  padding: 10px 25px;
  margin-top: 0;
  height: auto;
  visibility: visible;
  opacity: 1;
}

#main-nav #big-sale {
  position: relative;
  width: 150px;
}

#main-nav #big-sale a {
  display: block;
  background-color: #F2F2F2;
  font-weight: 400;
  font-size: 14px;
  color: #999999;
  text-transform: uppercase;
  padding: 15px;
}

#main-nav #big-sale #hover-down {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 99;
  background: #FFFFFF;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 14px 14px 0px rgba(0, 0, 0, 0.24);
  max-width: 300px;
  display: none;
}

#main-nav #big-sale #hover-down #down-big-sale {
  padding: 0px 30px 25px;
}

#main-nav #big-sale #hover-down #down-big-sale .thumb a {
  background-color: #FFF;
}

#main-nav #big-sale #hover-down #down-big-sale .product-name {
  margin: 10px 0;
  text-align: center;
  line-height: 16px;
}

#main-nav #big-sale #hover-down #down-big-sale .product-name a {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}

#main-nav #big-sale #hover-down #down-big-sale .price-box {
  display: block;
}

#main-nav #big-sale #hover-down #down-big-sale .price-box .old-price {
  color: #999999;
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
  display: block;
  text-align: center;
}

#main-nav #big-sale #hover-down #down-big-sale .price-box .regular-price {
  font-size: 20px;
  color: #000000;
  display: block;
  text-align: center;
}

#main-nav #big-sale #hover-down #down-big-sale .parcelamento {
  display: block;
  text-align: center;
  color: #757575;
  font-size: 15px;
  font-weight: 500;
}

#main-nav #big-sale #hover-down #down-big-sale .btn-success {
  background: #69C900;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  line-height: 27px;
  margin-top: 12px;
}

#main-nav #big-sale #hover-down #down-big-sale .btn-success span {
  font-size: 15px;
  color: #FFFFFF;
  font-weight: 500;
}

#main-nav #big-sale .contador {
  background-color: #FAFAFA;
  border-top: 1px solid #D9D9D9;
  padding: 12px 20px;
}

#main-nav #big-sale .contador .ccounter ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

#main-nav #big-sale .contador .ccounter ul li {
  display: inline-block;
  width: 45px;
  text-align: center;
  margin: 0 8px;
}

#main-nav #big-sale .contador .ccounter ul li > div {
  width: 45px;
  display: inline-block;
}

#main-nav #big-sale .contador .ccounter ul li > div canvas {
  display: none;
}

#main-nav #big-sale .contador .ccounter ul li > div input {
  border: 1px solid #DDDDDD !important;
  width: 45px !important;
  height: 45px !important;
  position: initial !important;
  margin: 0 !important;
  background-color: #FFFFFF !important;
  font-size: 18px !important;
  color: #999999 !important;
  font-weight: 700 !important;
}

#main-nav #big-sale .contador .ccounter ul li .periodo {
  font-size: 12px;
  color: #999999;
  font-weight: 400;
}

#main-nav #big-sale:hover #hover-down {
  display: block;
}

#main-banner {
  margin: 0;
  padding: 0em;
  margin: -19px 0em 0em 0em;
}

#main-banner .slick-dots {
  bottom: 5px !important;
}

#main-banner .slick-dots li.slick-active button:before
{
  opacity: .75;
  color: #fff;
  content: 	'\2022';
}

#main-banner .slick-dots li button:before {
  font-size: 14px;
}

#main-banner img{
  margin:0 auto;
}

#main-banner .owl-controls {
  height: 0;
}

#main-banner .owl-nav {display: none;}
#main-banner .owl-dots {
  position: absolute;
  bottom: 3em;
  left: 0;
  right: 0;
  height: 0;
  display: inherit;
}

#main-banner .owl-dots .owl-dot {
  display: inline-block;
  vertical-align: bottom;
}

#main-banner .owl-dots .owl-dot span {
  height: .7em;
  background-color: transparent;
  border-radius: 6em;
  width: .7em;
  margin: -20px 1px 0px;
  border: 1px solid #fff;
}

#main-banner .owl-dots .owl-dot.active span {
  height: .7em;
  background-color: #fff;
  border-radius: 6em;
  width: .7em;
  margin: -20px 1px 0px;
}


#banner-tarja {
  margin: 25px 0 0;
}

#banner-tarja .box {
  padding: 25px 0;
  background-color: #F2F2F2;
}

#banner-tarja ul {
  text-align: center;
}

#banner-tarja ul li {
  display: inline-block;
}

#banner-tarja a {
  text-align: center;
  display: block;
}



#banner-tarja ul li a span {
  display: inline-block;
  vertical-align: middle;
}


#banner-tarja ul li a .text {
  display: inline-block;
  padding-left: 5px;
}



.showcase {
  margin-top: 40px;
}

.showcase .title {
  margin: 0 0 30px;
  border-bottom: 3px solid #ccc;
  padding-bottom: 9px;
}

.showcase .title b {
  color: #666;
  font-size: 18px;
  /*text-transform: uppercase;*/
  font-weight: 400;
  border-bottom: 3px solid #ffb600;
  padding-bottom: 9px;
}

.showcase.showcase-owl .showcase-items {
  margin-left: 0;
  margin-right: 0;
}

.showcase.showcase-owl .showcase-items li {
  padding: 20px 5px;
}

.showcase .showcase-items {
  margin-left: -15px;
  margin-right: -15px;
}

.showcase-catalog .showcase-items > li {
  display: inline-block;
  vertical-align: top;
  
  margin: 0;
  padding: 20px 15px;
}
@media (min-width: 992px) {
  
  /* .showcase .showcase-items > li {
    width: 33%;
  } */
}

.border {
  display: block;
  padding: 20px 25px;
  transition: 300ms all;
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
  border: 1px solid #fff;
  /*position: relative;*/
}

.border .thumb {
  text-align: center;
  min-height: 200px;
  display: block;
  position: relative;
}

.border .thumb a {position: relative;display: block;overflow: hidden;}
.border .thumb a .upper{color: #fff; position: absolute;display: none;background-color: rgba(0, 0, 0, 0.55);-webkit-transition: all 0.2s ease;-o-transition: all 0.2s ease;transition: all 0.2s ease;}
.border:hover .thumb a .upper{display: block;margin: 0em;bottom: 0em;width: 100%;text-align: center;}
.border .thumb a img {
  /*max-width: 100%;
  height: auto;*/
  height: auto;
  width: auto;
  /*max-height: 200px;*/
  /*max-width: 200px;*/
  display: block;
  margin: 0 auto;
}

.border .flags {
  position: absolute;
  top: 0;
  display: block;
  left: 0;
  z-index: 2;
  height: 0;
  right: 0;
}

.border .flags .frete-gratis {
  background: #69C900;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  font-size: 12px;
  color: #FFFFFF;
  font-weight: 500;
  display: table;
  line-height: 25px;
  padding: 0 10px;
  margin: 5px;
}

.border .flags .porcentagem {
  background: #D0011B;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  min-height: 34px;
  min-width: 34px;
  font-size: 13px;
  color: #FFFFFF;
  font-weight: 500;
  display: block;
  position: absolute;
  right: 5px;
  top: 5px;
  text-align: center;
  line-height: 34px;
  border-radius: 100%;
}

.border .quickview {
  opacity: 0;
  visibility: hidden;
  width: 96px;
  height: 31px;
  text-align: center;
  position: absolute;
  top: 210px;
  left: 50%;
  margin-left: -48px;
  transition: 300ms all;
}
@media (max-width: 767px) {
  
  .border .quickview {
    display: none!important;
  }
}

.border .quickview .btn-quickview {
  display: block;
  border: 0 none;
  border-radius: 2px;
  background: #F3F3F3;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  color: #757575;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 31px;
}

.border .quickview .btn-quickview i.icon-quickview {
  display: inline-block;
  margin-right: 5px;
}

.border .quickview .btn-quickview:hover {
  background-color: #e6e6e6;
}

.border h3.product-name {
  height: 55px;
  overflow: hidden;
  margin: 15px 0 15px;
}

.border h3.product-name a {
  /*font-weight: bolder;*/
  color: #757575;
  font-size: 13px;
  line-height: 1.4;
  display: block;  
}

.border:hover h3.product-name a {
  color: #fac629;
  font-size: 13px;
  line-height: 1.4;
}

.border .price-box {
  display: block;
  min-height: 50px;
}

.border .price-box .regular-price {
  font-size: 14px;
  color: #ef5350;
  /*font-weight: 600;*/
}

.border .price-box .old-price {
  display: block;
  font-size: 13px;
  color: #666;
  text-decoration: line-through;
}

.border .parcelamento {
  font-weight: 400;
  color: #757575;
  font-size: 15px;
  display: block;
}

.border .parcelamento strong {
  font-weight: 500;
}

.border .comparar {
  display: block;
  margin: 6px 0 0 0;
  font-size: 14px;
  color: #999999;
}

.border .comparar input {
  margin-right: 10px;
}

.border .btn-buy {
    /*visibility: hidden;*/
    /*opacity: 0;*/
    border: 0 none;
    color: #FFFFFF;
    font-weight: 500;
    text-align: center;
    width: 100%;
    line-height: 2;
    margin-top: 10px;
}

.border .btn-danger{width: auto;line-height: 2;background-color: transparent;color: #666;font-size: 18px;}
.border .btn-danger:hover{background-color: #e6e6e6;color: #333;}

.border .btn-success.btn-buy {
  font-size: 18px;
  /*background-color: transparent;
  font-weight: bold;
  padding: 10px 16px;
  box-shadow: none;
  line-height: 1.4;
  width: auto;
  /*color: #666;*/
  background-color: #fac629;
  color: #fff;
}

.border .btn-buy i {
  margin-right: 3px;
  font-size: 22px;
}

.border .btn-success.btn-buy:hover {
  background-color: #ffb600;
  color: #fff;
}

.border:hover {
  /*box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.2);*/
  box-sizing: border-box;
  border: 1px solid #fac629;
}

.border:hover .btn-buy {
  opacity: 1;
  visibility: visible;
}

.border:hover .thumb img {
  /*opacity: 0.4;*/
}

.border:hover .quickview {
  opacity: 1;
  visibility: visible;
}

.showcase.showcase-buy-together .showcase-items > li {
  display: inline-block;
  vertical-align: middle;
}

.showcase.showcase-buy-together .showcase-items .showcase-item {
  max-width: 190px;
  padding: 5px;
}
@media (min-width: 992px) {
  
  .showcase.showcase-buy-together .showcase-items .showcase-item {
    max-width: 260px;
    padding: 10px 20px;
  }
}

.showcase.showcase-buy-together .showcase-items .showcase-item .border {
  padding: 15px;
}

.showcase.showcase-buy-together .showcase-items .showcase-plus,
.showcase.showcase-buy-together .showcase-items .showcase-equals {
  font-size: 30px;
  color: #757575;
  line-height: 35px;
}

.showcase.showcase-buy-together .showcase-items .showcase-total > span {
  display: block;
  font-size: 15px;
  color: #999999;
  line-height: 18px;
}

.showcase.showcase-buy-together .showcase-items .showcase-total .price-box {
  padding: 10px 0;
}

.showcase.showcase-buy-together .showcase-items .showcase-total .price-box em {
  font-style: normal;
  text-decoration: none;
}

.showcase.showcase-buy-together .showcase-items .showcase-total .price-box .old-price {
  display: block;
  font-size: 15px;
  color: #999999;
  line-height: 18px;
  text-decoration: line-through;
}

.showcase.showcase-buy-together .showcase-items .showcase-total .price-box .regular-price {
  display: block;
  font-size: 30px;
  color: #000000;
  line-height: 39px;
  font-weight: 500;
}

.showcase.showcase-buy-together .showcase-items .showcase-total .parcelamento {
  font-size: 15px;
  color: #757575;
  font-weight: 500;
  line-height: 20px;
}

.showcase.showcase-buy-together .showcase-items .showcase-total .btn-buy-together {
  margin-top: 15px;
  height: 50px;
  padding-left: 25px;
  padding-right: 25px;
}


.showcase-catalog {
  margin-top: 0;
}




.quickview-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 40;
}
@media (max-width: 767px) {
  
  .quickview-box {
    display: none!important;
  }
}

.quickview-box .quickview-content {
  background: #FFFFFF;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1), 0 14px 14px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 600px;
  max-width: 90%;
  margin: -300px 0 0 -350px;
  z-index: 50;
}
@media (min-width: 992px) {
  
  .quickview-box .quickview-content {
    margin-left: -450px;
    width: 900px;
  }
}
@media (min-width: 1200px) {
  
  .quickview-box .quickview-content {
    margin-left: -490px;
    width: 980px;
  }
}

.btn-close-clickview {
  border: 0 none;
  background: transparent;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 20px;
  height: 20px;
  padding: 0;
  z-index: 10;
  cursor: pointer;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.quickview-box .quickview-content .btn-close-clickview:hover {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.quickview-box .quickview-content .quickview-row {
  padding-top: 15px;
  padding-bottom: 15px;
}







#main-footer {
  background: #373939;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
}

@media (min-width: 768px) {
  #main-footer{
    padding: 30px 0 20px;
  }
}

@media (max-width: 767px) {
  #main-footer{
    padding: 30px 0;
  }
}

#main-footer .list-footer .title {
  /*margin: 0;
  font-size: 16px;
  color: #757575;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 20px;*/
  font-size: 18px;
  line-height: 1;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #bababa;
  color: #bababa;
}

#main-footer .list-footer ul {
  list-style: none;
  padding: 0;
  color: #bababa;
  font-size: 13px;
}

#main-footer .list-footer ul li {
  display: block;
  padding-bottom: 5px;
}

#main-footer .list-footer ul li a, #main-footer .list-footer ul li span {
  font-size: 14px;
  color: #999999;
}

#main-footer .list-footer ul li a:hover, #main-footer .list-footer ul li span:hover {
  color: #fac629;
}

#main-footer .footer-call-center li .phone {
  display: block;
  font-size: 20px;
  color: #000000;
  font-weight: 500;
}

#main-footer .light-box {
  margin-bottom: 7px;
}
#main-footer .light-box iframe{
  width: 18em;
}

#main-footer .footer-social-networks ul {
  text-align: center;
}

#main-footer .footer-social-networks ul li a {
  font-size: 18px;
  color: #FFF;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  border-radius: 100%;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 32px;
  transition: all 0.3s linear 0.1s;
}

#main-footer .footer-social-networks ul li a:hover {
  width: 35px;
  height: 35px;
  font-size: 20px;
  margin: -5px;
  line-height: 37px;
}

#main-footer .footer-social-networks ul li.footer-twitter a {
  background: #44D5FF;
}

#main-footer .footer-social-networks ul li.footer-youtube a {
  background: #E41919;
}

#main-footer .footer-social-networks ul li.footer-instagram a {
  background: #67503C;
}

#main-footer .footer-social-networks ul li.footer-pinterest a {
  background: #F33333;
}




#secondary-footer {
  padding: 35px 0 40px;
  background: #373939;
  color: #bababa;
  font-size: 13px;
}

#secondary-footer h3.title {
  /*margin: 0;
  font-size: 16px;
  color: #757575;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-weight: 400;*/
  font-size: 18px;
  line-height: 1;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #bababa;
  color: #bababa;
}

#secondary-footer img {margin-bottom: 3px;width: 4em;}
#secondary-footer img.especial {width: auto !important;margin-bottom: 1em;}
#secondary-footer a img {width: auto;}
#secondary-footer button {font-size: 13px;}

#secondary-footer ul li {
  margin-bottom: 10px;
}

#secondary-footer .follow-us {
    display: inline-block;
    list-style: none;
    margin-left: -3em;
}
#secondary-footer .follow-us li {
    float: left;
}
#secondary-footer .follow-us li a {
    font-size: 20px;
    line-height: 2;
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px 10px 0 0;
    text-align: center;
    border: 1px solid #a3a3a3;
    border-radius: 100%;
    -webkit-transition: all 0.1s ease 0s;
    -o-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
}
#secondary-footer .follow-us li a:hover {
    color: #fff !important;
    border: 1px solid #fff;
    background-color: #fac629;
}




#copyright  {background: #202222;}
#copyright .items-copyright {
  /*border-top: 1px solid #F3F3F3;*/
  padding: 5px;
}

#copyright .items-copyright p, #copyright .items-copyright .signature {
  font-size: 13px;
  color: #999999;
  line-height: 20px;
  margin: 0em;
}

#copyright .items-copyright .signature a {
  margin-left: 12px;
}

.description-tab-box .btn-open-content {
  text-align: left;
  padding: 0 15px;
  width: 100%;
  display: block;
  background: #FAFAFA;
  height: 50px;
  border-radius: 0;
  border: 0 none;
  border-bottom: 1px solid #D6D6D6;
  font-size: 14px;
  color: #757575;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
}

.description-tab-box .btn-open-content .fa {
  font-size: 12px;
  float: right;
  line-height: 20px;
}


.product-page-details .image-group .zoomWrapper {
  margin: 0 auto;
  overflow: hidden;
}

.product-page-details .image-group #product-image-zoom {
  max-width: 100%!important;
  height: auto!important;
  width: auto!important;
  position: relative!important;
}


.product-page-details .product-sku {
  font-size: 14px;
  color: #666;
  font-weight: 300;
  line-height: 16px;
  margin-bottom: 10px;
}

.product-page-details .rating-stars {
  margin-bottom: 10px;
}

.product-page-details .rating-stars .star {
  display: inline-block;
  vertical-align: middle;
}

.product-page-details .rating-stars .star .fa {
  line-height: 16px;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
}

.product-page-details .rating-stars .star .fa-star,
.product-page-details .rating-stars .star .fa-star-half-o {
  color: #F6C523;
}

.product-page-details .rating-stars .star .fa-star-o {
  color: #D9D9D9;
}

.product-page-details .rating-stars .qty {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #999999;
  font-weight: 300;
  line-height: 16px;
}

.product-page-details .product-short-description {
  font-size: 13px;
  color: #999999;
  line-height: 15px;
  font-weight: 400;
  padding: 10px 0;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 10px;
}

.product-page-details .product-short-description a {
  color: #757575;
  text-decoration: underline;
}

.product-page-details .product-short-description a:hover {
  color: #4f4f4f;
}

.product-page-details .product-unavaliable {
  padding: 30px 0 0;
}

.product-page-details .product-unavaliable b {
  font-size: 25px;
  color: #D0011B;
  font-weight: 500;
  line-height: 33px;
  display: block;
  padding: 10px 0 15px;
}

.product-page-details .product-unavaliable p {
  font-size: 18px;
  color: #757575;
  font-weight: 400;
  line-height: 21px;
}

.product-page-details .product-unavaliable form {
  display: block;
}

.product-page-details .product-unavaliable form .form-group {
  position: relative;
  width: 49%;
}

.product-page-details .product-unavaliable form .form-group .form-control {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 0;
}

.product-page-details .product-unavaliable form .form-group .form-control#unavaliable-email {
  padding-right: 65px;
}

.product-page-details .product-unavaliable form .form-group .btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 50px;
  font-size: 25px;
  padding: 0;
  line-height: 0;
}

.product-page-details .product-variation .product-variation-item {
  padding: 5px 0;
  text-align: left;
}


.product-page-details .product-variation .product-variation-item .product-variation-title {
  font-size: 15px;
  color: #666;
  font-weight: 300;
  line-height: 18px;
  border: 0 none;
  margin: 0em 3em 0em 0em;
  display: inline-block;
  width: auto;
}

.product-page-details .product-variation .product-variation-item .product-variation-title strong {
  color: #757575;
  font-weight: 400;
}

.product-page-details .product-variation .product-variation-item .product-variation-options {
  display: inline-block;
  margin: -5px;
}

.product-page-details .product-variation .product-variation-item .product-variation-options .product-variation-option {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}

.product-page-details .product-variation .product-variation-item .product-variation-options .product-variation-option .product-variation-label {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  font-size: 13px;
  font-weight: 300;
  color: #999999;
  font-weight: 15px;
  padding: 10px 15px;
  transition: 300ms all;
  position: relative;
  cursor: pointer;
}

.product-page-details .product-variation .product-variation-item .product-variation-options .product-variation-option .product-variation-label.selected {
  color: #757575;
  border-color: #757575;
}

.product-page-details .product-variation .product-variation-item .product-variation-options .product-variation-option .product-variation-label.selected:before {
  content: "\f00c";
  font: 400 9px/20px FontAwesome;
  display: block;
  position: absolute;
  right: -8px;
  bottom: -8px;
  width: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #757575;
  border-radius: 100%;
  border: 1px solid #757575;
  background: #F3F3F3;
  box-shadow: 0 0 0 2px #fff;
}

.product-page-details .product-variation .product-variation-item .product-variation-options .product-variation-option .product-variation-label.no-stock {
  background: #F3F3F3;
  border-color: #F3F3F3;
}

.product-page-details .product-variation .product-variation-item .product-variation-options .product-variation-option .product-variation-label:hover {
  color: #757575;
}

.product-page-details .product-variation .product-variation-item .product-variation-options .product-variation-option .product-variation-input {
  display: none;
}


.product-variation-color{
  width: 40px;
  height: 40px;
}


.product-page-details .stock-info {
  padding: 10px 0;
  font-size: 12px;
  color: #333;
  line-height: 15px;
}

.product-page-details .stock-info.stock-alert {
  color: #D0011B;
}


.product-page #compartilhar_produto {margin: 1em 0em;}
.product-page .title, .product-page h4 {
  border-bottom: 3px solid #D9D9D9;
  font-size: 18px;
  line-height: 1;
  margin: 0 0 10px;
}

.product-page .title b, .product-page h4 b {color: #666;font-size: 18px;text-transform: uppercase;font-weight: 400;border-bottom: 3px solid #ffb600;padding-bottom: 7px;}
.product-page h4 b.especial {padding-bottom: 5px;}

.product-page .title span {
  display: inline-block;
  margin-bottom: -3px;
  padding-bottom: 10px;
  color: #666;
  border-bottom: 3px solid #ffb600;
}

.product-page .col-details .product-buy-content {
  max-width: 210px;
  width: 100%;
}
@media (max-width: 991px) {
  
  .product-page .col-details .product-buy-content {
    text-align: left;
    max-width: 100%;
    float: none;
  }
}


.product-page .col-details .shipping-box {
  background: #F3F3F3;
  padding: 15px;
  margin-top: 25px;
}

.product-page .col-details .shipping-box form {
  display: block;
  margin: 0 -10px;
}

.product-page .col-details .shipping-box label {
  display: block;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 400;
  color: #999999;
  line-height: 18px;
}

.product-page .col-details .shipping-box label .fa {
  color: #757575;
  font-size: 22px;
  line-height: 18px;
  margin-right: 10px;
}
@media (min-width: 992px) {
  
  .product-page .col-details .shipping-box label {
    display: inline-block;
    vertical-align: middle;
    max-width: 210px;
    margin: 0;
  }
  
  .product-page .col-details .shipping-box label .fa {
    line-height: 36px;
    float: left;
  }
}
@media (min-width: 1200px) {
  
  .product-page .col-details .shipping-box label {
    max-width: 230px;
  }
}

.product-page .col-details .shipping-box .input-box {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 992px) {
  
  .product-page .col-details .shipping-box .input-box {
    max-width: 140px;
  }
}
@media (min-width: 1200px) {
  
  .product-page .col-details .shipping-box .input-box {
    max-width: 280px;
  }
}

.product-page .col-details .shipping-box .input-box input {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  font-size: 14px;
  color: #999999;
  height: 48px;
  padding: 0 55px 0 10px;
  width: 100%;
  transition: 300ms all;
}

.product-page .col-details .shipping-box .input-box input:focus {
  border-color: silver;
}

.product-page .col-details .shipping-box .input-box button {
  border: 0 none;
  border-left: 1px solid #D9D9D9;
  border-radius: 0;
  background: transparent;
  font-size: 14px;
  color: #757575;
  letter-spacing: 0;
  position: absolute;
  right: 5px;
  top: 6px;
  height: 35px;
  width: 40px;
  padding: 0;
}

.product-page .col-details .shipping-box .input-box button:hover {
  color: #4f4f4f;
}

.product-page .col-details .shipping-box a {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  font-size: 13px;
  color: #999999;
  line-height: 15px;
  text-decoration: underline;
}
@media (min-width: 992px) {
  
  .product-page .col-details .shipping-box a {
    max-width: 85px;
  }
}

.product-page .col-details .shipping-box a:hover {
  color: gray;
}

.product-page .product-extra {
  border-top: 1px solid #D9D9D9;
  padding-top: 20px;
  margin-top: 20px;
}

.product-page .product-extra .description,
.product-page .product-extra .specifications {
  padding: 10px 0;
}

.product-page .product-extra .description .description-text {
  font-size: 16px;
  color: #757575;
  line-height: 20px;
  font-weight: 300;
}

.product-page .product-extra .specifications table td {
  border: 1px solid #D9D9D9;
  font-size: 14px;
  color: #757575;
  padding: 10px;
  line-height: 20px;
}

.product-page .product-extra .specifications table .field {
  background: #F3F3F3;
  width: 30%;
}

#avaliations .star .fa {
  line-height: 40px;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
}

#avaliations .star .fa-star, #avaliations .star .fa-star-half-o {
  color: #F6C523;
}

#avaliations .star .fa-star-o {
  color: #D9D9D9;
}

#avaliations .avaliations-list .rating-box .rating-stars .qty {
  font-size: 14px;
  color: #999999;
  line-height: 40px;
}

#avaliations .avaliations-list .rating-box #rating-order {
  margin-left: 20px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  font-size: 13px;
  color: #757575;
  font-weight: 400;
  height: 40px;
}

#avaliations .avaliations-list .avaliations {
  padding: 0;
  margin: 0;
  list-style: none;
}

#avaliations .avaliations-list .avaliations .avaliations-item {
  border-bottom: 1px solid #D9D9D9;
  padding: 20px 0;
  display: block;
}

.product-page .product-extra #avaliations .avaliations-list .avaliations .avaliations-item .title {
  display: block;
  font-size: 18px;
  color: #757575;
  font-weight: 500;
  line-height: 21px;
  margin: 0;
  border: 0 none;
  padding: 5px 0;
}

#avaliations .avaliations-list .avaliations .avaliations-item .rating {
  padding: 5px 0;
  display: block;
}

#avaliations .avaliations-list .avaliations .avaliations-item .rating .star .fa {
  line-height: 20px;
  font-size: 16px;
}

#avaliations .avaliations-list .avaliations .avaliations-item .text {
  font-size: 16px;
  color: #757575;
  line-height: 19px;
  font-weight: 400;
  padding: 5px 0;
  display: block;
}

#avaliations .avaliations-list .avaliations .avaliations-item .author {
  font-size: 16px;
  color: #999999;
  font-weight: 400;
  line-height: 19px;
  display: block;
  padding: 5px 0;
}




.row-order-by .order-by label {
  font-size: 13px;
  color: #999999;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
}

.row-order-by .order-by label select {
  border-radius: 0;
  margin-right: 15px;
  height: 40px;
}


body.checkout {
  padding-bottom: 120px;
}


#header-checkout {
  padding: 25px 0;
  background: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

#header-checkout .web-safe,
#header-checkout .contact {
  padding: 7px 0 4px;
}

#header-checkout .web-safe span,
#header-checkout .contact span {
  font-size: 15px;
  color: #757575;
  line-height: 20px;
  font-weight: 400;
}

#header-checkout .brand a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
}


#footer-checkout {
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #F3F3F3;
  padding: 20px 0;
  background: #fff;
}

#footer-checkout p {
  font-size: 13px;
  color: #999999;
  font-weight: 400;
  line-height: 19px;
  margin: 0;
}

#footer-checkout .signature {
  font-size: 14px;
  color: #999999;
  font-weight: 400;
  line-height: 38px;
}


.checkout-tabs {
  display: block;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 10px 0 15px;
  text-align: center;
}

.checkout-tabs li {
  display: inline-block;
  vertical-align: middle;
  min-width: 130px;
  margin: 0 50px;
  position: relative;
  opacity: .2;
  transition: 300ms all;
}

.checkout-tabs li.is-ok, .checkout-tabs li.active {
  opacity: 1;
}

.checkout-tabs li:after {
  width: 50px;
  height: 1px;
  background: #999;
  content: "";
  position: absolute;
  right: -94px;
  top: 50%;
  margin: 0 15px;
}

.checkout-tabs li:last-child:after {
  display: none;
}

.checkout-tabs li .icon {
  display: block;
  height: 30px;
  width: 30px;
  margin: 0 auto;
}

.checkout-tabs li .text {
  display: block;
  font-size: 16px;
  color: #757575;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: 400;
}


.checkout-steps {
  padding: 40px 0 15px;
}

.checkout-steps .step {
  border: 1px solid #F2F2F2;
  margin-bottom: 20px;
  transition: 300ms border;
}

.checkout-steps .step.step-finish .content {
  padding-bottom: 0;
}

.checkout-steps .step.step-active {
  border-color: #b3b3b3;
}

.checkout-steps .step .header {
  background: #F3F3F3;
  padding: 1px;
}

.checkout-steps .step .header .number {
  display: inline-block;
  vertical-align: middle;
  background: #FAFAFA;
  height: 46px;
  width: 46px;
  text-align: center;
  margin-right: 10px;
  font-size: 20px;
  color: #757575;
  line-height: 45px;
}

.checkout-steps .step .header .text {
  font-size: 16px;
  color: #757575;
  line-height: 18px;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
}

.checkout-steps .step .content {
  padding: 0 10px 20px;
}
@media (min-width: 1200px) {
  
  .checkout-steps .step .content {
    padding: 0 20px 20px;
  }
}

.checkout-steps .step .content h4 {
  padding: 20px;
  font-size: 16px;
  color: #757575;
  line-height: 18px;
  font-weight: 400;
  border-bottom: 1px solid #F2F2F2;
  margin: 0 -10px;
}
@media (min-width: 1200px) {
  
  .checkout-steps .step .content h4 {
    margin: 0 -20px;
  }
}

.checkout-steps .step .content .adress-details {
  border-bottom: 1px solid #F2F2F2;
  padding: 20px 0;
}

.checkout-steps .step .content .adress-details strong {
  font-size: 16px;
  color: #000000;
  line-height: 18px;
  font-weight: 500;
  display: block;
  margin-bottom: 15px;
}

.checkout-steps .step .content .adress-details p {
  font-size: 14px;
  color: #757575;
  line-height: 19px;
  font-weight: 400;
}

.checkout-steps .step .content .select-other {
  padding: 10px 0;
}

.checkout-steps .step .content .select-other a {
  font-size: 13px;
  color: #999999;
  line-height: 19px;
  font-weight: 400;
  text-decoration: underline;
}

.checkout-steps .step .content .select-other a:hover {
  color: #111;
}

.checkout-steps .step .content .radio,
.checkout-steps .step .content .checkbox {
  border-bottom: 1px solid #F2F2F2;
  padding: 10px 20px;
  margin: 0 -10px;
}
@media (min-width: 1200px) {
  
  .checkout-steps .step .content .radio,
  .checkout-steps .step .content .checkbox {
    margin: 0 -20px;
  }
}

.checkout-steps .step .content .radio label,
.checkout-steps .step .content .checkbox label {
  font-size: 14px;
  color: #757575;
  font-weight: 400;
  padding: 5px 0px;
  display: block;
}

.checkout-steps .step .content .alert {
  padding: 0;
  margin: 20px 0 0;
  font-size: 13px;
  color: #999999;
  line-height: 19px;
  font-weight: 400;
}

.checkout-steps .step .content .form-payment {
  padding: 10px 0;
}

.checkout-steps .step .content .control-label {
  font-size: 12px;
  color: #999999;
  font-weight: 400;
  line-height: 14px;
}

.checkout-steps .step .content .btn-block {
  margin: 20px 0;
}

.checkout-steps .step .content p {
  font-size: 13px;
  color: #999999;
  line-height: 16px;
  font-weight: 400;
}



.checkout-steps .step .scroll-product-list #mCSB_1_container {
  margin-right: 0;
}

.checkout-steps .step .scroll-product-list .product-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.checkout-steps .step .scroll-product-list .product-list .product-item {
  display: block;
  border-bottom: 1px solid #F3F3F3;
  margin: 0;
  padding: 20px 0;
}

.checkout-steps .step .scroll-product-list .product-list .product-item .image {
  display: inline-block;
  vertical-align: middle;
  width: 56px;
  margin-right: 5px;
}

.checkout-steps .step .scroll-product-list .product-list .product-item .image img {
  max-width: 100%;
}

.checkout-steps .step .scroll-product-list .product-list .product-item .details {
  display: inline-block;
  vertical-align: middle;
  width: 105px;
  margin-right: 5px;
}
@media (min-width: 1200px) {
  
  .checkout-steps .step .scroll-product-list .product-list .product-item .details {
    width: 160px;
  }
}

.checkout-steps .step .scroll-product-list .product-list .product-item .details .name {
  font-size: 11px;
  color: #757575;
  line-height: 14px;
  font-weight: 400;
  display: block;
}

.checkout-steps .step .scroll-product-list .product-list .product-item .details .sku,
.checkout-steps .step .scroll-product-list .product-list .product-item .details .qty {
  display: block;
  font-size: 10px;
  color: #999999;
  line-height: 14px;
  font-weight: 400;
}

.checkout-steps .step .scroll-product-list .product-list .product-item .price {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  text-align: right;
}

.checkout-steps .step .scroll-product-list .product-list .product-item .price .old-price {
  font-size: 10px;
  color: #999999;
  line-height: 12px;
  display: block;
  text-decoration: line-through;
  font-weight: 400;
}

.checkout-steps .step .scroll-product-list .product-list .product-item .price .regular-price {
  display: block;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  line-height: 12px;
}

.checkout-steps .step .totals-box {
  margin: 15px -10px 0;
}
@media (min-width: 1200px) {
  
  .checkout-steps .step .totals-box {
    margin: 15px -20px 0;
  }
}

.checkout-steps .step .totals {
  width: 100%;
}

.checkout-steps .step .totals tbody td {
  font-size: 14px;
  color: #757575;
  line-height: 18px;
  font-weight: 400;
  padding: 10px 20px;
}

.checkout-steps .step .totals tbody td strong {
  font-size: 14px;
  color: #757575;
  line-height: 12px;
  font-weight: 500;
}

.checkout-steps .step .totals tbody .subtotal strong {
  color: #000;
}

.checkout-steps .step .totals tbody .descont strong {
  color: #69C900;
}

.checkout-steps .step .totals tbody .shipping strong {
  font-weight: 400;
}

.checkout-steps .step .totals tfoot th {
  background: #F3F3F3;
  padding: 25px 20px;
}

.checkout-steps .step .totals tfoot th span {
  font-size: 16px;
  color: #000000;
  line-height: 18px;
  font-weight: 400;
}

.checkout-steps .step .totals tfoot th strong {
  font-size: 18px;
  color: #000000;
  line-height: 12px;
  font-weight: 500;
}


.checkput-finish {
  padding: 50px 0 20px;
}

.checkput-finish > h2 {
  font-size: 30px;
  color: #222222;
  font-weight: 500;
  line-height: 35px;
  text-transform: uppercase;
}

.checkput-finish > h3 {
  font-size: 18px;
  color: #222222;
  line-height: 21px;
  font-weight: 400;
}

.checkput-finish > p {
  font-size: 15px;
  color: #999999;
  font-weight: 400;
  line-height: 18px;
}

.checkput-finish > p b {
  color: #D0011B;
}

.checkput-finish > p a {
  color: #222222;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: underline;
}

.checkput-finish > p a:hover {
  color: #D0011B;
}


.checkout-page {
  // margin: 3.6em auto !important;
}

.checkout-page .checkout-title {
  padding-bottom: 20px;
}

/*#list-brands .title{border-bottom: 3px solid #cccccc;font-size: 18px;line-height: 1;margin: 0 0 10px;padding: 0;}*/
/*#list-brands .title span{border-bottom: 3px solid #ffb600;display: inline-block;margin-bottom: -3px;padding-bottom: 10px;color: #666;}*/
.checkout-page .checkout-title .page-title {border-bottom: 3px solid #cccccc;font-size: 18px;line-height: 1;margin: 0 0 10px;padding: 0;}
.checkout-page .checkout-title .page-title b{border-bottom: 3px solid #ffb600;display: inline-block;margin-bottom: -3px;padding-bottom: 10px;color: #666;}

.checkout-page .checkout-title .btn-checkout {
  margin: 15px 0 15px 10px;
}

.checkout-page .table-checkout td {
  padding: 10px 15px;
}

.checkout-page .table-checkout thead td {
  /*background: #F3F3F3;*/
  font-size: 16px;
  color: #757575;
  line-height: 18px;
  font-weight: 400;
}

.checkout-page .table-checkout tbody td {
  border: 0 none;
  border-bottom: 1px solid #D9D9D9;
  padding: 15px;
  vertical-align: middle;
}

.checkout-page .table-checkout tbody td .name {
  display: block;
  font-size: 16px;
  color: #757575;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.checkout-page .table-checkout tbody td .sku,
.checkout-page .table-checkout tbody td .variations {
  display: block;
  font-size: 14px;
  color: #999999;
  font-weight: 400;
}

.checkout-page .table-checkout tbody td .qty-box {
  position: relative;
  display: block;
  width: 55px;
  margin: 0 auto;
}

.checkout-page .table-checkout tbody td .qty-box input {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  font-size: 12px;
  color: #757575;
  width: 100%;
  height: 33px;
  padding: 0 0px;
  text-align: center;
}

.checkout-page .table-checkout tbody td .qty-box button {
  background: transparent;
  font-size: 15px;
  color: #999999;
  height: 33px;
  width: 15px;
  border: 0 none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
}

.checkout-page .table-checkout tbody td .qty-box button:hover {
  color: #69C900;
}

.checkout-page .table-checkout tbody td .qty-box button.btn-less {
  left: 0;
}

.checkout-page .table-checkout tbody td .qty-box button.btn-more {
  right: 0;
}

.checkout-page .table-checkout tbody td .old-price {
  font-size: 12px;
  color: #999999;
  line-height: 16px;
  font-weight: 400;
  text-decoration: line-through;
  display: block;
}

.checkout-page .table-checkout tbody td .regular-price,
.checkout-page .table-checkout tbody td .total-price {
  font-size: 15px;
  color: #000000;
  line-height: 20px;
  font-weight: 500;
  display: block;
}

.checkout-page .table-checkout tbody td .btn-remove {
  color: #757575;
  font-size: 15px;
}

.checkout-page .table-checkout tbody td .btn-remove:hover {
  color: #E41919;
}

.checkout-page .checkout-total {
  padding-top: 40px;
}

.checkout-page .checkout-total form label {
  font-size: 14px;
  color: #757575;
  line-height: 18px;
  display: block;
  margin-bottom: 15px;
  font-weight: 400;
}

.checkout-page .checkout-total form input {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  font-size: 14px;
  color: #999999;
  padding: 0 15px;
  height: 40px;
  width: 90%;
}

.checkout-page .checkout-total form input:focus {
  border-color: #b3b3b3;
}

.checkout-page .checkout-total form .input-box {
  position: relative;
  display: block;
}

.checkout-page .checkout-total .discount-coupon-box {
  margin-top: 2em;
  margin-bottom: 2em;
}

.checkout-page .checkout-total .discount-coupon-box input {
  padding-right: 65px;
}

.checkout-page .checkout-total .discount-coupon-box .btn-send {
  height: 40px;
  position: absolute;
  right: 2px;
  top: 0;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  box-shadow: none;
}

.checkout-page .checkout-total .discount-coupon-box .btn-send:hover {
  /*color: #4f4f4f;*/
}

.checkout-page .checkout-total .discount-coupon-box .coupon-list {
  list-style: none;
  padding: 15px 0 0;
  margin: 0;
}

.checkout-page .checkout-total .discount-coupon-box .coupon-list .coupon-item {
  position: relative;
}

.checkout-page .checkout-total .discount-coupon-box .coupon-list .coupon-item span {
  font-size: 14px;
  color: #757575;
  line-height: 18px;
  font-weight: 400;
}

.checkout-page .checkout-total .discount-coupon-box .coupon-list .coupon-item strong {
  font-size: 14px;
  color: #69C900;
  line-height: 18px;
  font-weight: 400;
}

.checkout-page .checkout-total .discount-coupon-box .coupon-list .coupon-item a {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -9px;
  font-size: 12px;
  color: #999999;
  line-height: 18px;
  text-decoration: underline;
}

.checkout-page .checkout-total .discount-coupon-box .coupon-list .coupon-item a:hover {
  color: #111;
}

.checkout-page .checkout-total .shipping-box {
  max-width: 410px;
  margin: 2em 0em;
}

.checkout-page .checkout-total .shipping-box .shipping-form a {
  font-size: 13px;
  color: #999999;
  font-weight: 400;
  text-decoration: underline;
  line-height: 15px;
  max-width: 70px;
  margin-left: 15px;
  padding: 10px 0;
}

.checkout-page .checkout-total .shipping-box .shipping-form a:hover {
  color: #111;
}

.checkout-page .checkout-total .shipping-box input {
  padding-right: 65px;
  width: 100%;
  height: 40px;
}

.checkout-page .checkout-total .shipping-box .btn-send {
  position: absolute;
  right: 0px;
  top: 0px;
  box-shadow: none;
  height: 3em;
}

.checkout-page .checkout-total .shipping-box .btn-send:hover {
  /*color: #4f4f4f;*/
}

.checkout-page .checkout-total .shipping-box .shipping-list {
  list-style: none;
  padding: 15px 0 0;
  margin: 0;
}

.checkout-page .checkout-total .shipping-box .shipping-list .shipping-item {
  position: relative;
}

.checkout-page .checkout-total .shipping-box .shipping-list .shipping-item > span {
  border-right: 1px solid #757575;
  padding-right: 5px;
}

.checkout-page .checkout-total .shipping-box .shipping-list .shipping-item > span,
.checkout-page .checkout-total .shipping-box .shipping-list .shipping-item > strong {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: #757575;
  line-height: 18px;
  font-weight: 400;
}

.checkout-page .checkout-total .shipping-box .shipping-list .shipping-item a {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -9px;
  font-size: 12px;
  color: #999999;
  line-height: 18px;
  text-decoration: underline;
}

.checkout-page .checkout-total .shipping-box .shipping-list .shipping-item a:hover {
  color: #111;
}

.checkout-page .checkout-total .total-box table {
  width: 100%;
  background: #F3F3F3;
  margin-bottom: 20px;
}

.checkout-page .checkout-total .total-box table tbody tr:first-child td {
  padding-top: 20px;
}

.checkout-page .checkout-total .total-box table tbody tr:last-child td {
  padding-bottom: 20px;
}

.checkout-page .checkout-total .total-box table td {
  padding: 10px 25px;
}

.checkout-page .checkout-total .total-box table td span,
.checkout-page .checkout-total .total-box table td strong {
  font-size: 16px;
  color: #757575;
  line-height: 20px;
  font-weight: 400;
}

.checkout-page .checkout-total .total-box table .subtotal strong {
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  font-weight: 500;
}

.checkout-page .checkout-total .total-box table .descont strong {
  font-size: 16px;
  color: #69C900;
  line-height: 20px;
  font-weight: 500;
}

.checkout-page .checkout-total .total-box table th {
  padding: 24px 25px;
  border-top: 1px solid #D9D9D9;
}

.checkout-page .checkout-total .total-box table th span {
  font-size: 16px;
  color: #000000;
  line-height: 20px;
  font-weight: 400;
}

.checkout-page .checkout-total .total-box table th strong {
  font-size: 18px;
  color: #000000;
  line-height: 20px;
  font-weight: 500;
}

.checkout-page .checkout-total .total-box .btn {
  margin-bottom: 15px;
}




.user-panel-page {
  padding: 40px 0;
}

.user-panel-page .col-nav .nav li {
  background: #fff;
  /*border: 1px solid #F2F2F2;*/
}

.user-panel-page .col-nav .nav li a {
  display: block;
  padding: 15px;
  font-size: 14px;
  color: #666;
  line-height: 1;
  font-weight: lighter;
}
.user-panel-page .col-nav .nav li a:hover {color: #ffb600;}
/*.user-panel-page .col-nav .nav li.active {background: #fbb600;color: #fff;}
.user-panel-page .col-nav .nav li.active a {color: #fff;}
.user-panel-page .col-nav .nav li.active a:hover {background: #fbb600;color: #fff;}
.user-panel-page .col-nav .nav li.active span {display: block;padding: 20px 15px;font-size: 16px;color: #000;line-height: 20px;font-weight: 400;}*/

.user-panel-page .col-nav .nav li.user-info {
  background: #eee;
  padding: 20px 15px;
  position: relative;
}

.user-panel-page .col-nav .nav li.user-info span {
  font-size: 24px;
  color: #757575;
  line-height: 26px;
  display: block;
}

.user-panel-page .col-nav .nav li.user-info span b {
  color: #000;
  font-weight: 400;
}

.user-panel-page .col-nav .nav li.user-info span.mail {
  font-size: 12px;
  color: #757575;
  font-weight: 400;
  line-height: 16px;
}

.user-panel-page .col-nav .nav li.user-info .btn-exit {
  font-size: 12px;
  color: #757575;
  line-height: 20px;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
}

.user-panel-page .col-nav .nav li.user-info .btn-exit:hover:hover {
  color: #000;
}

.user-panel-page .title-my-account, .user-panel-page .col-details h2, .user-panel-page .col-details h3, .page-header h1 {
  border-bottom: 3px solid #D9D9D9;
  font-size: 18px;
  line-height: 1;
  margin: 0 0 30px;
  padding: 0;
}
.user-panel-page .title-my-account b, .user-panel-page .col-details h2 b, .user-panel-page .col-details h3 b, .page-header h1 b, .product-page-details h1 b { 
  border-bottom: 3px solid #ffb600;
  font-size: 18px;
  color: #666;
  font-weight: 400;
  line-height: 2.5;
  padding: 0em 0em 11px;
}
.user-panel-page .col-details h2 b.especial, .page-header h1 b{ 
  padding: 0em 0em 12px;
}

.user-panel-page .col-details h3 {
  font-size: 18px;
  color: #333;
  font-weight: 400;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 20px;
}

.user-panel-page .col-details {color: #666;}
.user-panel-page .col-details .border_bottom {border-bottom: 1px solid #ccc;padding-bottom: 1em;}
.user-panel-page .col-details b {
  font-size: 14px;
  color: #666;
  line-height: 1px;
  font-weight: bolder;
}

.user-panel-page .col-details p {
  font-size: 14px;
  color: #666;
  line-height: 22px;
  font-weight: 400;
}

.user-panel-page .col-details .orders-box {
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.user-panel-page .col-details .search-orders {
  margin-bottom: 30px;
  width: 360px;
  position: relative;
}

.user-panel-page .col-details .search-orders input {
  display: block;
  width: 100%;
}

.user-panel-page .col-details .search-orders .btn-search-orders {
  position: absolute;
  right: 0;
  top: 0;
}

.user-panel-page .col-details .table-order-vouchers {
  margin: 10px 0 20px;
  width: 100%;
}

.user-panel-page .col-details .table-order-vouchers thead td {
  border: 0 none;
}

.user-panel-page .col-details .table-order-vouchers td {
  padding: 20px 15px;
  border: 1px solid #F2F2F2;
}
@media (min-width: 992px) {
  
  .user-panel-page .col-details .table-order-vouchers td.col-actions {
    width: 130px;
  }
}
@media (max-width: 991px) {
  
  .user-panel-page .col-details .table-order-vouchers td.col-details {
    width: 130px;
  }
}

.user-panel-page .col-details .table-order-vouchers td span {
  font-size: 12px;
  color: #999999;
  font-weight: 400;
  line-height: 16px;
  display: block;
}
@media (min-width: 992px) {
  
  .user-panel-page .col-details .table-order-vouchers td span {
    font-size: 14px;
  }
}

.user-panel-page .col-details .table-order-vouchers td span.date {
  font-size: 12px;
  color: #757575;
  line-height: 14px;
  margin-top: 15px;
}

.user-panel-page .col-details .table-order-vouchers td strong {
  font-size: 15px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 22px;
  display: block;
}
@media (min-width: 992px) {
  
  .user-panel-page .col-details .table-order-vouchers td strong {
    font-size: 20px;
    letter-spacing: 1.3px;
  }
}

/*.user-panel-page .col-details .table-order-vouchers td strong.status {
  color: #69C900;
}*/

.user-panel-page .col-status .status-green{
  color: #69C900 ;
}

.user-panel-page .col-status .status-yellow{
  color: #F6C523;
}

.user-panel-page .col-status .status-red{
  color: #BD0707;
}

.user-panel-page .col-details .border {
  border: 1px solid #F3F3F3;
}

.user-panel-page .col-details .row-address .border {
  min-height: 220px;
}

.user-panel-page .col-details .row-address .border .address-header {
  border-bottom: 1px solid #F3F3F3;
  padding: 15px;
  position: relative;
}

.user-panel-page .col-details .row-address .border .address-header b {
  font-size: 16px;
  color: #757575;
  line-height: 20px;
  font-weight: 400;
}

.user-panel-page .col-details .row-address .border .address-header .actions {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
}

.user-panel-page .col-details .row-address .border .address-header .actions .btn {
  width: 20px;
  height: 20px;
  padding: 0;
  margin-left: 3px;
}

.user-panel-page .col-details .row-address .border .address-details {
  padding: 15px;
}

.user-panel-page .col-details .row-address .border .address-details .name {
  display: block;
  margin-bottom: 15px;
}

.user-panel-page .col-details .row-address .border .btn-add-address {
  display: block;
  min-height: 220px;
  text-align: center;
  text-decoration: none;
  padding-top: 70px;
}

.user-panel-page .col-details .row-address .border .btn-add-address .fa {
  font-size: 30px;
  line-height: 30px;
}

.user-panel-page .col-details .row-address .border .btn-add-address span {
  font-size: 18px;
  line-height: 18px;
  display: block;
  margin-top: 15px;
}

.user-panel-page .col-details .row-address .border .btn-add-address:hover {
  background: #F3F3F3;
}

.user-panel-page .col-details .form-horizontal.label-left .control-label {
  text-align: left;
}

.user-panel-page .col-details form label {
  font-size: 14px;
  color: #666;
  font-weight: bolder;
}

.user-panel-page .col-details form .form-control {
  border-radius: 0;
}

.user-panel-page .col-details form .btn.btn-default, .user-panel-page .col-details form .btn.btn-success {
  border: 0 none;
  background: #F2F2F2;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  font-size: 13px;
  color: #999999;
  line-height: 19px;
  font-weight: 400;
  min-width: 135px;
}

.user-panel-page .col-details form .btn.btn-default:hover, .user-panel-page .col-details form .btn.btn-success:hover {
  opacity: .8;
}

.user-panel-page .col-details form .btn.btn-success {
  background: #757575;
  color: #fff;
}

.user-panel-page .col-details .help-cep {
  font-size: 10px;
  color: #999999;
  line-height: 12px;
  text-decoration: underline;
  display: inline-block;
  margin-top: 4px;
  vertical-align: middle;
}

.user-panel-page .col-details .help-cep:hover {
  color: #111;
}

.user-panel-page .col-details .scroll-product-list {
  
  border-bottom: 1px solid #F3F3F3;
}

.user-panel-page .col-details .scroll-product-list #mCSB_1_container {
  margin-right: 0;
}

.user-panel-page .col-details .scroll-product-list .product-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-panel-page .col-details .scroll-product-list .product-list .product-item {
  display: block;
  border-bottom: 1px solid #F3F3F3;
  margin: 0;
  padding: 20px 0;
}

.user-panel-page .col-details .scroll-product-list .product-list .product-item .image {
  display: inline-block;
  vertical-align: middle;
  width: 56px;
  margin-right: 5px;
}

.user-panel-page .col-details .scroll-product-list .product-list .product-item .image img {
  max-width: 100%;
}

.user-panel-page .col-details .scroll-product-list .product-list .product-item .details {
  display: inline-block;
  vertical-align: middle;
  width: 105px;
  margin-right: 5px;
}
@media (min-width: 1200px) {
  
  .user-panel-page .col-details .scroll-product-list .product-list .product-item .details {
    width: 160px;
  }
}

.user-panel-page .col-details .scroll-product-list .product-list .product-item .details .name {
  font-size: 11px;
  color: #757575;
  line-height: 14px;
  font-weight: 400;
  display: block;
}

.user-panel-page .col-details .scroll-product-list .product-list .product-item .details .sku,
.user-panel-page .col-details .scroll-product-list .product-list .product-item .details .qty {
  display: block;
  font-size: 10px;
  color: #999999;
  line-height: 14px;
  font-weight: 400;
}

.user-panel-page .col-details .scroll-product-list .product-list .product-item .price {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  text-align: right;
}

.user-panel-page .col-details .scroll-product-list .product-list .product-item .price .old-price {
  font-size: 10px;
  color: #999999;
  line-height: 12px;
  display: block;
  text-decoration: line-through;
  font-weight: 400;
}

.user-panel-page .col-details .scroll-product-list .product-list .product-item .price .regular-price {
  display: block;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  line-height: 12px;
}

.user-panel-page .col-details .totals {
  width: 100%;
}

.user-panel-page .col-details .totals tbody td {
  font-size: 14px;
  color: #757575;
  line-height: 18px;
  font-weight: 400;
  padding: 10px 15px;
}

.user-panel-page .col-details .totals tbody td strong {
  font-size: 14px;
  color: #757575;
  line-height: 12px;
  font-weight: 500;
}

.user-panel-page .col-details .totals tbody .subtotal strong {
  color: #000;
}

.user-panel-page .col-details .totals tbody .descont strong {
  color: #69C900;
}

.user-panel-page .col-details .totals tbody .shipping strong {
  font-weight: 400;
}

.user-panel-page .col-details .totals tfoot th {
  background: #F3F3F3;
  padding: 15px;
}

.user-panel-page .col-details .totals tfoot th span {
  font-size: 16px;
  color: #000000;
  line-height: 18px;
  font-weight: 400;
}

.user-panel-page .col-details .totals tfoot th strong {
  font-size: 18px;
  color: #000000;
  line-height: 12px;
  font-weight: 500;
}

.user-panel-page .col-details .order-step {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.user-panel-page .col-details .order-step:after {
  content: "";
  clear: both;
  display: table;
}

.user-panel-page .col-details .order-step li {
  display: inline-block;
  vertical-align: top;
  max-width: 80px;
  text-align: center;
  position: relative;
  margin: 0;
  z-index: 11;
}
@media (min-width: 1200px) {
  
  .user-panel-page .col-details .order-step li {
    margin: 0 10px;
  }
}

.user-panel-page .col-details .order-step li:before {
  position: absolute;
  left: -24px;
  top: 20px;
  content: "";
  height: 4px;
  width: 46px;
  background: #D9D9D9;
  z-index: 9;
}
@media (min-width: 1200px) {
  
  .user-panel-page .col-details .order-step li:before {
    left: -44px;
    width: 66px;
  }
}

.user-panel-page .col-details .order-step li:first-child:before {
  display: none;
}

.user-panel-page .col-details .order-step li.ok .fa, .user-panel-page .col-details .order-step li.active .fa {
  background-color: #69C900;
}

.user-panel-page .col-details .order-step li.canceled .fa, .user-panel-page .col-details .order-step li.canceled .fa {
  background-color: #ff0000;
}

.user-panel-page .col-details .order-step li.ok span, .user-panel-page .col-details .order-step li.active span {
  color: #69C900;
}

.user-panel-page .col-details .order-step li.ok:before, .user-panel-page .col-details .order-step li.active:before {
  background-color: #69C900;
}

.user-panel-page .col-details .order-step li .fa {
  z-index: 10;
  margin: 0 auto 10px;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 40px;
  background: #D9D9D9;
  border-radius: 100%;
}

.user-panel-page .col-details .order-step li span {
  display: block;
  font-size: 12px;
  color: #999999;
  line-height: 14px;
  font-weight: 400;
}

.user-panel-page .col-details .box-order-info {
  margin: 20px 0 0;
  padding: 15px;
}

.user-panel-page .col-details .box-order-info strong {
  font-size: 18px;
  color: #757575;
  font-weight: 400;
  line-height: 21px;
  display: block;
  margin-bottom: 20px;
}

.user-panel-page .col-details .box-order-info b {
  display: block;
  margin-bottom: 10px;
}

.user-panel-page .col-details .btn-edit-account,
.user-panel-page .col-details .btn-all-orders {
  display: block;
  width: 100%;
  max-width: 310px;
  margin: 10px auto;
}




/*.mCSB_scrollTools {
  width: 8px;
}*/

/*.mCSB_scrollTools .mCSB_draggerRail {
  background-color: rgba(216, 216, 216, 0.36);
  border-radius: 0;
  width: 5px;
}*/

/*.mCSB_scrollTools .mCSB_dragger {
  cursor: pointer;
  width: 5px;
  height: 30px !important;
  z-index: 1;
  background-color: #D8D8D8;
}*/


/*.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #D8D8D8 !important;
}*/

/*
	Ranger Price
*/

.jslider .jslider-value span {
  font-size: 12px;
  color: #999999;
}


.jslider .jslider-value span:before {
  content: 'R$ ';
  font-size: 12px;
  color: #999999;
}


.jslider .jslider-label-to,
.jslider .jslider-label {
  display: none !important;
}


.jslider .jslider-bg .v {
  background: #999999 !important;
}


.jslider .jslider-bg .l {
  background: #D9D9D9 !important;
}


.jslider .jslider-bg .f {
  background: #D9D9D9;
}


.jslider .jslider-bg .r {
  background: #D9D9D9;
}


.jslider .jslider-pointer {
  background: #999999;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}


.layout-slider {
  margin-top: 15px;
}


.short-description {
  margin-top: 25px;
  border-top: 1px solid #D9D9D9;
  padding-top: 25px;
}



.product-variation-input:checked+label {
  color: #757575;
  border-color: #757575;
}

.product-variation-input:checked+label:before {
  content: "\f00c";
  font: 400 9px/20px FontAwesome;
  display: block;
  position: absolute;
  right: -8px;
  bottom: -8px;
  width: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #757575;
  border-radius: 100%;
  border: 1px solid #757575;
  background: #F3F3F3;
  box-shadow: 0 0 0 2px #fff;
}

.login-form{
  margin: 0 auto;
}

.upselling-item .border .thumb a img {
  /*max-width: 100%;
  width: auto;
  height: auto;*/
  height: 238px;
  width: 238px;
  margin: 0 auto;
}
/*
	COMPARAR
*/

#to-compare {
  background: #FAFAFA;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.12), 0px 14px 14px 0px rgba(0, 0, 0, 0.14);
  text-align: center;
  padding: 25px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

#to-compare .box-compare {
  height: 40px;
  background: #757575;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
}

#to-compare .box-compare .btn-compare {
  background: none;
  box-shadow: 0 0 0 transparent;
  font-size: 15px;
  color: #FFFFFF;
  font-weight: 400;
  text-align: center;
  padding: 0;
  line-height: 40px;
}

#to-compare .box-compare .quanty {
  width: 60px;
  color: #FFF;
  display: block;
  margin: 6px 0;
  border-left: 1px solid #999999;
  height: 28px;
  line-height: 30px;
}

#to-compare .text-alert {
  text-align: left;
  color: #999999;
  font-size: 14px;
  line-height: 30px;
  vertical-align: middle;
  padding: 5px 0px;
}

#zipcodeModal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 40;
}
@media (max-width: 767px) {
  #zipcodeModal {
    display: none!important;
  }
}
#zipcodeModal .zipcodeModal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 405px;
  height: 200px;
  max-width: 90%;
  margin: -202px 0 0 -150px;
  z-index: 50;
  background: #FAFAFA;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.12), 0px 14px 14px 0px rgba(0, 0, 0, 0.24);
  padding: 25px;
}

#zipcodeModal .zipcodeModal-content button {
  transition: all 0.3s linear 0.1s;
}

#zipcodeModal label {
  font-size: 15px;
  color: #999999;
  line-height: 18px;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
}


.product-area-sizer{
  margin: 15px 0px;
}

.product-area-sizer .label{
  font-size: 15px;
  color: #999999;
  line-height: 18px;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
}

.input{
  display: block;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  font-size: 12px;
  color: #757575;
  height: 33px;
  letter-spacing: 0;
  text-align: center;
  padding: 0 15px;
  width: 100px;
}

.product-variation-option .product-variation-choice {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  font-size: 13px;
  font-weight: 300;
  color: #999999;
  font-weight: 15px;
  padding: 10px 15px;
  transition: 300ms all;
  position: relative;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.product-variation-option .product-variation-choice:visited{
  text-decoration: none;
}

.product-variation-option .product-variation-selected:before {
  content: "\f00c";
  font: 400 9px/20px FontAwesome;
  display: block;
  position: absolute;
  right: -8px;
  bottom: -8px;
  width: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #757575;
  border-radius: 100%;
  border: 1px solid #757575;
  background: #F3F3F3;
  box-shadow: 0 0 0 2px #fff;
}

.product-variation-option .product-variation-choice.no-stock {
  background: #F3F3F3;
  border-color: #F3F3F3;
}

.product-variation-option .no-stock.product-variation-selected:before {
  content: "\f00d";
  font: 400 9px/20px FontAwesome;
  display: block;
  position: absolute;
  right: -8px;
  bottom: -8px;
  width: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #ff0000;
  border-radius: 100%;
  border: 1px solid #ff0000;
  background: #F3F3F3;
}

.form-verify-services p{
  font-size: 15px;
  color: #999999;
  line-height: 18px;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
}

.product-loss-percentage{
  margin: 15px 0px;
}

.product-services .input{
  width: 70px;
  display: inline-block;
}

.payment-options{
    list-style: none;
    padding: 0px;
    margin: 0px;

}

.payment-options .btn{
    width: 100%;
}

.forget-password{
  max-width: 330px;
  margin: 0 auto;
}


#main-nav #vehicle {
  position: relative;
  width: 150px;
}


#navGroups {
  margin: 0px!important;
}
#navGroups a{
  background-color: transparent !important;
  font-size: 14px !important;
  color: #999999 !important;
  line-height: 20px !important;
  font-weight: 400 !important;
  margin: 0px!important;
  padding: 10px!important;
}
#navGroupsTitle {
  padding: 0px!important;
}


.side-banners{
	margin: 0px;
	padding: 0px;
}

.side-banners li{
	margin: 0px;
	padding: 0px 0px 5px;
	list-style: none;
}


#popUpModal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 40;
  overflow-y: auto;
}
#popUpModal .popUpModal-content {
  position: relative;
  top: 50%;
  
  /*width: 405px;
  height: 200px;*/
  max-width: 90%;
  margin: -202px auto 0 auto;
  z-index: 50;
  background: #FAFAFA;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.12), 0px 14px 14px 0px rgba(0, 0, 0, 0.24);
  padding: 25px;
  display: table;
}

#popUpModal .container {
     padding: 0!important;
  }

@media (min-width: 768px){
#popUpModal .container {
     width: inherit !important;
  }
}

@media (min-width: 992px) {
#popUpModal  #newsletter #box-newsletter .form {
    
    width: inherit !important;
    
  }

 #popUpModal #newsletter #box-newsletter .title-newsletter {
    text-align: inherit !important;
    float: inherit !important;
    width: inherit !important;
    padding-right:inherit !important;
  }

  #popUpModal #newsletter #box-newsletter .form .form-group .form-input {
    width: inherit !important;
  }
}

@media (min-width: 1200px) {
  #popUpModal #newsletter #box-newsletter .form .form-group .form-input {
    width: inherit !important;
  }
}
/*
	MODAL LOGIN
*/

#login {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 40;
}
@media (max-width: 767px) {
  
  #login {
    display: none!important;
  }
}

#login .login-content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 405px;
  max-width: 90%;
  margin: -202px 0 0 -150px;
  z-index: 50;
  background: #FAFAFA;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.12), 0px 14px 14px 0px rgba(0, 0, 0, 0.24);
  padding: 25px;
}

#login .login-content ul {
  text-align: center;
  padding: 0;
  list-style: none;
}

#login .login-content ul li {
  margin-top: 10px;
}

#login .login-content ul li button {
  font-size: 16px;
  color: #FFF;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 41px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  transition: all 0.3s linear 0.1s;
}

#login .login-content ul li button.access-key {
  background: #69C900;
}

#login .login-content ul li button.login-face {
  background: #42568E;
}

#login .login-content ul li button.login-gplus {
  background: #DE4B34;
}

#login .login-content ul li button.mail-enter {
  background: #F2F2F2;
  color: #757575;
}

.form-group.required .control-label:after { 
   content:"*";
   color:red;
}

#navbar{
  background: #f3f3f3;
  position: relative;
}

.categories-nav{
  background: #f3f3f3;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}


@media (max-width: 767px) {
  .categories-nav li > a{
    border-bottom: 3px solid transparent;
    font-size: 14px;
    color: #999999;
  } 
}

.categories-nav li a .icon {
  display: inline-block;
  margin-right: 0px;
}

.categories-nav li a .icon img{
  height: 32px;
  width: auto;
  text-align: center;
  margin: 0 .3em;
}

@media (min-width: 780px) {
  .categories-nav li > a{
    border-bottom: 0px solid transparent;
    font-weight: 400;
    font-size: 13px;
    color: #777;
    display: block;
    max-width: 7em;
    text-align: center;
    padding: 1em;
  }

  .categories-nav .dropdown .dropdown-menu a{
    text-align: left;
  }
  
  .categories-nav li a{
    border-bottom: 0px solid transparent;
    font-weight: 400;
    font-size: 13px;
    color: #777 !important;
    display: inline-block;
    background: transparent !important;
  }

  .categories-nav .navbar-nav > li > a:hover {
    border-bottom-color: transparent;
    color: #777 !important;
    background-color: #fac629 !important;
  }

  .categories-nav li > a img{
    max-width: 32px;
    height: auto;
    margin: 0 auto;
    filter: grayscale(11%);
    -webkit-filter: grayscale(11%);
    -moz-filter: grayscale(11%);
    -o-filter: grayscale(11%);
    -ms-filter: grayscale(11%);
  }

  .categories-nav .dropdown-menu li a{max-width: none;padding: 0 .5em;}
  .categories-nav .dropdown-menu li a:before{display: block;}
}

.categories-nav .icon-bar{
  background-color: #fff;
}

.categories-nav .dropdown-menu{
  background: #FAFAFA;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2), 0 14px 14px 0 rgba(0, 0, 0, 0.2);
  transition: 200ms all;
}

.categories-nav .dropdown-menu > li{
  padding: .5em 0em .5em 0;
  float: left;
  min-width: 15em;
  list-style: square;
  margin-left: 2em;
}
.categories-nav .dropdown-menu > li:hover{
  color: #666 !important;
  text-decoration: none;
  /*background-color: #f5f5f5;*/
  cursor: pointer;  
}
.categories-nav .dropdown-menu > li:hover a{
  color: #fac629 !important;
}
.categories-nav .dropdown-menu > li i{
  display: inline-block;
}

.btn-my-cart, .btn-my-cart:hover, .btn-search, .btn-search:hover {
  background: transparent;
  border: 0 none;
  border-radius: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  box-shadow: 0 0 0 transparent;
}

.mobile-btns{
  padding: 15px;
}

.search-catalog .border{
  width: 100%;
}

.search-catalog .border .thumb a img {
  height: auto;
  width: auto;
  max-height: 200px;
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.search-catalog li{
  box-sizing: border-box;
}

.results-found-text{
  font-size: 13px;
  color: #999999;
  line-height: 40px;
  font-weight: 400;
  margin: 0; 
}

.filter-box .qty-products {
  font-size: 11px;
  color: #999999;
  line-height: 13px;
  display: block;
  font-weight: 400;
}

.filter-box .clearfix {
  padding: 10px 0;
}

.filter-box .btn-filter {
  background: #F3F3F3;
  font-size: 13px;
  color: #757575;
  height: 40px;
  border: 0 none;
  border-radius: 0;
  padding: 0 15px;
  margin-right: 10px;
}

.filter-box .btn-filter img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.filter-box .order-by {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  font-size: 13px;
  border-radius: 0;
  color: #757575;
  height: 40px;
  width: 100%;
  padding-left: 10px;
}

#filter {
  
  
  /*left: 0;
  right: 0;
  bottom: 0;*/
  background: #FAFAFA;
  
}

#filter .filter-header {
  padding: 0 15px;
}

#filter .filter-header .btn-close {
  width: 30px;
  height: 30px;
  border: 0 none;
  background: transparent;
  border-radius: 0;
}

#filter .filter-header .btn-clear-all {
  font-size: 12px;
  color: #999999;
  font-weight: 400;
  line-height: 30px;
}

#filter .filter-header b {
  font-size: 13px;
  color: #757575;
  line-height: 12px;
  display: block;
  padding: 5px 0;
  font-weight: 400;
}

#filter .filter-header b img {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

#filter .filter-header h4 {
  font-size: 18px;
  color: #757575;
  line-height: 21px;
  font-weight: 400;
  margin: 30px 0 5px;
}

#filter ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

#filter ul .lvl1-item {
  padding: 5px 0;
  background: #fff;
}

#filter ul .lvl1-link {
  min-height: 40px;
  font-size: 18px;
  line-height: 20px;
  color: #757575;
  font-weight: 400;
  display: block;
  width: 100%;
  position: relative;
  text-align: left;
  padding: 0 15px;
  background: #fff;
  border: 1px solid #ccc;
}

#filter ul .lvl1-link .selected {
  display: block;
  font-size: 11px;
  color: #999999;
  font-weight: bolder;
}

#filter ul .lvl1-link .fa {
  color: #999999;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
}

#filter .lvl1 {
  padding-top: 30px;
}

#filter .lvl2 {
  display: none;
  background: #fff;
  z-index: 99;
}

#filter .lvl2 .lvl2-item label {
  font-size: 14px;
  line-height: 20px;
  color: #999;
  font-weight: 400;
  display: block;
  width: 100%;
  position: relative;
  text-align: left;
  padding: 5px 15px;
}

#filter .lvl2 .lvl2-item label input {
  width: 12px;
  height: 12px;
  margin: 4px 4px 4px 0;
}

.mobile-cart-items{
  padding: 10px 15px;
  margin: 0;
  list-style: none;
  overflow-y: auto;
}

.mobile-cart-items .mobile-cart-item{
  border-top: 1px solid #D9D9D9;
  padding: 10px 0;
}

.mobile-cart-items .mobile-cart-item:first-child {
  border-top: 0 none;
}

.mobile-cart-items .mobile-cart-item .actions {
  margin-left: 10px;
}

.mobile-cart-items .mobile-cart-item .actions .btn-remove {
  border: 0 none;
  background: transparent;
  display: block;
  width: 45px;
  height: 25px;
  margin-bottom: 5px;
  color: #757575;
}

.mobile-cart-items .mobile-cart-item .actions .btn-remove:hover {
  color: #D0011B;
}

.mobile-cart-items .mobile-cart-item .actions .update-qty {
  display: block;
  position: relative;
  max-width: 45px;
}

.mobile-cart-items .mobile-cart-item .actions .update-qty input {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  font-size: 12px;
  color: #757575;
  height: 25px;
  width: 45px;
  text-align: center;
  padding: 0 0px;
}

.mobile-cart-items .mobile-cart-item .actions .update-qty .btn-update {
  border: 0 none;
  background-color: transparent;
  width: 15px;
  height: 25px;
  position: absolute;
  top: 0;
  font-size: 12px;
  color: #999999;
  font-weight: 400;
  padding: 0;
}

.mobile-cart-items .mobile-cart-item .actions .update-qty .btn-update.btn-update-del {
  left: 0;
}

.mobile-cart-items .mobile-cart-item .actions .update-qty .btn-update.btn-update-add {
  right: 0;
}

.mobile-cart-items .mobile-cart-item .actions .update-qty .btn-update:hover {
  color: #69C900;
}

.mobile-cart-items .mobile-cart-item .thumb {
  padding-right: 10px;
}

.mobile-cart-items .mobile-cart-item .details a {
  text-decoration: none;
}

.mobile-cart-items .mobile-cart-item .details a b {
  font-size: 12px;
  color: #757575;
  line-height: 14px;
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
}

.mobile-cart-items .mobile-cart-item .details a strong {
  display: block;
}

.mobile-cart-items .mobile-cart-item .details a strong .old-price {
  font-size: 11px;
  color: #999999;
  line-height: 15px;
  text-decoration: line-through;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

.mobile-cart-items .mobile-cart-item .details a strong .regular-price {
  font-size: 13px;
  color: #000000;
  line-height: 15px;
  display: inline-block;
  vertical-align: top;
}

.dropdown-menu{
  z-index: 10 !important;
}

.categories-nav{
  z-index: 10 !important;
}

#search-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
}

#search-box .form-search-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: #fff;
  z-index: 50;
  transition: 300ms all;
}

#search-box .form-search-mobile .overflow-hidden input {
  display: block;
  width: 100%;
  height: 56px;
  padding: 1em;
  background-color: #fff;
  border: 0px;
}

#search-box .form-search-mobile button {
  width: 56px;
  height: 56px;
  background-color: #fac629;
  padding: 0;
  border: 0 none;
  border-radius: 0;
}
/*
 ** CUSTOM PAINT 
*/
.form-group.required .control-label:after { 
   content:"*";
   color:red;
}

.mercado-pago-creditcard-brands{
  margin: 0 auto;
  padding: 0;
  display: table;
  list-style: none;
  box-sizing: border-box;
}

.mercado-pago-creditcard-brands li{float: left;padding: 5px;margin: 0;}
.mercado-pago-creditcard-brand{display: block;width: 30px;height: 30px;position:relative;-webkit-filter: opacity(30%);filter: opacity(30%);}
.mercado-pago-creditcard-brand.brand-selected{-webkit-filter: opacity(100%);filter: opacity(100%);}
.mercado-pago-creditcard-brand img{position:absolute;top:0;bottom:0;margin:auto;}
.groups-nav{background-color: #f2f2f2;}
@media (max-width: 767px) {
  .groups-nav .dropdown-toggle{padding-left: 30px;}
}
#banner-carousel img{margin: 0 auto;}
#banner-carousel .carousel-control.right, #banner-carousel .carousel-control.left{background: none;}
.installments-simulations{padding: 10px;}
.half-banners{margin: 10px 0;}
#cross-selling-items .showcase-item{float: left;}
.col-welcome{margin-top: .5em;}
.navbar{margin-bottom: 0px !important;}
.back-top {position: fixed;z-index: 999;right: 0;bottom: 0;display: none;width: 30px;height: 23px;color: #fff;background-color: #fac629;display: inline;width: 30px;height: 30px;}
.back-top i {margin-top: 8px;}
#headeron{display: none;position: fixed;background: #fac629;width: 100%;top: 0;z-index: 9999;height: 70px !important;}
#headeron .header-bar{padding: 10px 0 0px;}

.before_pagination{margin: 1em auto 0em;text-align: center;}
.nav > li{position: static;}
.pagination>li>a, .pagination>li>span{color: #666;}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{color: #fac629;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{background-color: #fac629;border-color: #fac629;}
.form-control{box-shadow: none !important;}
.form-control:focus {border-color: #66afe9;}
.row-order-by{margin-left: 0em;margin-bottom: 2em;}
.navbar-nav > li > .dropdown-menu{border-radius: 0em;}
.filter-items{}
.filter-items label{margin: 10px 0;}
.filter-items .btn-default{font-size: 15px;margin: 0em 8px 0em 0em;}
.filter-items .btn-danger{font-size: 15px;}
.border .price-box .regular-price .label.arrowed {position: relative;font-size: 12px;margin-left: 10px;}
.border .price-box .regular-price .label.arrowed::before {position: absolute;z-index: -1;top: 0;left: -9px;display: inline-block;content: '';border: 1px solid transparent;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;border-right-color: transparent;border-width: 10px 5px;}
.border .price-box .regular-price .label-danger.arrowed::before {border-right-color: #d9534f;}
.product-page .product-extra .description h3, .product-page .product-extra .specifications h3{padding-bottom: 7px;}
.product-page h4, .product-page h4{padding-bottom: 7px;}
// .showcase.showcase-owl .showcase-items .owl-nav{display: block;right: .05em !important;margin-top: -55px;position: absolute;top: 0px;text-align: inherit;left: auto;}
// .showcase.showcase-owl .showcase-items .owl-nav [class*="owl-"]{margin: 0px;padding: 0px 6px;border-radius: 0px;}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{background: #337ab7;}
.btn-voltar{font-size: 18px !important;color: #666 !important;}
.tab-pane .well {border-top: 0;border-radius: 0;background: #fff;-webkit-box-shadow: none;box-shadow: none;}
.union-btn-checkout {text-align: center;}
// .union-btn-checkout a{font-size: 18px !important;display: inline-block;margin: 0em !important;padding: 10px !important;box-shadow: none;}
// .union-btn-checkout .btn-back-to-buy{box-shadow: none;}
// .union-btn-checkout .btn-back-to-buy:hover{color: #333;background-color: #d4d4d4;border-color: #8c8c8c;}
// .union-btn-checkout .especial a{background: #fac629;font-size: 20px;color: #fff;}
// .union-btn-checkout .especial a:hover{background: #ffb600;}
.font14{font-size: 14px !important;}
.font18{font-size: 18px !important;}
.showcase-home-new-especial .border{min-width: 172px;}
.navbar{position: relative;}
.page-header {padding-bottom: 9px;margin: 40px 0 20px;border-bottom: 1px solid #eee;}
.page-header h1{}
.page-header h1 b{font-size: 18px;}
#navbar .nav > li{position: static;max-width: 7em;max-height: 7em;min-height: 7em;overflow: hidden; width: 6.7em;}
#navbar .nav > li > a{padding: 10px 5px !important;text-transform: inherit;}
.menu_rsw{}
.menu_rsw li{width: 6em;margin: 0em .1em;}
.menu_rsw li > a.dropdown-toggle{height: 8em;}
.menu_rsw li a.dropdown-toggle span{}
.menu_rsw li a.dropdown-toggle span img{}
.list-unstyled{}
.list-unstyled li{}
.list-unstyled li a{}
.destaque{}
/*.destaque h3{margin: 0 0 30px;border-bottom: 3px solid #ccc;padding-bottom: 9px;line-height: 1 !important;}*/
/*.destaque h3 b{}*/
@media (max-width: 767px) {
  #headeron{display: none !important;}  

}
@media (min-width: 992px) {
  .dropdown:hover .dropdown-menu {display: block;background: #fff;box-shadow: none;max-width: 1170px;padding: 5px;position: absolute;
    width: 100%;}
}
@media (max-width: 992px) {
  #main-footer .light-box{}
  #main-footer .light-box iframe{width: 100%;}
  #newsletter #box-newsletter .form .form-group.box-name input{display: block;margin: 1em 0em;border-radius: 1em;}
  #newsletter #box-newsletter .form .form-group.box-email input{display: block;margin: 1em 0em;border-radius: 1em;}
  // #newsletter #box-newsletter .form #btn-newsletter{display: block;margin: 0em 0em 12px 0em;border-radius: 1em;}
  #secondary-footer{padding: 0em;}
  #secondary-footer .list-footer{margin-bottom: 1em;}
  #brand{}
  
  #header .header-bar .form-search input{width: 23em;}
  #header .header-bar .form-search .button{right: 7em;}
  .dropdown:hover .dropdown-menu {display: block;background: #fff;box-shadow: none;width: 100%;padding: 5px;position: absolute;
    width: 100%;}
  .product-page-details{margin-bottom: 2em;}
  .product-page-details .image{}
  .product-page-details .image img{width: 25em;}
  .btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {display: table;content: " ";}
  .btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {clear: both;}
  .btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {display: table;content: " ";}
  :after, :before {box-sizing: border-box;}
  .description-tab-box .btn-open-content {text-align: left;padding: 0 15px;width: 100%;display: block;background: #Fff;height: 50px;border-radius: 0;border: 0 none;border: 1px solid #dadada;font-size: 14px;color: #757575;font-weight: 400;text-transform: uppercase;line-height: 20px;}
  .description-tab-box #informacoes-produto {margin: 1em;}
  .checkout-page .checkout-total .shipping-box {max-width: 100%;margin: 3.6em 0em;}
  .checkout-page .checkout-total form input {background: #FFFFFF;border: 1px solid #D9D9D9;font-size: 14px;color: #999999;padding: 0 15px;height: 40px;width: 100%;}
  .user-panel-page .col-details {color: #666;margin: 5em 0em 0em;}
  .page-header {padding-bottom: 9px;margin: 40px 0 20px;border-bottom: 1px solid #eee;}
  .page-header h1{}
  #navbar {position: relative;}
  .categories-nav li > a{border-bottom: 3px solid transparent;font-size: 14px;color: #fff;}  
}
@media (max-width: 767px) {
  #navbar, .navbar, .navbar-static-top, .navbar-header {background: #fac629;}
}
#map{width: auto;height: 20em;}
#content.no-content {
    background-image: url(../assets/images/404.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: 80% 40%;
    min-height: 900px;
    position: relative;
}
.no-content .no-content-comment {
    width: 480px;
    height: 350px;
    position: absolute;
    left: 38%;
    margin-left: -360px;
    top: 20px;
    background-image: url(../assets/images/404-comment.png);
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 16px;
}
.no-content-comment h2 {
    font: 700 110px/0.8 "Gudea", Arial, sans-serif;
    color: #fac629;
    text-shadow: 8px 4px 0 rgba(0,0,0, 0.1);
    margin-bottom: 15px;
}
@media (max-width: 512px) {
  .menu_rsw{}
  .menu_rsw li{width: 6em;margin: 0em .1em;}
  .menu_rsw li > a{height: 2.5em;width: 100%;}
  .menu_rsw li > a.dropdown-toggle{height: 2.5em;width: 100%;}
  .menu_rsw li a.dropdown-toggle span{}
  .menu_rsw li a.dropdown-toggle span img{}
  #navbar .nav > li {position: static;max-height: 7em;min-height: 2em;overflow: hidden;width: 100%;max-width: none;}
  #navbar .nav > li.divider {display: none;}
}