<!-- Carrossel Marcas -->
<div id="brands-nav" class="container">
    <div id="list-brands" class="hidden-xs">
        <h3 class="admake-title">Melhores Marcas</h3>
        <ul class="brand-slider list-style-none owl-carousel owl-theme">
            <li *ngFor="let brand of getBrands()" class="list-brands-item">
                <a [routerLink]="[getRoute(brand)]" title="{{brand.name}}">
                    <img [attr.src]="getPictureUrl(brand)" [attr.alt]="brand.name" class="img-responsive center-block">
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- /Carrossel Marcas -->