<!-- Header Checkout -->
<header id="header-checkout" *ngIf="isStore() && isCheckout()">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div class="brand overflow-hidden text-center">
                <a [routerLink]="['/']" [attr.title]="store.companyName">
                    <img [attr.src]="getLogoPath()" [attr.alt]="getStore().companyName" class="img-fluid" width="185px" height="55">
                </a>
            </div>
            
            <span class="text text-right">
                <i class="fa fa-lock" aria-hidden="true"></i> Compra 100% segura <br>
                <i class="fa fa-phone" aria-hidden="true"></i> Televendas {{getStore().phone}}
            </span>
        </div>
    </div>
</header>
<!-- Header Normal -->
<header id="header" class=" {{ headerClass() }}" *ngIf="isStore() && !isCheckout() && !isMobile()">
    <div class="header-bar-1">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                
                <div class="brand-fixed-bar">
                    <a [routerLink]="['/']" [attr.title]="store.companyName">
                        <img [attr.src]="getLogoPath()" [attr.alt]="getStore().companyName" class="img-fluid" width="185px" height="55">
                    </a>
                </div>

                <div id="welcome" *ngIf="!isCustomer()">
                    <p>
                        <i class="fas fa-user"></i>
                        <span class="d-none d-lg-inline">Faça seu </span>
                        <a class="login-enter" [routerLink]="['/login']" title="Entre">login</a> ou
                        <a class="about-us" [routerLink]="['/cadastrar']" title="Cadastre-se">cadastre-se</a>
                    </p>
                </div>
                <div id="welcome" *ngIf="isCustomer()">
                    <p>
                        <i class="fas fa-user"></i>
                        {{ customer.firstname_Companyname }}, 
                        <a class="login-enter" href="javascript:void(0)" (click)="logout()" title="Sair">sair</a>
                    </p>
                </div>

                <div class="link d-none d-lg-block">
                    <a href="https://www.google.bg/maps/place/DD+M%C3%A1quinas+e+Ferramentas/@-23.4825805,-47.4757394,17z/data=!3m1!4b1!4m5!3m4!1s0x94c5f536d2d636d1:0xb80b43d261894b5!8m2!3d-23.4825805!4d-47.4735507" target="_Blank" title="Localização"><i class="fas fa-map-marker-alt"></i> Localização</a>
                </div>

                <div class="social-list">
                    <ul>
                        <li><a href="https://www.facebook.com/duplormaquinas" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/dd-m%E1quinas?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10602979%2Cidx%3A2-1-2%2CtarId%3A1461181634606%2Ctas%3Add%20maquinas%22" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC_p40fEpdZi0zMpCscAwjrQ" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="https://www.instagram.com/dd_maquinas/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>

                <div class="admake-search">
                    <form id="form-search-customer" class="form-search" action="/buscar" method="get" (submit)="searchFor($event)">
                        <i class="icon-search fas fa-search d-none d-lg-block"></i>
                        <input id="auto-complete-mobile" type="text" placeholder="Procure aqui..." name="q-mobile" [(ngModel)]="q" autocomplete="on" required>
                        <button class="button button-search" type="submit">Buscar</button>
                    </form>
                </div>

                <mini-cart [store]="getStore()"></mini-cart>
                
                <div class="link">
                    <a [routerLink]="['/conta/pedidos']" title="Meus Pedidos"><i class="fas fa-clipboard-list"></i> Meus Pedidos</a>
                </div>

                <div class="link d-none d-xl-block">
                    <a [routerLink]="['/contato']" title="Central de Atendimento"><img src="/assets/images/icon-contact.png" alt="" width="22" height="22" /> Atendimento</a>
                </div>

            </div>
        </div>
    </div>
    <div class="header-bar-2">
        <div class="container text-center">
            <h1 id="brand" class="d-table m-auto">
                <a [routerLink]="['/']" [attr.title]="store.companyName">
                    <b class="sr-only">{{getStore().companyName}}</b>
                    <img [attr.src]="getLogoPath()" [attr.alt]="getStore().companyName" class="img-fluid" width="235" height="69">
                </a>
            </h1>
        </div>
    </div>
    <nav class="admake-nav-box">
        <div class="container">
            <category [store]="getStore()" [isLoggedIn]="isCustomer()" id="admake-nav-list"></category>
        </div>
    </nav>
</header>
<header id="header-mobile" class="fixed-top sticky-top" *ngIf="isStore() && !isCheckout() && isMobile()">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            
            <button id="btn-nav-mobile"><i class="fas fa-bars"></i></button>

            <h1 id="brand" class="d-table m-auto">
                <a [routerLink]="['/']" [attr.title]="store.companyName">
                    <b class="sr-only">{{getStore().companyName}}</b>
                    <img [attr.src]="getLogoPath()" [attr.alt]="getStore().companyName" class="img-fluid" width="126" height="37">
                </a>
            </h1>

            <mini-cart [store]="getStore()"></mini-cart>

            <button id="btn-search-mobile"><i class="fas fa-search"></i></button>

            <div class="admake-search-mobile">
                <form id="form-search-customer" class="form-search" action="/buscar" method="get" (submit)="searchFor($event)">
                    <input id="auto-complete-mobile" type="text" placeholder="Procure aqui..." name="q-mobile" [(ngModel)]="q" autocomplete="off" required>
                    <button class="button button-search" type="submit"><i class="fas fa-search"></i></button>
                </form>
                <button id="btn-close-search-mobile"><i class="fas fa-times"></i></button>
            </div>
            
        </div>
    </div>
</header>
<div class="admake-nav-mobile d-block d-sm-none" *ngIf="isStore() && !isCheckout() && isMobile()">
    <div class="nav-mobile-header">
        <div id="welcome" class="d-flex align-items-center">
            <i class="fas fa-user"></i>
            <div>
                <p>Bem-vindo à DD Máquinas.</p>
                <p *ngIf="!isCustomer()">
                    <span>Faça seu </span>
                    <a class="login-enter" [routerLink]="['/login']" title="Entre">login</a> ou
                    <a class="about-us" [routerLink]="['/cadastrar']" title="Cadastre-se">cadastre-se</a>
                </p>
                <p *ngIf="isCustomer()">
                    {{ customer.firstname_Companyname }}, 
                    <a class="login-enter" href="javascript:void(0)" (click)="logout()" title="Sair">sair</a>
                </p>
            </div>
        </div>
        <div class="link">
            <a [routerLink]="['/conta/pedidos']" title="Meus Pedidos"><i class="fas fa-clipboard-list"></i> Meus Pedidos</a>
        </div>
        <button class="admake-close-mobile-nav"><i class="fas fa-times"></i></button>
    </div>
    <div class="nav-mobile-container">
        <category [store]="getStore()" [isLoggedIn]="isCustomer()" id="admake-nav-list-mobile"></category>
    </div>
</div>

<!-- Conteúdo -->
<div class="middleware" [ngClass]="{'is-home': isHome()}">
    <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer id="footer" *ngIf="isStore()">

    <div class="social-list-banners">
        <div class="container">
            <h3 class="admake-title">Nossos canais</h3>
            <div class="row">
                <div class="col-6 col-sm-3">
                    <a href="#" target="_blank" class="d-block">
                        <img src="/assets/images/banners/banner-instagram.png" class="img-fluid" width="263" height="230">
                    </a>
                </div>
                <div class="col-6 col-sm-3">
                    <a href="#" target="_blank" class="d-block">
                        <img src="/assets/images/banners/banner-facebook.png" class="img-fluid" width="263" height="230">
                    </a>
                </div>
                <div class="col-12 d-block d-sm-none pt-3 pb-3"></div>
                <div class="col-6 col-sm-3">
                    <a href="#" target="_blank" class="d-block">
                        <img src="/assets/images/banners/banner-youtube.png" class="img-fluid" width="263" height="230">
                    </a>
                </div>
                <div class="col-6 col-sm-3">
                    <a href="#" target="_blank" class="d-block">
                        <img src="/assets/images/banners/banner-blog.png" class="img-fluid" width="263" height="230">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Newsletter -->
    <newsletter *ngIf="!isCheckout()"></newsletter>
    <!-- /Newsletter -->

    <brand-nav [store]="store"></brand-nav>


    <div class="footer-row-1">
        <div class="container">
            <div class="row">
                <div class="col-payments col-12 col-sm-3">
                    <h3>Formas de Pagamento</h3>
                    <img src="/assets/images/payments.png" alt="Visa | MasterCard | AmericanExpress | Visa Electron | Elo | BNDS | Diners | Aura" width="264" height="80" class="img-fluid">
                </div>
                <div class="col-frete col-12 col-sm-6">
                    <div class="d-table m-auto">
                        <h3>Formas de Envio</h3>
                        <ul>
                            <li><span class="pac">PAC</span></li>
                            <li><span class="sedex">Sedex</span></li>
                            <li><span class="transportadora">Transportadora</span></li>
                            <li><span class="retire-na-loja">Retire no Balcão</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-frete col-12 col-sm-3">
                    <h3>Compre com tranquilidade</h3>
                    <a id="seloEbit" href="http://www.ebit.com.br/dd-maquinas/selo" target="_blank" onclick="redir(this.href);"
                        title="Avaliado pelos consumidores" oncontextmenu="alert('Cópia proibida ! A certificação e-bit é de uso exclusivo de lojas conveniadas à e-bit.');return false;"
                        value="1" style="display: block; overflow: hidden; position: relative;">
                        <img class="img-responsive" src="https://imgebit-a.akamaihd.net/ebitBR/selo/img_76208.png"
                            style="border: 0px;">
                        <script id="facebook-jssdk" src="//connect.facebook.net/pt_BR/sdk.js#xfbml=1&amp;version=v2.10"></script>
                        <script src="//validator.ebit.com.br?ebitId=76208&amp;typeTag=selo&amp;urlOrigin=http%3A%2F%2Fwww.ddmaquinas.com.br%2F"
                            async="true"></script>
                    </a>
                    <img class="img-responsive especial" src="../assets/images/siteblindado.jpg" alt="">
                    <img class="img-responsive especial" src="../assets/images/selo-ssl.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!isCheckout()" class="footer-row-2">
        <div class="container">
            <div class="row">
                <div class="col-links col-12 col-sm-3">
                    <h3>Minha Conta</h3>
                    <ul>
                        <li><a [routerLink]="['/conta/home']" title="Informações Pessoais">Informações Pessoais</a></li>
                        <li><a [routerLink]="['/conta/enderecos']" title="Endereços">Endereços</a></li>
                        <li><a [routerLink]="['/conta/pedidos']" title="Pedidos">Pedidos</a></li>
                        <li><a [routerLink]="['/conta/vounchers']" title="Descontos e Cupons">Descontos e Cupons</a></li>
                        <li *ngIf="isCustomer()"><a [routerLink]="['/logout']" title="">Logout</a></li>
                    </ul>
                </div>
                <div class="col-links col-12 col-sm-5">
                    <h3>Informações</h3>
                    <ul>
                        <li *ngFor="let institutional of institutionals">
                            <a [routerLink]="[getInstitutionalUrl(institutional)]" [attr.title]="institutional.title">{{institutional.title}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-contacts col-12 col-sm-4">
                    <h3>Onde estamos?</h3>
                    <ul>
                        <li>Rua Dr. Francisco Ribeiro Arantes, 101 <br> Vila tortelli - Sorocaba / SP - CEP 18070-020</li>
                        <li>Televendas<a href="tel:1535193500">(15) 3519-3500</a></li>
                        <li><a href="mailto:sac@ddmaquinas.com.br">sac@ddmaquinas.com.br</a></li>
                        <li class="pt-4">Funcionamento</li>
                        <li>De segunda a sexta da 7h30 às 18h00</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <p>As fotografias efetuadas por nossa equipe é uma obra intelectual e é protegida pela lei. Está escrito no art. 7., inc. VII, da Lei 9610/98: " - São obras intelectuais protegidas as criações do espírito, expressas por qualquer meio ou
                fixadas em qualquer suporte, tangível ou intangível, conhecido ou que se invente no futuro, tais como: VII – as obras fotográficas e as produzidas por qualquer processo análogo ao da fotografia;<br>
                Duplor Comercio de Ferramentas Industriais e Serviços LTDA CNPJ 10.622.178/0001-28 | Rua Doutor Francisco Ribeiro Arantes, 101, Vila Tortelli | Sorocaba - SP | Mapa do site.<br>
                Copyright © 2018 DD Máquinas LTDA - ME - Todos os direitos reservados.</p>
        </div>
    </div>
</footer>

<!-- Conteúdo do rodapé -->
<a href="index.html#top" class="back-top text-center" onclick="$('body,html').animate({scrollTop: 0}, 500); return false">
    <i class="fa fa-chevron-up"></i>
</a>
<popup *ngIf="isStore() && !isCheckout()" [store]="getStore()"></popup>

<!-- Local onde será injetado o script da Konduto -->
<div #konduto></div>