<main role="main" class="institutional-page" *ngIf="institutional">
    <div class="container">
        <h2 class="admake-title" *ngIf="institutional.content.indexOf('admake') < 0">{{institutional.title}}</h2>
        <div class="row-first">
            <div class="description-text" [innerHTML]="institutional.content | safeHtml"></div>
        </div>
        <div class="row-second" *ngIf="isContactPage()">
            <contact></contact>
        </div>
    </div>
</main>