<div class="step step-shipping">
    <div class="header">
        <span class="number">2</span>
        <span class="text">Opções de Entrega</span>
    </div>
    <div class="content">
        <div class="shipping-intelipost" *ngIf="intelipost.content">
            <div class="radio" *ngFor="let option of intelipost.content.delivery_options">
                <label (click)="addShippingToCart($event, option)">
                    <i class="far" [ngClass]="{'fa-square': !checkOption(option.delivery_method_name), 'fa-check-square': checkOption(option.delivery_method_name)}"></i>
                    {{option.delivery_method_name}} | até {{option.delivery_estimate_business_days}} dias úteis -
                    <strong *ngIf="shippingCost(option)  == 0">Frete Grátis</strong>
                    <strong>{{option.final_shipping_cost | currencyFormat }}</strong>
                </label>
            </div>
        </div>
        <div class="shipping-pickupstore">
            <div class="radio" If="branches.length > 0" *ngFor="let branch of allowPickUpStore()">
                <label (click)="addShippingToCart($event, null, branch)">
                    <i class="far" [ngClass]="{'fa-square': !checkOption(null, branch), 'fa-check-square': checkOption(null, branch)}"></i>
                    <strong> Retirar na Loja : </strong>{{branch.name}} - 
            <strong>
                <span *ngIf="branch.deliveryTime == 0">Pronta Entrega</span>
                <span *ngIf="branch.deliveryTime != 0">Retirada em até {{branch.deliveryTime}} dias úteis </span>
                <span *ngIf="branch.value == 0"> - Grátis</span>
                <span *ngIf="branch.value != 0"> - {{branch.value | currencyFormat }}</span>
            </strong>
            <br>
            <span>{{branch.addressLine1}}, {{branch.number}} {{branch.addressline2}} - {{branch.city}}/{{branch.state}}</span>
                </label>
            </div>
        </div>
        <p class="alert">
            O prazo de envio conta apenas após a aprovação do pagamento.
        </p>
    </div>
</div>