<!-- <div class="cssload-container" *ngIf="!small">
	<div class="cssload-speeding-wheel"></div>
</div>
<span *ngIf="small" class="mini-loader">
	<span class="mini-loader-inner"></span>
</span> -->

<i class="fas fa-circle-notch fa-spin"></i>