<main role="main" *ngIf="getStore()">
    <banner *ngIf="id" [module]="module" [store]="getStore()" [moduleId]="id" place="1"></banner>
    <div id="layout" *ngIf="hasItens()">
        <div class="container">
            <div class="bread-crumb">
                <bread-crump *ngIf="getBreadCrump()" [categorys]="getBreadCrump() "></bread-crump>
            </div>
            
            <div class="category-filter">
                <!-- Filter Box -->
                <!-- <div class="filter-box d-block d-sm-none">
                    <div class="clearfix" id="filterby-title">
                        <button (click)="filterBox()" class="btn-filter">Filtrar</button>
                    </div>
                    <div id="filter" style="display: none;">
                        <div class="filter-header">
                            <div class="clearfix">
                                <button class="btn-close pull-left">
                                    <img src="assets/images/icon-close.svg" alt="Fechar">
                                </button>
                                <a href="#" (click)="clearFilter($event)" class="btn-clear-all pull-right">Remover Filtros</a>
                            </div>
                            <b>
                                <img src="assets/images/icon-filter.svg" alt=""> Filtrar por</b>
                        </div>
                        <ul class="lvl1">
                            <li class="lvl1-item">
                                <button class="lvl1-link">
                                    Categoria
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </button>
                                <div class="lvl2">
                                    <div>
                                        <div class="filter-header">
                                            <div class="clearfix">
                                                <button class="btn-back pull-left">
                                                    <img src="assets/images/icon-back.svg" alt="Voltar">
                                                </button>
                                                <a href="#" (click)="clearFilter($event)" class="btn-clear-all pull-right">Remover
                                                    Filtros</a>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" *ngFor="let category of categories; trackBy: trackById">
                                            <div class="panel-heading">{{category.name}}</div>
                                            <div class="panel-body">
                                                <ul class="lvl2-items">
                                                    <li class="lvl2-item">
                                                        <label (click)="addFilter($event, 'category', category.id)">
                                                            <input type="checkbox" [checked]="isChecked('category', category.id)" [value]="category.id" class="v-middle">
                                                            <span class="v-middle">Tudo em
                                                                <strong>{{category.name}}</strong>
                                                            </span>
                                                            <span *ngIf="category.quantity > 0" class="badge">{{category.quantity}}</span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="lvl1-item" *ngIf="brands.length > 0">
                                <button class="lvl1-link">
                                    Marcas
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </button>
                                <div class="lvl2">
                                    <div class="filter-header">
                                        <div class="clearfix">
                                            <button class="btn-back pull-left">
                                                <img src="assets/images/icon-back.svg" alt="Voltar">
                                            </button>
                                            <a href="#" (click)="clearFilter($event)" class="btn-clear-all pull-right">Remover
                                                Filtros</a>
                                        </div>
                                    </div>
                                    <ul class="lvl2-items">
                                        <li class="lvl2-item" *ngFor="let brand of brands; trackBy: trackById">
                                            <label (click)="addFilter($event, 'brand', brand.id)">
                                                <input type="checkbox" [checked]="isChecked('brand', brand.id)" [value]="brand.id" class="v-middle">
                                                <span class="v-middle">{{brand.name}}</span>
                                                <span *ngIf="brand.quantity > 0" class="badge">{{brand.quantity}}</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="lvl1-item" *ngIf="brands.length == 0">
                                <button class="lvl1-link">
                                    Marcas
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </button>
                                <div class="lvl2">
                                    <div class="filter-header">
                                        <div class="clearfix">
                                            <button class="btn-back pull-left">
                                                <img src="assets/images/icon-back.svg" alt="Voltar">
                                            </button>
                                            <a href="#" (click)="clearFilter($event)" class="btn-clear-all pull-right">Remover
                                                Filtros</a>
                                        </div>
                                    </div>
                                    <ul class="lvl2-items">
                                        <li class="lvl2-item" *ngFor="let brand of brands; trackBy: trackById">
                                            <label (click)="addFilter($event, 'brand', brand.id)">
                                                <input type="checkbox" [checked]="isChecked('brand', brand.id)" [value]="brand.id" class="v-middle">
                                                <span class="v-middle">{{brand.name}}</span>
                                                <span *ngIf="brand.quantity > 0" class="badge">{{brand.quantity}}</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="lvl1-item">
                                <button class="lvl1-link">
                                    Variações
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </button>
                                <div class="lvl2">
                                    <div class="filter-header">
                                        <div class="clearfix">
                                            <button class="btn-back pull-left">
                                                <img src="assets/images/icon-back.svg" alt="Voltar">
                                            </button>
                                            <a href="#" (click)="clearFilter($event)" class="btn-clear-all pull-right">Remover
                                                Filtros</a>
                                        </div>
                                    </div>
                                    <ul class="lvl2-items">
                                        <li class="lvl2-item" *ngFor="let variation of variations; trackBy: trackById">
                                            <label (click)="addFilter($event, 'variation', variation.id)">
                                                <input type="checkbox" [checked]="isChecked('variation', variation.id)" [value]="variation.id" class="v-middle">
                                                <span class="v-middle">{{variation.name}}</span>
                                                <span *ngIf="variation.quantity > 0" class="badge">{{variation.quantity}}</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="lvl1-item">
                                <button class="lvl1-link">
                                    Opções
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </button>
                                <div class="lvl2">
                                    <div class="filter-header">
                                        <div class="clearfix">
                                            <button class="btn-back pull-left">
                                                <img src="assets/images/icon-back.svg" alt="Voltar">
                                            </button>
                                            <a href="#" (click)="clearFilter($event)" class="btn-clear-all pull-right">Remover
                                                Filtros</a>
                                        </div>
                                    </div>
                                    <ul class="lvl2-items">
                                        <li class="lvl2-item" *ngFor="let option of options; trackBy: trackById">
                                            <label (click)="addFilter($event, 'option', option.id)">
                                                <input type="checkbox" [checked]="isChecked('option', option.id)" [value]="option.id" class="v-middle">
                                                <span class="v-middle">{{option.name}}</span>
                                                <span *ngIf="option.quantity > 0" class="badge">{{option.quantity}}</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>

            <div class="d-flex align-items-center justify-content-between category-filter-mobile d-sm-none">
                <button id="show-filter-mobile" class="btn-filter">Filtrar</button>

                <form class="form-inline" *ngIf="!isLoading()">
                    <select *ngIf="totalItens() > 0 && showValues()" class="form-control" name="orderBy" [(ngModel)]="sort" (change)="changeOrdernation($event)">
                        <option *ngFor="let option of orderSearchOptionsEcommerce; trackBy: trackById" [value]="option.value">{{option.label}}</option>
                    </select>
                    <select *ngIf="totalItens() > 0 && !showValues()" class="form-control" name="orderBy" [(ngModel)]="sort" (change)="changeOrdernation($event)">
                        <option *ngFor="let option of orderSearchOptionsCatalog; trackBy: trackById" [value]="option.value">{{option.label}}</option>
                    </select>
                </form>
            </div>

            <div class="category-list-row row">
                <!-- Filter Sidebar -->
                <div class="col-12 col-sm-3 filter-left d-none d-sm-block">
                    <!-- Filtrar por Categorias -->
                    <div class="filter-items-categories" *ngIf="showFilter(categories)">
                        <div *ngFor="let category of categories; trackBy: trackById" [ngClass]="{'d-none': !isChecked('category', category.id), 'category-filter-item': true}">
                            <h5 class="admake-title">{{category.name}}</h5>
                            <div *ngIf="category.children" class="sub-categories" [ngClass]="{'in': isChecked('category', category.id)}">
                                <ul *ngIf="category.children.length > 0">
                                    <li *ngFor="let child of category.children; trackBy: trackById">
                                        <a [ngClass]="{'checked': isChecked('category', child.id)}" [routerLink]="[getRoute()]" (click)="addFilter($event, 'category', child.id)">
                                            <i [ngClass]="{'fa-square-o': !isChecked('category', child.id), 'fa-check-square-o': isChecked('category', child.id)}" class="fa"
                                                aria-hidden="true"></i>
                                            {{child.name}}
                                            <small *ngIf="child.quantity > 0" class="text-info-qty">({{child.quantity}})</small>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Filtrar por Marcas -->
                    <div class="filter-by" *ngIf="showFilter(brands)">
                        <h3 class="title">Filtrar por</h3>
                        <div class="filter-items marcas">
                            <b class="caption">Marcas</b>
                            <ul class="facet-brands mCustomScrollbar">
                                <li *ngFor="let brand of brands; trackBy: trackById">
                                    <a [ngClass]="{'checked': isChecked('brand', brand.id)}" [routerLink]="[getRoute()]" (click)="addFilter($event, 'brand', brand.id)">
                                        <i [ngClass]="{'fa-square-o': !isChecked('brand', brand.id), 'fa-check-square-o': isChecked('brand', brand.id)}" class="fa"
                                            aria-hidden="true"></i>
                                        {{brand.name}}
                                        <small *ngIf="brand.quantity > 0" class="text-info-qty">({{brand.quantity}})</small>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Filtrar por Opções -->
                    <div class="filter-by" *ngIf="showFilter(options) && !isHiddenVariation()">
                        <div class="filter-items marcas">
                            <b class="caption">Opções</b>
                            <ul>
                                <li *ngFor="let option of options; trackBy: trackById">
                                    <a [ngClass]="{'checked': isChecked('option', option.id)}" [routerLink]="[getRoute()]" (click)="addFilter($event, 'option', option.id)">
                                        <i [ngClass]="{'fa-square-o': !isChecked('option', option.id), 'fa-check-square-o': isChecked('option', option.id)}" class="fa"
                                            aria-hidden="true"></i>
                                        {{option.name}}
                                        <small *ngIf="option.quantity > 0" class="text-info-qty">({{option.quantity}})</small>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter-by" *ngIf="totalItens() > 0 && showValues()">
                        <div class="filter-items">
                            <b class="caption">Filtrar por Preço</b>

                            <div class="d-flex">
                                <div class="form-group">
                                    <label for="" class="control-label">Valor mínimo</label>
                                    <input type="text" [attr.min]="minimumPrice" [(ngModel)]="minimumPrice" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label">Valor máximo</label>
                                    <input type="text" [attr.min]="minimumPrice" [(ngModel)]="maximumPrice" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="btn-group" role="group" aria-label="Ações de filtro">
                        <button class="btn btn-default" (click)="filterByPriceRange($event)">Aplicar Filtro</button>
                        <button class="btn btn-danger" (click)="removeFilterByPriceRange($event)">Remover Filtro</button>
                    </div>
                    <banner-side *ngIf="id" [module]="module" [store]="getStore()" [moduleId]="id" [place]="2"></banner-side>
                </div>
                <!-- Results -->
                <div class="col-12 col-sm-9 main-content">
                    <div class="row-order-by d-none d-sm-block">
                        <div class="order-by d-flex">
                            <form class="form-inline pr-4" *ngIf="!isLoading()">
                                <select *ngIf="totalItens() > 0 && showValues()" class="form-control" name="orderBy" [(ngModel)]="sort" (change)="changeOrdernation($event)">
                                    <option *ngFor="let option of orderSearchOptionsEcommerce; trackBy: trackById" [value]="option.value">{{option.label}}</option>
                                </select>
                                <select *ngIf="totalItens() > 0 && !showValues()" class="form-control" name="orderBy" [(ngModel)]="sort" (change)="changeOrdernation($event)">
                                    <option *ngFor="let option of orderSearchOptionsCatalog; trackBy: trackById" [value]="option.value">{{option.label}}</option>
                                </select>
                            </form>
                            <span class="results-found-text"> {{resultsFound()}} </span>
                        </div>
                    </div>
                    <div class="search-catalog showcase" *ngIf="!isLoading() && products">
                        <div class="showcase-items d-flex justify-content-start align-items-start flex-wrap">
                            <div class="showcase-item" *ngFor="let product of products; trackBy: trackById">
                                <product-grid-item [product]="product" [store]="getStore()" showCompare="true"></product-grid-item>
                            </div>
                        </div>
                    </div>
                    
                    <!-- paginacao -->
                    <search-pagination *ngIf="numPages > 1" [page]="page" [pagination]="pagination" (pageChanged)="navigate($event)"></search-pagination>
                    <!-- /paginacao -->
                </div>
            </div>
        </div>
    </div>

    <div class="page-not-found row" *ngIf="!hasItens()">
        <div class="col-sm-6">
            <img src="/assets/images/gif-search.gif" class="img-responsive">
        </div>

        <div class="col-sm-6 magrin-initial">
            <span>O que pode ter acontecido?</span>

            <ul class="list-group magrin-initial-ul">
                <li class="list-group-item"> - Não existem resultados para o termo buscado.</li>
                <li class="list-group-item"> - Não existem resultados para o filtro selecionado.</li>
                <li class="list-group-item"> - Essa página não existe.</li>
            </ul>

            <a class="btn btn-primary pull-right" href="/"> Ir para a página inicial</a>
        </div>
    </div>
</main>

<!-- Comparar produto -->
<div id="to-compare" *ngIf="isCompare()">
    <div class="container">
        <div class="box-compare col-md-3 col-sm-12">
            <a [routerLink]="['/compare', {'compare': queryCompare()}]" class="btn btn-compare">comparar</a>
            <span class="quanty pull-right">
                {{getCompare().length}}
            </span>
        </div>
        <div class="text text-alert col-md-9 col-sm-12 clearfix">
            <span class="pull-left col-sm-10">
                Você pode comparar até 3 produtos
            </span>
            <div class="pull-right col-sm-2">
                <button type="button" (click)="closeCompare()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Fechar</span>
                </button>
            </div>
        </div>
        <div class="col-md-1 col-sm-2">
        </div>
    </div>
</div>
<!-- Comparar produto -->