<nav class="pagination-box">
    <ul class="pagination justify-content-end">
        <li class="page-item first" [ngClass]="{'disabled': page <= 1}">
            <a class="page-link" href="#" aria-label="Previous" (click)="navigate(1, $event)">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                <span class="sr-only">First</span>
            </a>
        </li>
        <li class="page-item previous" [ngClass]="{'disabled': page <= 1}">
            <a class="page-link" href="#" aria-label="Previous" (click)="navigate(page - 1, $event)">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li *ngFor="let p of pages" [ngClass]="{'active': page == p.id}" class="page-item">
            <a class="page-link" href="#" (click)="navigate(p.id, $event)" [attr.title]="p.id">{{p.name}}</a>
        </li>
        <li class="page-item next" [ngClass]="{'disabled': page >= numPages}">
            <a class="page-link" href="#" aria-label="Next" If="(page + 1) < numPages" (click)="navigate(page + 1, $event)">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
            </a>
        </li>
        <li class="page-item last" [ngClass]="{'disabled': page >= numPages}">
            <a class="page-link" href="#" aria-label="Next End" (click)="navigate(numPages, $event)">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                <span class="sr-only">Last</span>
            </a>
        </li>
    </ul>
</nav>

<!--<button *ngIf="page < numPages" (click)="listProducts(page + 1, $event)" class="btn btn-block btn-default btn-show-more">Ver mais produtos <i class="fa fa-angle-down" aria-hidden="true"></i></button>-->