<div class="cep-box">
    <div class="cep-form-box d-sm-flex justify-content-sm-between align-items-sm-center flex-wrap flex-sm-nowrap">
        <i class="fas fa-truck-moving"></i>
        <p class="message">
            Calcule o Frete <br />
            <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/buscaCepEndereco.cfm" target="_blank">Não sei meu CEP</a>
        </p>
        <form (submit)="calculate($event)">
            <div class="input-box overflow-hidden">
                <input class="form-control" type="text" name="zipCode" id="zipCode" [(ngModel)]="zipCode" maxlength="9" zipcodeMask
                    placeholder="CEP" (input)="inputShipping($event)">
            </div>
        </form>
        <div class="loader" *ngIf="loading">
            <wait-loader [small]="true"></wait-loader>
        </div>
    </div>
    <div class="cep-result" *ngIf="deliveryOptions.length > 0 || branches.length > 0">
        <table class="table">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Prazo</th>
                </tr>
            </thead>
            <tbody>
                <!-- <div *ngIf="deliveryOptions.length > 0"> -->
                    <tr class="delivery-item" *ngFor="let option of deliveryOptions">
                        <td>{{option.delivery_method_name}}</td>
                        <td>
                            <strong>
                                até {{option.delivery_estimate_business_days}} dias úteis -
                                <span *ngIf="option.final_shipping_cost == 0">Frete Grátis</span>
                                <span *ngIf="option.final_shipping_cost != 0">{{option.final_shipping_cost | currencyFormat }}</span>
                            </strong>
                        </td>
                    </tr>
                <!-- </div>
                <div *ngIf="branches.length > 0"> -->
                    <tr class="delivery-item" *ngFor="let option of branches">
                        <td>Retirar na Loja</td>
                        <td>
                            {{option.name}} - 
                            <strong>
                                <span *ngIf="option.deliveryTime == 0">Pronta Entrega</span>
                                <span *ngIf="option.deliveryTime != 0">Retirada em até {{option.deliveryTime}} dias úteis </span>
                                <span *ngIf="option.value == 0"> - Grátis</span>
                                <span *ngIf="option.value != 0"> - {{option.value | currencyFormat }}</span>
                            </strong>
                            <br>
                            <span>{{option.addressLine1}}, {{option.number}} {{option.addressline2}} - {{option.city}}/{{option.state}}</span>
                        </td>
                    </tr>
                <!-- </div> -->
            </tbody>
        </table>
    </div>
</div>