<div class="half-banners" [ngClass]="{'d-none d-sm-block': typebanner == 'mini-banners' }">
    <div [ngClass]="{'container': typebanner == 'mini-banners' }">
        <div class="row">
            <div *ngFor="let banner of getMiniBanners(banners, typebanner); let i = index" class="mini-banner-{{ i }}" [ngClass]="{'col-3': typebanner == 'mini-banners', 'col-12 col-sm-6': typebanner == 'showcase', 'd-none d-sm-block': (typebanner == 'showcase' && i > 0) }">
                <a *ngIf="banner.url" [attr.href]="banner.url" target="_blank">
                    <img [attr.src]="getBannerUrl(banner)" [attr.alt]="banner.name" class="img-fluid">
                </a>
                <img *ngIf="!banner.url" [attr.src]="getBannerUrl(banner)" [attr.alt]="banner.name" class="img-fluid">
            </div>
        </div>
    </div>
</div>