<div class="admake-institucional">
    <img src="https://i.imgur.com/F2BzFsL.jpg" class="img-fluid w-100" />
    
    <h2>Atendimento <b>Empresarial</b></h2>
    <h4>Ação indique um Amigo e ganhe vantagens*</h4>

    <p>Nós da DDMáquinas também atendemos empresas e temos condições especiais.</p>

    <p>
        Faça seu cadastro com nosso departamento comercial e utilize vários beneficios como: <br>
        Atendimento personalizado com executivo de vendas; <br>
        Formas de pagamento diferenciados (para compras empresariais), como o cartão BNDES; <br>
        Logística própria, trazendo facilidade e pontualidade na entrega; <br>
    </p>

    <p>
        Funciona assim: <br>
        Entre em contato e solicite uma visita, hoje mesmo!
    </p>

    <div class="box-contact bg-1 pr-5 pl-5 pt-3 pb-3 d-table">
        <b><i class="fas fa-phone"></i> (15) 3519-3500</b> <br>
        <b><i class="far fa-envelope"></i> ddmaquinas@ddmaquinas.com.br</b>
    </div>

</div>