<div class="admake-institucional">
    <img src="https://i.imgur.com/zsHKhhj.png" alt="" class="img-fluid w-100" />

    <h2>Benefício estudante <b>Dewalt</b></h2>

    <div class="row align-items-center">
        <div class="col-12 col-sm-6 col-md-8">
            <p>Este desconto <b>"Benefício Estante – DeWALT e DDMáquinas"</b> é disponibilizado pela Dewalt, se aplica para estudantes de qualquer instituição de ensino médio ou superior credenciadas, que devem atender as qualificações adicionais descritas abaixo.</p>
            <p>O "Estudante Qualificado" pode receber até 5% de desconto nas compras de produtos das famílias Black&Decker, Stanley e Dewalt. Por um período máximo de até 12 (doze) meses consecutivos ("Período de desconto") podendo
            ser alterado, prorrogado ou cancelado sem aviso prévio.</p>
            <p>Para validar sua participação, é necessário enviar informações adequadas, para que possamos verificar se você é
            um realmente um estudante, como o seu nome, instituição de ensino válida, e-mail, data de nascimento e demais dados para que seja qualificado ao benefício.</p>
            <p>O benefício não é cumulativo com outros descontos, válido somente para produtos participantes da promoção.
            Ao enviar as informações solicitadas você, aceita os termos de uso e condições do "Benefício Estudantil", bem
            como nossa política de privacidade e Termos de uso e condições da Dewalt Brasil.</p>
            <p>Segue abaixo um código de desconto para você utilizar em sua próxima compra, atraves do nosso site: <a href="www.ddmaquinas.com.br" target="_blank">www.ddmaquinas.com.br</a></p>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="cupom-border">
                <h3>Cupom de desconto:</h3>

                <b>PN761119538BR</b>

                <p>Com este número você pode ganhar até 5% de desconto em sua próxima compra.</p>
            </div>
        </div>
    </div>
</div>