<div class="admake-institucional">
    <img src="https://i.imgur.com/1VME7we.jpg" class="img-fluid w-100" />
    
    <h2>Indique um <b>amigo</b></h2>
    <h4>Ação indique um Amigo e ganhe vantagens*</h4>

    <p>
        Indique um amigo e ganhe bonus em suas próximas compras, ganhe até  R$30,00* de desconto. <br>
        Para participar é muito fácil, preencha o cadastro e indique seu amigo, pronto você já esta participando. <br>
        Para ganhar o benefício, o seu amigo tem que efetuar a compra , assim comprovamos que a indicação foi real :)
    </p>

    <p>Funciona assim:</p>
    <ul>
        <li><b>1 indicação:</b> R$ 10,00 de bônus na compra</li>
        <li><b>2 indicações:</b> R$20,00 de bônus nas compras via site</li> 
        <li><b>3 indicações:</b> R$30,00 de bônus nas compras via site</li>
    </ul>
    <br>
    <p>*Limite de até 3 bonus por mês em suas compras por CPF.</p>
    <p>Além do bônus nas compras, você também recebe em primeira mão nossas novidades e ofertas por mês, atendimento preferencial, agilidade nas compras :)</p>

    <br>
    <h4>Saiba como participar:</h4>

    <p>O cliente receberá o desconto assim que o amigo indicado efetuar a compra, o bônus é envido em formato de voucher, com o código promocional para utilizar no site <a href="www.ddmaquinas.com.br" target="_blank">www.ddmaquinas.com.br</a></p>

    <br>
    <br>
    <h3><a href="https://pt.surveymonkey.com/r/322ZJTY" target="_blank">Click aqui</a> e preencha os dados! :)</h3>
    <br>
    <p>
        Para maiores informações, sugestões ou duvidas entre em contato via central de segunda a sexta das 7:30 até as 18:00 fone: (15) 3519-3500 ou sac@ddmaquinas.com.br <br>
        A programa de incentivo ao amigo pode ser cancelado sem aviso prévio. <br>
        Desconto e bônus valido para compras acima de R$50,00 <br>
        Promoção válida somente para pessoa física, não tem efeito em pessoa jurídica e essa promoção não é acumulativa.
    </p>

</div>