<div class="shipping-box" *ngIf="!isMobile()">
    <form [formGroup]="formShipping" class="shipping-form" (submit)="calculate()">
        <label for="shipping-number"> Simule o prazo de entrega e o frete para seu CEP abaixo </label>
        <div class="d-flex justify-content-start align-items-center flex-wrap flex-sm-nowrap">
            <div class="input-box overflow-hidden">
                <input zipcodeMask formControlName="zipCode" type="text" maxlength="9" placeholder="CEP">
                <button [disabled]="formShipping.invalid" type="submit" class="btn-send">OK</button>
            </div>
            <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/buscaCepEndereco.cfm" target="_blank" class="link">Não sei meu CEP</a>
            <div class="shipping-loader" *ngIf="loading">
                <wait-loader [small]="true"></wait-loader>
            </div>
        </div>
    </form>
    <div class="list-group shipping-list" *ngIf="deliveryOptions.length > 0">
        <a *ngFor="let option of deliveryOptions" (click)="addShippingIntelipostToCart(option)" [ngClass]="{'list-group-item-info': checkOption(option.delivery_method_name)}"
            class="list-group-item" href="javascript:void(0)">
            {{option.delivery_method_name}}
            <strong>até
                <span class="time">{{option.delivery_estimate_business_days}}</span> dias úteis -
                <span class="" *ngIf="option.final_shipping_cost == 0">Frete Grátis</span>
                <span class="price" *ngIf="option.final_shipping_cost != 0">{{option.final_shipping_cost | currencyFormat
                    }}</span>
            </strong>
        </a>
    </div>

    <div class="list-group shipping-list" *ngIf="branches.length > 0">
        <a *ngFor="let option of allowPickUpStore()" (click)="addShippingBranchToCart(option)" [ngClass]="{'list-group-item-info': checkOption(null, option)}"
            class="list-group-item" href="javascript:void(0)">
            <strong>Retirar na Loja : </strong>{{option.name}} - 
            <strong>
                <span *ngIf="option.deliveryTime == 0">Pronta Entrega</span>
                <span *ngIf="option.deliveryTime != 0">Retirada em até {{option.deliveryTime}} dias úteis </span>
                <span *ngIf="option.value == 0"> - Grátis</span>
                <span *ngIf="option.value != 0"> - {{option.value | currencyFormat }}</span>
            </strong>
            <br>
            <span>{{option.addressLine1}}, {{option.number}} {{option.addressline2}} - {{option.city}}/{{option.state}}</span>
        </a>
    </div>

</div>

<div class="shipping-box" *ngIf="isMobile()">
    <form [formGroup]="formShipping" class="shipping-form" (submit)="calculate($event)">
        <div class="form-group">
            <label for="shipping-number">
                Simule o prazo de entrega e o frete para seu CEP abaixo
            </label>
            <input zipcodeMask formControlName="zipCode" type="text" class="form-control" id="zipCode" maxlength="9" placeholder="CEP">
        </div>
        <button [disabled]="formShipping.invalid" type="submit" class="btn btn-default">Calcular Frete</button>
    </form>
    <div class="list-group" *ngIf="deliveryOptions.length > 0">
        <a *ngFor="let option of deliveryOptions" (click)="addShippingIntelipostToCart(option)" [ngClass]="{'list-group-item-info': checkOption(option.delivery_method_name)}"
            class="list-group-item" href="javascript:void(0)">
            {{option.delivery_method_name}}
            <strong>até
                <span class="time">{{option.delivery_estimate_business_days}}</span> dias úteis -
                <span class="" *ngIf="option.final_shipping_cost == 0">Frete Grátis</span>
                <span class="price" *ngIf="option.final_shipping_cost != 0">{{option.final_shipping_cost | currencyFormat
                    }}</span>
            </strong>
        </a>
    </div>

    <div class="list-group shipping-list" *ngIf="branches.length > 0">
        <a *ngFor="let option of allowPickUpStore()" (click)="addShippingBranchToCart(option)" [ngClass]="{'list-group-item-info': checkOption(null, option)}"
            class="list-group-item" href="javascript:void(0)">
            <strong>Retirar na Loja : </strong>{{option.name}} - 
            <strong>
                <span *ngIf="option.deliveryTime == 0">Pronta Entrega</span>
                <span *ngIf="option.deliveryTime != 0">Retirada em até {{option.deliveryTime}} dias úteis </span>
                <span *ngIf="option.value == 0"> - Grátis</span>
                <span *ngIf="option.value != 0"> - {{option.value | currencyFormat }}</span>
            </strong>
            <br>
            <span>{{option.addressLine1}}, {{option.number}} {{option.addressline2}} - {{option.city}}/{{option.state}}</span>
        </a>
    </div>
</div>