<span class="showcase-item-border" [attr.id]="'sku_' + sku.id">
    <!-- {{ product | json }} -->
    <span class="flags"></span>
    <campaign [store]="store" [sku]="sku">
        <span class="thumb">
            <a [routerLink]="[getRoute()]" [attr.title]="product.name">
                <img [attr.src]="getCoverImage()" [attr.alt]="product.name" class="img-fluid" (mouseenter)="setCoverImage(true)"
                    (mouseleave)="setCoverImage(false)">
            </a>
        </span>
    </campaign>
    <h3 class="product-name">
        <a [routerLink]="[getRoute()]" [attr.title]="product.name">
            {{product.name}}
        </a>
    </h3>
    <span class="price-box" *ngIf="price > 0">
        <div *ngIf="promotionalPrice > 0">
            <span class="old-price">
                <span class="price-label d-none">De:</span>
                <span class="price">{{price | currencyFormat }}</span>
            </span>
            <span class="regular-price">
                <span class="price-label d-none">Por</span>
                <span class="price">{{promotionalPrice | currencyFormat }}</span>
            </span>
            <installment-simulation [sku]="sku" [isSimpleSimulation]="true"></installment-simulation>
        </div>
        <div *ngIf="promotionalPrice == 0">
            <span class="regular-price">
                <span class="price-label"></span>
                <span class="price">{{price | currencyFormat }}</span>
            </span>
            <installment-simulation [sku]="sku" [isSimpleSimulation]="true"></installment-simulation>
        </div>
        <!-- <hr>
        <payment-ticket [price]="price" [promotionalPrice]="promotionalPrice"></payment-ticket> -->
    </span>
    <a *ngIf="isAvailable()" [routerLink]="[getRoute()]" class="btn-buy">
        <span *ngIf="!isBudget()">Comprar</span>
        <span *ngIf="isBudget()">Orçar</span>
    </a>
    <a *ngIf="!isAvailable()" [routerLink]="[getRoute()]" class="btn-not-stock">Indisponível</a>
    <span class="comparar" *ngIf="showCompare">
        <a href="#" [ngClass]="{'checked': isComparing(product.id)}" (click)="addToCompare($event, product)">
            <i [ngClass]="{'fa-square-o': !isComparing(product.id), 'fa-check-square-o': isComparing(product.id)}"
                class="fa" aria-hidden="true"></i> Comparar
        </a>
    </span>
</span>