

.border {
    padding: 20px 15px !important;
  }
  
.border h3.product-name {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    max-height: 55px !important;
    min-height: 55px !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
}