<!-- Parte principal do site -->
<main *ngIf="store" role="main">
    
    <showcase-banner-stripe [store]="store" [banners]="stripeBanners"></showcase-banner-stripe>
    
    <showcase-banner [store]="store" [banners]="banners"></showcase-banner>
    
    <showcase-banner-half [store]="store" [banners]="halfBanners" typebanner="mini-banners"></showcase-banner-half>
    
    <div class="container">
        <showcase-group [store]="store" [showcaseNumber]="0"></showcase-group>

        <showcase-banner-half [store]="store" [banners]="halfBanners" typebanner="showcase"></showcase-banner-half>

        <showcase-group [store]="store" [showcaseNumber]="1"></showcase-group>
    </div>

</main>