<div id="newsletter">
    <div class="container">
        <div id="box-newsletter" class="d-sm-flex justify-content-sm-between align-items-sm-center flex-wrap flex-lg-nowrap">
            <img src="assets/images/icon-news.png" alt="" width="48" height="33" class="icon" />
            <b>Receba promoções e descontos em seu E-mail</b>
            <form [formGroup]="newsletterForm" (submit)="signupNewsLetter($event)" class="form">
                <div class="d-sm-flex justify-content-sm-between align-items-sm-center flex-wrap flex-sm-nowrap">
                    <div class="box-name" [ngClass]="{'has-error': hasError('name')}">
                        <input type="text" name="name" [(ngModel)]="newsletter.name" class="form-control form-input" 
                                placeholder="Nome" formControlName="name"
                            required>
                    </div>
                    <div class="box-email" [ngClass]="{'has-error': hasError('email')}">
                        <input type="email" name="email" [(ngModel)]="newsletter.email" class="form-control form-input" 
                                placeholder="E-mail" formControlName="email"
                            required>
                    </div>
                    <button type="submit" id="btn-newsletter" class="btn btn-default">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>