<div *ngIf="!isMobile()" class="image-group">
    <div class="image" *ngIf="pictures.length > 0">
        <campaign [store]="store" [sku]="sku">
            <img id="product-image-zoom" [attr.src]="getPictureUrl(coverImg)" [attr.data-zoom-image]="getFullPictureUrl(coverImg)">
        </campaign>
    </div>
    <div class="image" *ngIf="pictures.length == 0">
        <campaign [store]="store" [sku]="sku">
            <img id="product-image-zoom" src="/assets/images/no-image.jpg">
        </campaign>
    </div>
    <ul *ngIf="pictures.length > 0" id="image-thumb">
        <li class="image-thumb-item" *ngFor="let picture of pictures">
            <a href="javascript:void(0)" (click)="setCoverImage(picture, $event)" [attr.data-image]="getPictureUrl(picture)"
                [attr.data-zoom-image]="getFullPictureUrl(picture)">
                <img [attr.id]="picture.id" [attr.src]="getThumbnailUrl(picture)" class="img-fluid center-block align-middle" />
            </a>
        </li>
    </ul>
</div>

<div *ngIf="isMobile()" class="image-group">
    <div class="image text-center" *ngFor="let picture of pictures">
        <campaign [store]="store" [sku]="sku">
            <img style="margin:0 auto" [attr.src]="getFullPictureUrl(picture)" class="img-fluid">
        </campaign>
    </div>
</div>