<div class="showcase showcase-owl showcase-home-{{ showcaseNumber }}" *ngFor="let group of getShowcaseGroup(showcaseNumber); trackBy: trackById">
    
    <h3 class="admake-title showcase-title">{{group.name}}</h3>

    <showcase-group-product [store]="store" [group]="group"></showcase-group-product> 

</div>