<div id="main-banner" class="container-fluid">
    <div class="showcase-banners list-style-none">
        <div *ngFor="let banner of getBanners()">
            <a *ngIf="banner.url" [attr.href]="banner.url" target="_blank">
                <img [attr.src]="getBannerUrl(banner)" [attr.alt]="banner.name" class="img-fluid"/>
            </a>
            <span *ngIf="!banner.url">
                <img [attr.src]="getBannerUrl(banner)" [attr.alt]="banner.name" class="img-fluid"/>
            </span>
        </div>
    </div>
</div>

<div class="welcome-home d-none d-sm-block" *ngIf="!isCustomer()">
    <div class="container">
        <p class="text-center">
            <i class="fas fa-user"></i>
            Bem-vindo à DD Máquinas. Faça seu 
            <a class="login-enter" [routerLink]="['/login']" title="Entre">login</a> ou
            <a class="about-us" [routerLink]="['/cadastrar']" title="Cadastre-se">cadastre-se</a>
        </p>
    </div>
</div>