<main role="main" class="container">
    <div class="container">
        <div class="col-details">
            <form [formGroup]="myForm" class="form-horizontal label-left" (submit)="signUp($event)">
                
                <h3 class="admake-title">Formulario de cadastro</h3>
                
                <br />
                <br />

                <label for="type" class=" control-label">Tipo de Cadastro</label>
                <nav class="nav nav-pills nav-justified">
                    <a href="#" [ngClass]="{'active': customer.type === 1}" class="nav-link" (click)="changeCustomerType(1, $event)">Pessoa Física</a>
                    <a href="#" [ngClass]="{'active': customer.type === 2}" class="nav-link" (click)="changeCustomerType(2, $event)">Pessoa Jurídica</a>
                </nav>

                <hr>
                <br />
                <h4>Dados Cadastrais</h4>
                        
                <div class="row">
                    <div class="form-group required col-sm-6" [ngClass]="{'has-error': hasError('firstname_Companyname')}">
                        <label for="firstname_Companyname" class="control-label">{{(customer.type == 1) ? 'Nome' : 'Nome da Empresa'}}</label>
                        <input type="text" id="firstname_Companyname" name="firstname_Companyname" formControlName="firstname_Companyname" class="form-control" [(ngModel)]="customer.firstname_Companyname" required>
                        <span *ngIf="hasError('firstname_Companyname')" class="help-block">O campo é obrigatório</span>
                    </div>
                    <div class="form-group required col-sm-6" [ngClass]="{'has-error': hasError('lastname_Tradingname')}">
                        <label for="lastname_Tradingname" class=" control-label">{{(customer.type == 1) ? 'Sobrenome' : 'Nome Fantasia'}}</label>
                        <input type="text" class="form-control" formControlName="lastname_Tradingname" [(ngModel)]="customer.lastname_Tradingname" required>
                        <span *ngIf="hasError('lastname_Tradingname')" class="help-block">O campo é obrigatório</span>
                    </div>
                </div>
                        
                <div class="row">
                    <!-- CPF/CNPJ -->
                    <div class="form-group required col-md-6" [ngClass]="{'has-error': errorCPF_CNPJ()}">
                        <label for="cpf_Cnpj" class=" control-label">{{(customer.type == 1) ? 'CPF' : 'CNPJ'}}</label>
                        <input cpfMask type="text" [attr.maxlength]="(customer.type == 1 ? 14 : 18)" class="form-control" required formControlName="cpf_Cnpj" [attr.placeholder]="(customer.type == 1 ? '000.000.000-00' : '00.000.000/0000-00')" [attr.data-type]="customer.type" [(ngModel)]="customer.cpf_Cnpj">
                        <span *ngIf="hasError('cpf_Cnpj')" class="help-block">O campo CNPJ é obrigatório</span>
                        <span *ngIf="(customer.type == 2 && !validCNPJ() && validCNPJ() != null)" class="text-danger">CNPJ Inválido</span>
                        <span *ngIf="(customer.type == 1 && !validCPF() && validCPF() != null)" class="text-danger">CPF Inválido</span>
                    </div>
                    <!--RG-->
                    <div class="form-group col-md-6">
                        <label for="rg_Ie" class=" control-label">{{(customer.type == 1) ? 'RG' : 'Inscrição Estadual'}}</label>
                        <input type="text" class="form-control" id="rg_Ie" [(ngModel)]="customer.rg_Ie" formControlName="rg_Ie">
                        <span *ngIf="hasError('rg_Ie')" class="help-block">O campo é obrigatório</span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group required col-md-6" *ngIf="customer.type == 1" [ngClass]="{'has-error': hasError('gender')}">
                        <label for="gender" class="control-label">Sexo</label>
                        <select class="form-control" formControlName="gender" [(ngModel)]="customer.gender" required>
                            <option *ngFor="let gender of genders" [value]="gender.value">{{gender.label}}</option>
                        </select>
                        <span *ngIf="hasError('gender')" class="help-block">O campo é obrigatório</span>
                    </div>
                    <div class="form-group required col-md-6" *ngIf="customer.type == 1" [ngClass]="{'has-error': hasError('birthdate')}">
                        <label for="birthdate" class=" control-label">{{(customer.type == 1) ? 'Data de Nascimento' : 'Data de Fundação'}}</label>
                        <input type="text" class="form-control date" formControlName="birthdate" placeholder="00/00/0000" maxlength="10" [(ngModel)]="customer.date">
                        <span *ngIf="hasError('birthdate')" class="help-block">O campo é obrigatório</span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group required col-md-6" [ngClass]="{'has-error': hasError('phone')}">
                        <label for="phone" class="control-label">Telefone</label>
                        <input phoneMask type="tel" maxlength="15" class="form-control" formControlName="phone" placeholder="(00) 0000-0000" [(ngModel)]="customer.phone" required>
                        <span *ngIf="hasError('phone')" class="help-block">O campo é obrigatório</span>
                    </div>
                    <div class="form-group col-md-6" [ngClass]="{'has-error': hasError('celPhone')}">
                        <label for="celPhone" class="control-label">Telefone 2</label>
                        <input phoneMask type="tel" maxlength="15" class="form-control" formControlName="celPhone" placeholder="(00) 00000-0000" [(ngModel)]="customer.celPhone">
                        <span *ngIf="hasError('celPhone')" class="help-block">O campo é obrigatório</span>
                    </div>
                </div>
                
                <br />
                <br />
                <h4>Dados de Entrega</h4>
                        
                <div class="row">
                    <div class="form-group required col-md-6" [ngClass]="{'has-error': hasError('zipCode')}">
                        <label for="zipCode" class="control-label">CEP</label>
                        <div class="row">
                            <div class="col-sm-7">
                                <input zipcodeMask (change)="getDne($event)" maxlength="9" type="text" class="form-control" formControlName="zipCode" placeholder="00000-000" required [(ngModel)]="customer.addresses[0].zipCode">
                                <span *ngIf="hasError('zipCode')" class="help-block">O campo é obrigatório</span>
                            </div>
                            <div class="col-sm-5">
                                <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/buscaCep.cfm" target="_blank" class="help-cep">
                                    Não sei meu CEP
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required col-md-6" [ngClass]="{'has-error': hasError('addressType')}">
                        <label for="addressType" class="control-label">Tipo de Endereço</label>
                        <select class="form-control" formControlName="addressType" [(ngModel)]="customer.addresses[0].addressType" required>
                            <option *ngFor="let type of addressTypes" [value]="type.value">{{type.label}}</option>
                        </select>
                        <span *ngIf="hasError('addressType')" class="help-block">O campo é obrigatório</span>
                    </div>
                </div>
                        
                <div class="row">
                    <div class="form-group required col-md-6" [ngClass]="{'has-error': hasError('addressLine1')}">
                        <label for="addressLine1" class="control-label">Endereço</label>
                        <input type="text" class="form-control" formControlName="addressLine1" placeholder="" required [(ngModel)]="customer.addresses[0].addressLine1">
                        <span *ngIf="hasError('addressLine1')" class="help-block">O campo é obrigatório</span>
                    </div>
                    <div class="form-group col-md-6 required" [ngClass]="{'has-error': hasError('number')}">
                        <label for="number" class="control-label">Número</label>
                        <input type="text" class="form-control" formControlName="number" placeholder="" [(ngModel)]="customer.addresses[0].number">
                        <span *ngIf="hasError('number')" class="help-block">O campo é obrigatório</span>
                    </div>
                </div>
                        
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="addressLine2" class="control-label">Complemento</label>
                        <input type="text" class="form-control" formControlName="addressLine2" placeholder="" [(ngModel)]="customer.addresses[0].addressLine2">
                    </div>
                    <div class="form-group required col-md-6" [ngClass]="{'has-error': hasError('district')}">
                        <label for="district" class="control-label">Bairro</label>
                        <input type="text" class="form-control" formControlName="district" placeholder="" required [(ngModel)]="customer.addresses[0].district">
                        <span *ngIf="hasError('district')" class="help-block">O campo é obrigatório</span>
                    </div>
                </div>
                        
                <div class="row">
                    <div class="form-group required col-md-6" [ngClass]="{'has-error': hasError('city')}">
                        <label for="city" class="control-label">Cidade</label>
                        <input type="text" class="form-control" formControlName="city" placeholder="" required [(ngModel)]="customer.addresses[0].city">
                        <span *ngIf="hasError('city')" class="help-block">O campo é obrigatório</span>
                    </div>
                    <div class="form-group required col-md-6" [ngClass]="{'has-error': hasError('state')}">
                        <label for="state" class="control-label">Estado</label>
                        <select class="form-control" formControlName="state" required [(ngModel)]="customer.addresses[0].state">
                            <option value="" disabled>Selecione</option>
                            <option *ngFor="let state of states" [value]="state.value">{{state.label}}</option>
                        </select>
                        <span *ngIf="hasError('state')" class="help-block">O campo é obrigatório</span>
                    </div>
                </div>
                
                <br />
                <br />
                <h4>Dados de Acesso</h4>
                <div class="row">
                    <div class="form-group col-sm-4 col-md-6 required" [ngClass]="{'has-error': hasError('email')}">
                        <label for="email" class="control-label">E-mail</label>
                        <input type="email" class="form-control" formControlName="email" placeholder="seu@email.com.br" required [(ngModel)]="customer.email">
                        <span *ngIf="hasError('email')" class="help-block">O campo é obrigatório</span>
                    </div>
                    <div class="form-group col-sm-4 col-md-3 required" [ngClass]="{'has-error': hasError('password')}">
                        <label for="password" class="control-label">Senha</label>
                        <input type="password" class="form-control" formControlName="password" required [(ngModel)]="customer.password">
                        <span *ngIf="hasError('password')" class="text-danger">A senha precisa ser forte. Recomendamos que contenha seis dígitos, letras e um números.</span>
                    </div>
                    <div class="form-group col-sm-4 col-md-3 required" [ngClass]="{'has-error': hasError('confirmPassword')}">
                        <label for="password" class="control-label"> Confirmar Senha</label>
                        <input type="password" class="form-control" formControlName="confirmPassword" required [(ngModel)]="confirmPassword">
                        <span *ngIf="hasError('confirmPassword')" class="text-danger">As senhas devem ser iguais</span>
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked="checked" formControlName="receivePromotionalAndNews" [(ngModel)]="customer.receivePromotionalAndNews"> Desejo receber e-mails promocionais
                    </label>
                </div>
                
                <br />
                <br />
                <div class="d-flex justify-content-between align-items-center">
                    <a [routerLink]="['/login']" [ngClass]="{'btn-lg btn-block': isMobile()}" class="btn btn-default">Voltar</a>
                    <button type="submit" [ngClass]="{'btn-lg btn-block': isMobile()}" class="btn btn-success">Cadastrar</button>
                </div>
                <br />
                <br />
                <br />
                <br />
                  
            </form>
        </div>
    </div>
</main>