<ol class="breadcrumb">
    <li><a [routerLink]="['/']">Home</a></li>
    <li If="crumps.length > 0" *ngFor="let crump of crumps" class="breadcrumb-item"><a [routerLink]="['/categoria', getRouteCategory(crump)]" [attr.title]="crump.name">{{crump.name}}</a></li>
</ol>